<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Application-Alias</key>
		<value>Application-Alias</value>
		<description>Alias of the application</description>
	</configuration-item>
	<configuration-item>
		<key>Default-Locale</key>
		<value>US</value>
		<description>Default localization</description>
	</configuration-item>
	<configuration-item>
		<key>Home-Folder</key>
		<value>C:\Application_Home\PS_V2</value>
		<description>Home folder path</description>
	</configuration-item>
	<configuration-item>
		<key>Deployment-Context</key>
		<value />
		<description>Relative path for deployment</description>
	</configuration-item>
	<configuration-item>
		<key>Development-Stage</key>
		<value>DEV</value>
		<description>Development stage</description>
	</configuration-item>
    <configuration-item>
        <key>LogService</key>
        <value>Text</value>
        <description>Log Service type</description>
    </configuration-item>
    <configuration-item>
        <key>LogFilepath</key>
        <value>C:\GPSServiceLog\InfoRecordExporterLog\</value>
        <description>Text log filepath</description>
    </configuration-item>
    <configuration-item>
        <key>ExportFilePath</key>
        <value>C:\InfoRecord_DataExporter\Result\</value>
        <description>Temp path for generated text file before uploaded to FTP</description>
    </configuration-item>
</configuration>