USE [PAS_DB_QA]
GO
/****** Object:  StoredProcedure [dbo].[SAP_Synchronous_GetMaterialPriceExportList]    Script Date: 12/13/2017 5:39:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SAP_Synchronous_GetMaterialPriceExportList]
	@FunctionId VARCHAR(10),
	@PROCESS_ID BIGINT OUTPUT
AS
BEGIN
	DECLARE @@PROCESS_ID BIGINT

	EXEC [dbo].[sp_PutLog] 'Locking Material Price No for Posting to SAP', 'SYSTEM', 'SAP Material Price Synchronous Service', @@PROCESS_ID OUTPUT, 'INF', 'INF', '0', @FunctionId, 2

	INSERT INTO [dbo].[TB_T_LOCK]
				([PROCESS_ID]
				,[MODULE_ID]
				,[FUNCTION_ID]
				,[USER_ID]
				,[USER_NAME]
				,[CREATED_BY]
				,[CREATED_DT]
				,[CHANGED_BY]
				,[CHANGED_DT])
			VALUES
				(@@PROCESS_ID
				,'0'
				,@FunctionId
				,'SYSTEM'
				,'SYSTEM'
				,'SYSTEM'
				,GETDATE()
				,NULL
				,NULL)

	SET @PROCESS_ID = @@PROCESS_ID

	select DISTINCT ISNULL(CAST(CAST(MP.PRICE_ID AS DECIMAL(14, 0)) AS VARCHAR), '') + '\t' + 
					REPLACE(ISNULL(CAST(CAST(0 AS DECIMAL(14, 0)) AS VARCHAR), ''), '.', ',')  + '\t' +
					ISNULL(Sl.VENDOR_CD, '') + '\t' +
					ISNULL(MP.MAT_NO, '') + '\t' +  
					ISNULL(VC.PROC_CHANNEL_CD, '') + '\t' +  
					ISNULL(MV.VENDOR_PLANT , '') + '\t' +  
					REPLACE(ISNULL(CAST(CAST(0 AS DECIMAL(14, 0)) AS VARCHAR), ''), '.', ',')  + '\t' +
					REPLACE(ISNULL(CAST(CAST(MNP.STD_DELIVERY_TIME AS DECIMAL(14, 0)) AS VARCHAR), ''), '.', ',')  + '\t' +
					REPLACE(ISNULL(CAST(CAST(MP.PRICE_AMOUNT AS DECIMAL(20, 0)) AS VARCHAR), ''), '.', ',') + '\t' +
					--CASE WHEN(ER.DECIMAL_FORMAT = '0') THEN REPLACE(ISNULL(CAST(CAST(MP.PRICE_AMOUNT AS DECIMAL(20, 0)) AS VARCHAR), ''), '.', ',') 
					--	 WHEN(ER.DECIMAL_FORMAT = '1') THEN REPLACE(ISNULL(CAST(CAST(MP.PRICE_AMOUNT AS DECIMAL(20, 1)) AS VARCHAR), ''), '.', ',')
					--	 WHEN(ER.DECIMAL_FORMAT = '2') THEN REPLACE(ISNULL(CAST(CAST(MP.PRICE_AMOUNT AS DECIMAL(20, 2)) AS VARCHAR), ''), '.', ',')
					--	 WHEN(ER.DECIMAL_FORMAT = '3') THEN REPLACE(ISNULL(CAST(CAST(MP.PRICE_AMOUNT AS DECIMAL(20, 3)) AS VARCHAR), ''), '.', ',')
					--	 WHEN(ER.DECIMAL_FORMAT = '4') THEN REPLACE(ISNULL(CAST(CAST(MP.PRICE_AMOUNT AS DECIMAL(20, 4)) AS VARCHAR), ''), '.', ',')
					--	 ELSE REPLACE(ISNULL(CAST(CAST(MP.PRICE_AMOUNT AS DECIMAL(20, 5)) AS VARCHAR), ''), '.', ',')
					--END + '\t' +
					REPLACE(ISNULL(CAST(CAST(1 AS DECIMAL(14, 0)) AS VARCHAR), ''), '.', ',')  + '\t' +
					ISNULL(MNP.BASE_UOM , '') + '\t' +  
					ISNULL(MP.CURR_CD , '') + '\t' +  
					ISNULL(VC.PURCHASING_GROUP_CD , '') + '\t' +  
					ISNULL([dbo].[fn_date_format](MP.VALID_DT_FROM), '') + '\t' +
					ISNULL([dbo].[fn_date_format](MP.VALID_DT_TO), '') + '\t' +
					REPLACE(ISNULL(CAST(CAST(1 AS DECIMAL(14, 0)) AS VARCHAR), ''), '.', ',') 
	from TB_M_MATERIAL_PRICE MP
		INNER JOIN TB_M_MATERIAL_NONPART MNP ON MNP.MAT_NO = MP.MAT_NO
		INNER JOIN TB_M_SOURCE_LIST SL ON SL.MAT_NO = MP.MAT_NO AND ISNULL(DELETE_FLAG,'N') = 'N'--AND GETDATE() BETWEEN SL.VALID_DT_FROM AND SL.VALID_DT_TO
		INNER JOIN TB_M_VALUATION_CLASS VC ON VC.VALUATION_CLASS = MNP.VALUATION_CLASS AND ITEM_CLASS = 'M' AND PROCUREMENT_TYPE ='RM'
		INNER JOIN TB_M_VENDOR MV ON MV.VENDOR_CD = SL.VENDOR_CD
		--LEFT JOIN TB_M_EXCHANGE_RATE ER ON MP.CURR_CD = ER.CURR_CD AND GETDATE() BETWEEN ER.VALID_DT_FROM AND ER.VALID_DT_TO AND ER.RELEASED_FLAG = '1'
		WHERE 1 = 1 AND (ISNULL(MP.SAP_NO,'') = '') -- OR (ISNULL(MP.SAP_NO,'') <> '' AND ((CONVERT(DATE,MP.CREATED_DT) = CONVERT(DATE, GETDATE())) OR (CONVERT(DATE,MP.CHANGED_DT) = CONVERT(DATE, GETDATE()))  ) ))

	--SELECT  ISNULL(CAST(CAST(MPRICE.PRICE_ID AS DECIMAL(14, 0)) AS VARCHAR), '') + '\t' +
	--		ISNULL(MPRICE.MAT_NO, '') + '\t' +
	--		ISNULL(MPRICE.CURR_CD, '') + '\t' +
	--		CASE WHEN(ER.DECIMAL_FORMAT = '0') THEN REPLACE(ISNULL(CAST(CAST(MPRICE.PRICE_AMOUNT AS DECIMAL(20, 0)) AS VARCHAR), ''), '.', ',') 
	--			 WHEN(ER.DECIMAL_FORMAT = '1') THEN REPLACE(ISNULL(CAST(CAST(MPRICE.PRICE_AMOUNT AS DECIMAL(20, 1)) AS VARCHAR), ''), '.', ',')
	--			 WHEN(ER.DECIMAL_FORMAT = '2') THEN REPLACE(ISNULL(CAST(CAST(MPRICE.PRICE_AMOUNT AS DECIMAL(20, 2)) AS VARCHAR), ''), '.', ',')
	--			 WHEN(ER.DECIMAL_FORMAT = '3') THEN REPLACE(ISNULL(CAST(CAST(MPRICE.PRICE_AMOUNT AS DECIMAL(20, 3)) AS VARCHAR), ''), '.', ',')
	--			 WHEN(ER.DECIMAL_FORMAT = '4') THEN REPLACE(ISNULL(CAST(CAST(MPRICE.PRICE_AMOUNT AS DECIMAL(20, 4)) AS VARCHAR), ''), '.', ',')
	--			 ELSE REPLACE(ISNULL(CAST(CAST(MPRICE.PRICE_AMOUNT AS DECIMAL(20, 5)) AS VARCHAR), ''), '.', ',')
	--		END + '\t' +
	--		ISNULL([dbo].[fn_date_format](MPRICE.VALID_DT_FROM), '') + '\t' +
	--		ISNULL([dbo].[fn_date_format](MPRICE.VALID_DT_TO), '') + '\t' +
	--		ISNULL(MPRICE.PC_NO, '') + '\t' +
	--		REPLACE(ISNULL(CAST(CAST(MPRICE.PRICE_STATUS AS DECIMAL(14, 0)) AS VARCHAR), ''), '.', ',')  + '\t' +
	--		ISNULL(MPRICE.SOURCE_DATA, '') + '\t' +
	--		ISNULL(MPRICE.DELETION_FLAG, '') + '\t' +
	--		ISNULL(MPRICE.CREATED_BY, '') + '\t' +
	--		ISNULL([dbo].[fn_date_format](MPRICE.CHANGED_DT), '')
	--FROM TB_M_MATERIAL_PRICE MPRICE
	--	LEFT JOIN TB_M_EXCHANGE_RATE ER ON MPRICE.CURR_CD = ER.CURR_CD AND GETDATE() BETWEEN ER.VALID_DT_FROM AND ER.VALID_DT_TO AND ER.RELEASED_FLAG = '1'
	--	WHERE 1 = 1
	--ORDER BY MPRICE.CREATED_DT DESC
END

