USE [PAS_DB_QA]
GO
/****** Object:  StoredProcedure [dbo].[SAP_Synchronous_GetInfoRecordFtpCredential]    Script Date: 12/13/2017 6:45:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SAP_Synchronous_GetSourceListFtpCredential]
AS
BEGIN
	SELECT
	(SELECT SYSTEM_VALUE + 'SL/TO_SAP/' FROM dbo.TB_M_SYSTEM WHERE FUNCTION_ID = 'FTP' AND SYSTEM_CD = 'URL') + ';' +
    (SELECT SYSTEM_VALUE FROM dbo.TB_M_SYSTEM WHERE FUNCTION_ID = 'FTP' AND SYSTEM_CD = 'UNAME') + ';' +
    (SELECT SYSTEM_VALUE FROM dbo.TB_M_SYSTEM WHERE FUNCTION_ID = 'FTP' AND SYSTEM_CD = 'PASSW') 
END

