<div class="modal-dialog modal-md" style="overflow:auto;width:40%;min-height:60%;min-width:300px;">
    <div class="modal-content" style="background-color:#3a87ad;color:white;">
        <div class="modal-header" style="border-bottom: 0px !important">
            <h6 class="modal-title dettitle popup-title" id="reason-popup-title"></h6>
        </div>
        <div class="modal-body" style="padding:10px !important;background-color:white;color:black;margin:2px !important">
            <textarea id="reason-container" disabled="disabled" style="width:100%;resize:none;font-size:11px" rows="3"></textarea>
            <div class="btn-group-xs text-right">
                <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>