USE [PAS_DB_QA]
GO
/****** Object:  StoredProcedure [dbo].[sp_POInquiry_GetPdfData]    Script Date: 10/12/2017 1:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_POInquiry_GetPdfData]
    @poNo VARCHAR(11), @signUrlPrefix VARCHAR(50), @address_code VARCHAR(20) = ''
AS
BEGIN
	IF EXISTS (SELECT 1 FROm TB_R_PO_ITEM WHERE DIVISION_ID = '19' AND PO_NO = @poNo)
		SELECT 
		(SELECT TOP 1 SYSTEM_VALUE FROM TB_M_SYSTEM WHERE FUNCTION_ID = 'NPWP' AND SYSTEM_CD = 'NPWP') AS NPWP,
		poh.PO_NO PONo, poh.DOC_DT PODate, 
	
		poh.VENDOR_CD VendorNo, poh.VENDOR_NAME VendorName,
		poh.VENDOR_ADDRESS [Address], poh.POSTAL_CODE PostalCode, poh.CITY City,
		poh.ATTENTION Attention, poh.PHONE PhoneNo, poh.FAX FaxNo,

		DA.DELIVERY_NAME DeliveryAddressName, DA.ADDRESS DeliveryAddress,
		DA.POSTAL_CODE DeliveryPostalCode, DA.CITY DeliveryCity,
		ISNULL(poh.PO_NOTE1, '') Note1, ISNULL(poh.PO_NOTE2, '') Note2, ISNULL(poh.PO_NOTE3, '') Note3,
		ISNULL(poh.PO_NOTE4, '') Note4, ISNULL(poh.PO_NOTE5, '') Note5, ISNULL(poh.PO_NOTE6, '') Note6,
		ISNULL(poh.PO_NOTE7, '') Note7, ISNULL(poh.PO_NOTE8, '') Note8, ISNULL(poh.PO_NOTE10, '') Note9,
		ISNULL(poh.PO_NOTE10, '') Note10, poh.PO_CURR Currency,
		(SELECT TOP 1 se.PERSONNEL_NAME FROM TB_R_WORKFLOW w
		JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BY
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '40') CreatedBy,
		(SELECT TOP 1 se.PERSONNEL_NAME FROM TB_R_WORKFLOW w
		JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BY
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '41') SH,

		CASE WHEN ISNULL((SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '41' WHERE w.DOCUMENT_NO = @poNo), '') = ''
		THEN '' ELSE @signUrlPrefix + (SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '41' WHERE w.DOCUMENT_NO = @poNo) END SHSign,
    
		CASE WHEN ISNULL(((SELECT TOP 1 w.APPROVED_BYPASS FROM TB_R_WORKFLOW w
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '41')), '') <> ''
		THEN 'For ' + (SELECT TOP 1 SE.PERSONNEL_NAME FROM TB_R_WORKFLOW w JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BYPASS WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '41')
		ELSE ''
		END AS SHFor,
    
		(SELECT TOP 1 se.PERSONNEL_NAME FROM TB_R_WORKFLOW w
		JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BY
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '42') DPH,

		CASE WHEN ISNULL((SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '42' WHERE w.DOCUMENT_NO = @poNo), '') = ''
		THEN '' ELSE @signUrlPrefix + (SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '42' WHERE w.DOCUMENT_NO = @poNo) END DPHSign,
    
		CASE WHEN ISNULL(((SELECT TOP 1 w.APPROVED_BYPASS FROM TB_R_WORKFLOW w
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '42')), '') <> ''
		THEN 'For ' + (SELECT TOP 1 SE.PERSONNEL_NAME FROM TB_R_WORKFLOW w JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BYPASS WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '42')
		ELSE ''
		END AS DPHFor,

		(SELECT TOP 1 SE.PERSONNEL_NAME FROM TB_R_WORKFLOW w
		JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BY
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '43') DH,
    
		CASE WHEN ISNULL((SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '43' WHERE w.DOCUMENT_NO = @poNo), '') = ''
		THEN '' ELSE @signUrlPrefix + (SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '43' WHERE w.DOCUMENT_NO = @poNo) END DHSign,

		CASE WHEN ISNULL(((SELECT TOP 1 w.APPROVED_BYPASS FROM TB_R_WORKFLOW w
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '43')), '') <> ''
		THEN 'For ' + (SELECT TOP 1 SE.PERSONNEL_NAME FROM TB_R_WORKFLOW w JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BYPASS WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '43')
		ELSE ''
		END AS DHFor,

		CASE WHEN EXISTS (select 1 from TB_M_COORDINATOR where COORDINATOR_CD = poh.PURCHASING_GRP_CD AND PROC_CHANNEL_CD = '1000')
		THEN
			(select TOP 1 FORMAT(APPROVED_DT,'dd/MM/yy') from TB_R_WORKFLOW WHERE DOCUMENT_NO = poh.PO_NO AND APPROVAL_CD ='41')
		ELSE ''
		END AS SHApprDT,
	
		CASE WHEN EXISTS (select 1 from TB_M_COORDINATOR where COORDINATOR_CD = poh.PURCHASING_GRP_CD AND PROC_CHANNEL_CD = '1000')
		THEN
			(select TOP 1 FORMAT(APPROVED_DT,'dd/MM/yy') from TB_R_WORKFLOW WHERE DOCUMENT_NO = poh.PO_NO AND APPROVAL_CD ='42')
		ELSE ''
		END AS DPHApprDT,
	
		CASE WHEN EXISTS (select 1 from TB_M_COORDINATOR where COORDINATOR_CD = poh.PURCHASING_GRP_CD AND PROC_CHANNEL_CD = '1000')
		THEN
			(select TOP 1 FORMAT(APPROVED_DT,'dd/MM/yy') from TB_R_WORKFLOW WHERE DOCUMENT_NO = poh.PO_NO AND APPROVAL_CD ='43')
		ELSE ''
		END AS DHApprDT 

		FROM TB_R_PO_H poh JOIN TB_M_VENDOR vnd ON poh.VENDOR_CD = vnd.VENDOR_CD
		CROSS JOIN TB_M_SYSTEM M
		INNER JOIN TB_M_DELIVERY_ADDR DA ON DA.DELIVERY_ADDR = M.SYSTEM_VALUE
		WHERE poh.PO_NO = @poNo AND M.SYSTEM_CD IN (SELECT DISTINCT PLANT_CD FROM TB_R_PO_ITEM POI WHERE POI.PO_NO = poh.PO_NO) AND FUNCTION_ID='DLVADR'
			AND (DA.DELIVERY_ADDR = @address_code OR ISNULL(@address_code,'')='')
	ELSE
		SELECT 
		(SELECT TOP 1 SYSTEM_VALUE FROM TB_M_SYSTEM WHERE FUNCTION_ID = 'NPWP' AND SYSTEM_CD = 'NPWP') AS NPWP,
		poh.PO_NO PONo, poh.DOC_DT PODate, 
	
		poh.VENDOR_CD VendorNo, poh.VENDOR_NAME VendorName,
		poh.VENDOR_ADDRESS [Address], poh.POSTAL_CODE PostalCode, poh.CITY City,
		poh.ATTENTION Attention, poh.PHONE PhoneNo, poh.FAX FaxNo,

		poh.DELIVERY_NAME DeliveryAddressName, poh.DELIVERY_ADDRESS DeliveryAddress,
		poh.DELIVERY_POSTAL_CODE DeliveryPostalCode, poh.DELIVERY_CITY DeliveryCity,
		ISNULL(poh.PO_NOTE1, '') Note1, ISNULL(poh.PO_NOTE2, '') Note2, ISNULL(poh.PO_NOTE3, '') Note3,
		ISNULL(poh.PO_NOTE4, '') Note4, ISNULL(poh.PO_NOTE5, '') Note5, ISNULL(poh.PO_NOTE6, '') Note6,
		ISNULL(poh.PO_NOTE7, '') Note7, ISNULL(poh.PO_NOTE8, '') Note8, ISNULL(poh.PO_NOTE10, '') Note9,
		ISNULL(poh.PO_NOTE10, '') Note10, poh.PO_CURR Currency,
		(SELECT TOP 1 se.PERSONNEL_NAME FROM TB_R_WORKFLOW w
		JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BY
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '40') CreatedBy,
		(SELECT TOP 1 se.PERSONNEL_NAME FROM TB_R_WORKFLOW w
		JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BY
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '41') SH,

		CASE WHEN ISNULL((SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '41' WHERE w.DOCUMENT_NO = @poNo), '') = ''
		THEN '' ELSE @signUrlPrefix + (SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '41' WHERE w.DOCUMENT_NO = @poNo) END SHSign,
    
		CASE WHEN ISNULL(((SELECT TOP 1 w.APPROVED_BYPASS FROM TB_R_WORKFLOW w
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '41')), '') <> ''
		THEN 'For ' + (SELECT TOP 1 SE.PERSONNEL_NAME FROM TB_R_WORKFLOW w JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BYPASS WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '41')
		ELSE ''
		END AS SHFor,
    
		(SELECT TOP 1 se.PERSONNEL_NAME FROM TB_R_WORKFLOW w
		JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BY
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '42') DPH,

		CASE WHEN ISNULL((SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '42' WHERE w.DOCUMENT_NO = @poNo), '') = ''
		THEN '' ELSE @signUrlPrefix + (SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '42' WHERE w.DOCUMENT_NO = @poNo) END DPHSign,
    
		CASE WHEN ISNULL(((SELECT TOP 1 w.APPROVED_BYPASS FROM TB_R_WORKFLOW w
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '42')), '') <> ''
		THEN 'For ' + (SELECT TOP 1 SE.PERSONNEL_NAME FROM TB_R_WORKFLOW w JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BYPASS WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '42')
		ELSE ''
		END AS DPHFor,

		(SELECT TOP 1 SE.PERSONNEL_NAME FROM TB_R_WORKFLOW w
		JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BY
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '43') DH,
    
		CASE WHEN ISNULL((SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '43' WHERE w.DOCUMENT_NO = @poNo), '') = ''
		THEN '' ELSE @signUrlPrefix + (SELECT TOP 1 s.PATH_SIGNATURE FROM TB_R_WORKFLOW w
		JOIN TB_M_SIGNATURE s ON s.NOREG = ISNULL(w.APPROVED_BYPASS, w.APPROVED_BY) AND w.APPROVAL_CD = '43' WHERE w.DOCUMENT_NO = @poNo) END DHSign,

		CASE WHEN ISNULL(((SELECT TOP 1 w.APPROVED_BYPASS FROM TB_R_WORKFLOW w
		WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '43')), '') <> ''
		THEN 'For ' + (SELECT TOP 1 SE.PERSONNEL_NAME FROM TB_R_WORKFLOW w JOIN TB_R_SYNCH_EMPLOYEE se ON se.NOREG = w.APPROVED_BYPASS WHERE w.DOCUMENT_NO = @poNo AND APPROVAL_CD = '43')
		ELSE ''
		END AS DHFor,

		CASE WHEN EXISTS (select 1 from TB_M_COORDINATOR where COORDINATOR_CD = poh.PURCHASING_GRP_CD AND PROC_CHANNEL_CD = '1000')
		THEN
			(select TOP 1 FORMAT(APPROVED_DT,'dd/MM/yy') from TB_R_WORKFLOW WHERE DOCUMENT_NO = poh.PO_NO AND APPROVAL_CD ='41')
		ELSE ''
		END AS SHApprDT,
	
		CASE WHEN EXISTS (select 1 from TB_M_COORDINATOR where COORDINATOR_CD = poh.PURCHASING_GRP_CD AND PROC_CHANNEL_CD = '1000')
		THEN
			(select TOP 1 FORMAT(APPROVED_DT,'dd/MM/yy') from TB_R_WORKFLOW WHERE DOCUMENT_NO = poh.PO_NO AND APPROVAL_CD ='42')
		ELSE ''
		END AS DPHApprDT,
	
		CASE WHEN EXISTS (select 1 from TB_M_COORDINATOR where COORDINATOR_CD = poh.PURCHASING_GRP_CD AND PROC_CHANNEL_CD = '1000')
		THEN
			(select TOP 1 FORMAT(APPROVED_DT,'dd/MM/yy') from TB_R_WORKFLOW WHERE DOCUMENT_NO = poh.PO_NO AND APPROVAL_CD ='43')
		ELSE ''
		END AS DHApprDT 

		FROM TB_R_PO_H poh JOIN TB_M_VENDOR vnd ON poh.VENDOR_CD = vnd.VENDOR_CD
END