<style>
    .table {
        table-layout: fixed;
    }

    .table > tr > td {
        vertical-align : middle;    
    }

    .table > thead > tr > th {
        vertical-align : middle;    
    }
</style>
<div id="material-popup" class="modal fade bs-example-modal-lg" width="100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title dettitle">Material Lookup</div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                <div class="row-fluid">
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Material No.</label>
                            <div class="col-xs-8 col-sm-9 col-md-5">
                                <input type="text" id="matnolook" maxlength="23" class="form-control blank"/>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Material Desc.</label>
                            <div class="col-xs-8 col-sm-9 col-md-7">
                                <input type="text" id="matdesclook" maxlength="50" class="form-control blank"/>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Car Family</label>
                            <div class="col-xs-8 col-sm-9 col-md-3">
                                <input type="text" id="carlook" class="form-control blank"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                        <div class="form-group form-group-xs">
                            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Material Type</label>
                            <div class="col-xs-8 col-sm-9 col-md-3">
                                <input type="text" id="typelook" class="form-control blank"/>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">Material Group</label>
                            <div class="col-xs-8 col-sm-9 col-md-4">
                                <input type="text" id="grplook" class="form-control blank"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-xs-12 col-sm-6 col-md-6">
                        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                        <div class="btn">
                            <button type="submit" id="btnsearch-mat" name="btnsearch-mat" class="btn btn-primary" onclick="javascript:_lookupShow(&#39;mat&#39;)">Search</button>
                            <input type="reset" class="btn btn-default clear-lookup" value="Clear" onclick="javascript:_clearfield(&#39;mat&#39;)"/>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="full-border">
                        <div class="col-xs-12 col-md-12 form-main-group-box-search">
                            <div class="table-responsive">
                                <table id="LookUpTable-valclass" class="table table-striped table-bordered mat-lookup-table" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center control-label text-muted" width="50px">#</th>
                                            <th class="text-center control-label text-muted" width="170px">Material No.</th>
                                            <th class="text-center control-label text-muted" width="340px">Material Desc.</th>
                                            <th class="text-center control-label text-muted" width="70px">Car Family</th>
                                            <th class="text-center control-label text-muted" width="100px">Material Type</th>
                                            <th class="text-center control-label text-muted" width="100px">Material Group</th>
                                            <th class="text-center control-label text-muted" width="70px">UoM</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodylookup-matno">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8" style="margin-bottom: 20px;">
                        <ul class="pagination pagination-sm hidden-xs" style="margin-top:0;" id="mat-paging">
                            <li style="display:none" class="paging-index-selected"></li>
                            <li style="display:none" class="paging-label">
                                <span>Page <span class="page-no"></span> Of <span class="page-total"></span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-12 text-right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="javascript:_clearValueLookup()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

