<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Dev</key>
		<value>
			<ConnectionString>Server=10.16.20.231;Database=NEW_BMS_DB;User ID=k2;Password=K2pass!;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Development Database Connection</description>
	</configuration-item>
</configuration>