@using GPS.Models.MRP
@using GPS.Models.MRP

@{
    List<MRPGentaniHeader> ListParentCd = (List<MRPGentaniHeader>)ViewData["ListParentCd"]; 
    List<MRPGentaniHeader> ListProcUsage = (List<MRPGentaniHeader>)ViewData["ListProcUsage"];      
}
<form role="form" class="form-horizontal" id="searchForm" method="post" action="javascript: onGetData(1)">
<div class="row">    
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs ">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Proc Usage</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <select id="txtProcUsage" class="form-control">
                    <option value=""></option>
                    @foreach (MRPGentaniHeader item in ListProcUsage)
                    {
                        <option value="@item.PROC_USAGE_CD">@item.PROC_USAGE_CD - @item.DESCRIPTION</option> 
                    }
                </select>
            </div>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs ">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Valid Date</label>
            <div class="input-group input-group-xs col-xs-8 col-sm-9 col-md-8" style="padding-left: 11px;padding-right: 11px; height: 26px;">
                 <div class="input-group" style="cursor: pointer;">
                    <input class="form-control date-picker" id="txtValidDate" name="txtValidDate" type="text" data-date-format="yyyy-mm-dd" />                       
                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span> 
                </div>              
            </div>
        </div>
    </div>   
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Header Type</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <input type="text" id="txtHdrType" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Header Code</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <input type="text" id="txtHdrCD" class="form-control" />
            </div>
        </div>
    </div>    
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Model</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <input type="text" id="txtModel" class="form-control" />
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Transmission</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <input type="text" id="txtTrans" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Engine</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <input type="text" id="txtEngine" class="form-control" />
            </div>
        </div>
    </div>    
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Re-Exporter Code</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <select  id="txtDE" class="form-control" >
                <option value=""></option>
                <option value="D">Domestic</option>
                <option value="E">Export</option>
                </select>
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Production Sfx</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <input type="text" id="txtProdSfx" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group form-group-xs _criteria">
            <label class="col-xs-4 col-sm-3 col-md-4 control-label text-muted">
                Color</label>
            <div class="col-xs-8 col-sm-9 col-md-8">
                <input type="text" id="txtColor" class="form-control" />
            </div>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-xs-6" style="margin-top: 5px;">
    </div>
    <div class="col-xs-6 text-right">
        <div class="form-group-xs">        
            <button type="submit" class="btn btn-primary btn-xs">
                Search</button>        
            <button type="button" class="btn btn-default btn-xs" id="btnnclear" onclick="onClear()">
                Clear</button>
        </div>
    </div>
</div>
</form>

