<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Application-Alias</key>
		<value>Application-Alias</value>
		<description>Alias of the application</description>
	</configuration-item>
	<configuration-item>
		<key>Default-Locale</key>
		<value>US</value>
		<description>Default localization</description>
	</configuration-item>
	<configuration-item>
		<key>Home-Folder</key>
		<value>C:\Application_Home\PS_V2</value>
		<description>Home folder path</description>
	</configuration-item>
	<configuration-item>
		<key>Deployment-Context</key>
		<value />
		<description>Relative path for deployment</description>
	</configuration-item>
	<configuration-item>
		<key>Development-Stage</key>
		<value>DEV</value>
		<description>Development stage</description>
	</configuration-item>
    <configuration-item>
        <key>LogService</key>
        <value>Text</value>
        <description>Log Service type</description>
    </configuration-item>
    <configuration-item>
        <key>LogFilepath</key>
        <value>C:\GPSServiceLog\SAP_DataImporter_Log\</value>
        <description>Text log filepath</description>
    </configuration-item>
    
    <configuration-item>
      <key>FTPLocationIR</key>
      <value>IR/FR_SAP/</value>
      <description>FTP path to downloaded IR Feedback file</description>
    </configuration-item>
    <configuration-item>
      <key>LocalLocationIR</key>
      <value>IR/</value>
      <description>Temp path for downloaded file IR from FTP</description>
    </configuration-item>
    <configuration-item>
      <key>ArchieveLocationIR</key>
      <value>Archive/IR/</value>
      <description>FTP path for Archieve file IR</description>
    </configuration-item>
    <configuration-item>
      <key>FTPLocationSL</key>
      <value>SL/FR_SAP/</value>
      <description>FTP path to downloaded Source List Feedback file</description>
    </configuration-item>
    <configuration-item>
      <key>LocalLocationSL</key>
      <value>SL/</value>
      <description>Temp path for downloaded file Source List from FTP</description>
    </configuration-item>
    <configuration-item>
      <key>ArchieveLocationSL</key>
      <value>Archive/SL/</value>
      <description>FTP path for Archieve file Source List</description>
    </configuration-item>
</configuration>