/****** Object:  StoredProcedure [dbo].[sp_ImportPO_SAP]    Script Date: 11/2/2017 2:34:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_ImportPO_SAP]
	@PROCESS_ID BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Log & Action
    DECLARE
		@USER VARCHAR(20) = 'BackgroundPO',
		@MODULE VARCHAR(1) = '0',
		@FUNCTION VARCHAR(6) = '001005',
		@MSG_TEXT VARCHAR(1000),
		@MSG_ID VARCHAR(10),
		@LOCATION VARCHAR(MAX) = 'sp_ImportPO_SAP',

		@IS_INTEMP CHAR(1) = 'Y',
		@IS_LOCKED CHAR(1) = 'N',
		@ACTION CHAR(1) = '', --I(Insert) or U(Update)
		@WORKFLOWACTION CHAR(2) = '' --IN(Insert) or IG(Ignore)

	-- Common variable
	DECLARE
		@TB_TMP_LOG LOG_TEMP,
		@PO_NO VARCHAR(10),
		@CURR_CD VARCHAR(3),
		@EXCHANGE_RATE DECIMAL(9,2),
		@H_PO_NO VARCHAR(10) = NULL,
		@NOREG VARCHAR(10) = '',
		@DIV_ID INT,
		@PURCH_GROUP VARCHAR(3),
		@STATUS VARCHAR(MAX),

		@userMapCount INT = 0,
		@userMap VARCHAR(50) = '',
		@purchGroup VARCHAR(6) = ''

	--Table Temporary
	DECLARE @orgRef TABLE ( OrgId VARCHAR(10), OrgName VARCHAR(50) )

	DECLARE @tempPOH TABLE (
			[PO_NO] [varchar](10) NOT NULL,
			[PO_DESC] [varchar](100) NULL,
			[VENDOR_CD] [varchar](6) NOT NULL,
			[VENDOR_NAME] [varchar](50) NULL,
			[DOC_DT] [date] NOT NULL,
			[PROC_MONTH] [varchar](6) NOT NULL,
			[PAYMENT_METHOD_CD] [varchar](1) NOT NULL,
			[PAYMENT_TERM_CD] [varchar](4) NOT NULL,
			[DOC_TYPE] [varchar](2) NOT NULL,
			[DOC_CATEGORY] [varchar](2) NOT NULL,
			[PURCHASING_GRP_CD] [varchar](3) NOT NULL,
			[INV_WO_GR_FLAG] [char](1) NULL,
			[PO_CURR] [char](3) NOT NULL,
			[PO_AMOUNT] [decimal](18, 4) NOT NULL,
			[PO_EXCHANGE_RATE] [decimal](7, 2) NOT NULL,
			[LOCAL_CURR] [char](3) NOT NULL,
			[PO_STATUS] [char](2) NOT NULL,
			[RELEASED_FLAG] [char](1) NULL,
			[RELEASED_DT] [date] NULL,
			[DELETION_FLAG] [char](1) NULL,
			[PROCESS_ID] [bigint] NULL,
			[CREATED_BY] [varchar](20) NOT NULL,
			[CREATED_DT] [datetime] NOT NULL,
			[CHANGED_BY] [varchar](20) NULL,
			[CHANGED_DT] [datetime] NULL,
			[SAP_DOC_NO] [varchar](10) NULL,
			[URGENT_DOC] [varchar](1) NOT NULL,
			[DRAFT_FLAG] [varchar](1) NULL,
			[DELIVERY_ADDR] [varchar](10) NULL,
			[SYSTEM_SOURCE] [varchar](11) NULL,
			[REF_NO] [varchar](15) NULL,
			[PO_NEXT_STATUS] [char](3) NULL,
			[PO_NOTE1] [varchar](132) NULL,
			[PO_NOTE2] [varchar](132) NULL,
			[PO_NOTE3] [varchar](132) NULL,
			[PO_NOTE4] [varchar](132) NULL,
			[PO_NOTE5] [varchar](132) NULL,
			[PO_NOTE6] [varchar](132) NULL,
			[PO_NOTE7] [varchar](132) NULL,
			[PO_NOTE8] [varchar](132) NULL,
			[PO_NOTE9] [varchar](132) NULL,
			[PO_NOTE10] [varchar](132) NULL,
			[VENDOR_ADDRESS] [varchar](150) NULL,
			[POSTAL_CODE] [varchar](10) NULL,
			[CITY] [varchar](50) NULL,
			[ATTENTION] [varchar](50) NULL,
			[PHONE] [varchar](30) NULL,
			[FAX] [varchar](30) NULL,
			[SAP_PO_NO] [varchar](10) NULL,
			[SPK_NO] [varchar](18) NULL,
			[SPK_DT] [date] NULL,
			[SPK_BIDDING_DT] [date] NULL,
			[SPK_WORK_DESC] [varchar](100) NULL,
			[SPK_LOCATION] [varchar](50) NULL,
			[SPK_AMOUNT] [decimal](13, 3) NULL,
			[SPK_PERIOD_START] [date] NULL,
			[SPK_PERIOD_END] [date] NULL,
			[SPK_RETENTION] [varchar](3) NULL,
			[SPK_TERMIN_I] [varchar](5) NULL,
			[SPK_TERMIN_I_DESC] [varchar](50) NULL,
			[SPK_TERMIN_II] [varchar](5) NULL,
			[SPK_TERMIN_II_DESC] [varchar](50) NULL,
			[SPK_TERMIN_III] [varchar](5) NULL,
			[SPK_TERMIN_III_DESC] [varchar](50) NULL,
			[SPK_TERMIN_IV] [varchar](5) NULL,
			[SPK_TERMIN_IV_DESC] [varchar](50) NULL,
			[SPK_TERMIN_V] [varchar](5) NULL,
			[SPK_TERMIN_V_DESC] [varchar](50) NULL,
			[SPK_SIGN] [varchar](20) NULL,
			[SPK_SIGN_NAME] [varchar](50) NULL,
			[COUNTRY] [varchar](2) NOT NULL,
			[DELIVERY_NAME] [varchar](30) NULL,
			[DELIVERY_ADDRESS] [varchar](150) NULL,
			[DELIVERY_POSTAL_CODE] [varchar](6) NULL,
			[DELIVERY_CITY] [varchar](50) NULL
	)
	DECLARE @tempPOItem TABLE(
			[PO_NO] [varchar](10) NOT NULL,
			[PO_ITEM_NO] [varchar](5) NOT NULL,
			[PR_NO] [varchar](10) NULL,
			[PR_ITEM_NO] [varchar](5) NULL,
			[MAT_NO] [varchar](23) NULL,
			[MAT_DESC] [varchar](50) NOT NULL,
			[VALUATION_CLASS] [varchar](4) NOT NULL,
			[VALUATION_CLASS_DESC] [varchar](50) NOT NULL,
			[PROCUREMENT_PURPOSE] [char](1) NOT NULL,
			[DELIVERY_PLAN_DT] [date] NULL,
			[SOURCE_TYPE] [varchar](10) NULL,
			[PLANT_CD] [varchar](4) NOT NULL,
			[SLOC_CD] [varchar](4) NOT NULL,
			[DIVISION_ID] [int] NULL,
			[DIVISION_NAME] [varchar](40) NULL,
			[WBS_NO] [varchar](30) NOT NULL,
			[COST_CENTER_CD] [varchar](10) NULL,
			[UNLIMITED_FLAG] [char](1) NULL,
			[TOLERANCE_PERCENTAGE] [decimal](7, 2) NULL,
			[SPECIAL_PROCUREMENT_TYPE] [varchar](1) NULL,
			[PO_QTY_ORI] [decimal](9, 4) NOT NULL,
			[PO_QTY_USED] [decimal](9, 4) NOT NULL,
			[PO_QTY_REMAIN] [decimal](9, 4) NOT NULL,
			[UOM] [varchar](3) NOT NULL,
			[PRICE_PER_UOM] [decimal](18, 4) NOT NULL,
			[ORI_AMOUNT] [decimal](18, 4) NOT NULL,
			[LOCAL_AMOUNT] [decimal](18, 4) NOT NULL,
			[PO_STATUS] [varchar](2) NOT NULL,
			[PO_NEXT_STATUS] [varchar](2) NOT NULL,
			[IS_REJECTED] [varchar](1) NULL,
			[CREATED_BY] [varchar](20) NOT NULL,
			[CREATED_DT] [datetime] NOT NULL,
			[CHANGED_BY] [varchar](20) NULL,
			[CHANGED_DT] [datetime] NULL,
			[WBS_NAME] [varchar](50) NULL,
			[GL_ACCOUNT] [varchar](10) NULL,
			[RELEASE_FLAG] [varchar](1) NOT NULL,
			[IS_PARENT] [varchar](1) NOT NULL,
			[ITEM_CLASS] [varchar](1) NOT NULL,
			[GROSS_PERCENT] [decimal](7, 2) NULL,
			[URGENT_DOC] [varchar](1) NULL
	)
	DECLARE @tempPOSubitem TABLE (
			[PO_NO] [varchar](10) NOT NULL,
			[PO_ITEM_NO] [varchar](5) NOT NULL,
			[PO_SUBITEM_NO] [varchar](5) NOT NULL,
			[MAT_NO] [varchar](23) NULL,
			[MAT_DESC] [varchar](50) NOT NULL,
			[WBS_NO] [varchar](30) NOT NULL,
			[WBS_NAME] [varchar](50) NULL,
			[GL_ACCOUNT] [varchar](10) NULL,
			[COST_CENTER_CD] [varchar](10) NULL,
			[UNLIMITED_FLAG] [char](1) NULL,
			[TOLERANCE_PERCENTAGE] [decimal](7, 2) NULL,
			[SPECIAL_PROCUREMENT_TYPE] [varchar](1) NULL,
			[PO_QTY_ORI] [decimal](9, 4) NOT NULL,
			[PO_QTY_USED] [decimal](9, 4) NOT NULL,
			[PO_QTY_REMAIN] [decimal](9, 4) NOT NULL,
			[UOM] [varchar](3) NOT NULL,
			[PRICE_PER_UOM] [decimal](18, 4) NOT NULL,
			[ORI_AMOUNT] [decimal](18, 4) NOT NULL,
			[LOCAL_AMOUNT] [decimal](18, 4) NOT NULL,
			[CREATED_BY] [varchar](20) NOT NULL,
			[CREATED_DT] [datetime] NOT NULL,
			[CHANGED_BY] [varchar](20) NULL,
			[CHANGED_DT] [datetime] NULL,
			[PR_NO] [varchar](10) NULL,
			[PR_ITEM_NO] [varchar](5) NULL,
			[PR_SUBITEM_NO] [varchar](5) NULL
	)
	DECLARE @tempPOCondition TABLE(
			[PO_NO] [varchar](10) NOT NULL,
			[PO_ITEM_NO] [varchar](5) NOT NULL,
			[COMP_PRICE_CD] [varchar](4) NOT NULL,
			[COMP_PRICE_RATE] [decimal](18, 4) NOT NULL,
			[INVOICE_FLAG] [char](1) NULL,
			[EXCHANGE_RATE] [decimal](12, 5) NOT NULL,
			[SEQ_NO] [int] NOT NULL,
			[BASE_VALUE_FROM] [int] NULL,
			[BASE_VALUE_TO] [int] NULL,
			[PO_CURR] [varchar](3) NOT NULL,
			[INVENTORY_FLAG] [char](1) NOT NULL,
			[CALCULATION_TYPE] [char](1) NOT NULL,
			[PLUS_MINUS_FLAG] [char](1) NOT NULL,
			[CONDITION_CATEGORY] [char](1) NOT NULL,
			[ACCRUAL_FLAG_TYPE] [char](1) NOT NULL,
			[CONDITION_RULE] [char](1) NOT NULL,
			[QTY] [decimal](9, 4) NOT NULL,
			[QTY_PER_UOM] [decimal](9, 4) NOT NULL,
			[PRICE_AMT] [decimal](18, 4) NOT NULL,
			[COMP_TYPE] [char](1) NOT NULL,
			[PRINT_STATUS] [char](1) NOT NULL,
			[CREATED_BY] [varchar](20) NOT NULL,
			[CREATED_DT] [datetime] NOT NULL,
			[CHANGED_BY] [varchar](20) NULL,
			[CHANGED_DT] [datetime] NULL
	)
	DECLARE @tempWorkflow TABLE(
			[DOCUMENT_NO] [varchar](11) NOT NULL,
			[ITEM_NO] [varchar](5) NOT NULL,
			[DOCUMENT_SEQ] [int] NOT NULL,
			[APPROVAL_CD] [char](5) NOT NULL,
			[APPROVAL_DESC] [varchar](30) NULL,
			[APPROVED_BY] [varchar](20) NOT NULL,
			[NOREG] [varchar](10) NULL,
			[APPROVED_BYPASS] [varchar](20) NULL,
			[APPROVED_DT] [date] NULL,
			[STRUCTURE_ID] [int] NOT NULL,
			[STRUCTURE_NAME] [varchar](40) NULL,
			[APPROVER_POSITION] [int] NULL,
			[IS_APPROVED] [varchar](1) NOT NULL,
			[IS_REJECTED] [varchar](1) NOT NULL,
			[IS_DISPLAY] [varchar](1) NOT NULL,
			[LIMIT_FLAG] [char](1) NOT NULL,
			[MAX_AMOUNT] [varchar](15) NOT NULL,
			[CREATED_BY] [varchar](20) NOT NULL,
			[CREATED_DT] [datetime] NOT NULL,
			[CHANGED_BY] [varchar](20) NULL,
			[CHANGED_DT] [datetime] NULL,
			[IS_CANCELLED] [varchar](1) NULL,
			[APPROVER_NAME] [varchar](50) NULL,
			[APPROVAL_INTERVAL] [int] NOT NULL,
			[INTERVAL_DATE] [date] NULL,
			[RELEASE_FLAG] [varchar](1) NOT NULL
	)

	EXEC dbo.sp_PutLog 'Start Process', 'SAP_PO_IMPORTER', @LOCATION, @PROCESS_ID, 'INF00001', 'INF', '1', @FUNCTION, @MODULE

	BEGIN TRY
		DECLARE @localCurrency VARCHAR(3) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM WHERE SYSTEM_CD = 'LOCAL_CURR_CD')

		--==> STEP 1. Remove duplication PO from given file(s)
		SET @MSG_ID = 'INF00001'
		SET @MSG_TEXT = 'Removing Duplication Data PO From SAP Started'
		INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
		EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

		DECLARE @insertNewPO TABLE (PONo VARCHAR(11), FileNo INT)
		INSERT INTO @insertNewPO
		SELECT PO_NO, MAX(FILE_NO) FROM TB_T_SAP_PO GROUP BY PO_NO

		DELETE FROM TB_T_SAP_PO WHERE PO_NO + CAST(FILE_NO AS VARCHAR) NOT IN (
			SELECT PONo + CAST(FileNo AS VARCHAR) FROM @insertNewPO
		)

		SET @MSG_ID = 'INF00001'
		SET @MSG_TEXT = 'Removing Duplication Data PO From SAP Finished'
		INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
		EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
		--=> End Of STEP 1

		--=> STEP 2. Looping PO
		DECLARE po_cursor CURSOR FOR
			SELECT DISTINCT PO_NO FROM TB_T_SAP_PO
		OPEN po_cursor
		FETCH NEXT FROM po_cursor INTO @PO_NO
		WHILE @@FETCH_STATUS = 0
		BEGIN
			BEGIN TRY
				SET @MSG_ID = 'ERR00001'
				SELECT @MSG_TEXT = 'Saving Data PO No : ' + @PO_NO + ' Started'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

				DELETE FROM @tempPOH
				DELETE FROM @tempPOItem
				DELETE FROM @tempPOSubitem
				DELETE FROM @tempPOCondition
				DELETE FROM @tempWorkflow

				SELECT @IS_LOCKED = 'N', @NOREG = NULL, @DIV_ID = '', @ACTION = '', @WORKFLOWACTION = '', @PURCH_GROUP = '', @IS_INTEMP = 'Y'
				SELECT TOP 1 @PURCH_GROUP = PURCH_GROUP FROM TB_T_SAP_PO WHERE PO_NO = @PO_NO
				SELECT TOP 1 @EXCHANGE_RATE = ISNULL(EXCHANGE_RATE, 0), @CURR_CD = CURR_CD FROM TB_T_SAP_PO WHERE PO_NO = @PO_NO

				SELECT @userMapCount = COUNT(NOREG)
				FROM (
					SELECT DISTINCT sappo.PO_NO, sappo.CREATED_BY,
					sappo.PURCH_GROUP, um.NOREG, um.DIV_ID
					FROM dbo.TB_T_SAP_PO sappo
					JOIN dbo.TB_T_SAP_USER_MAPPING um ON sappo.CREATED_BY = um.SAP_USERNAME
					AND sappo.PURCH_GROUP = um.PURCH_GROUP
					WHERE sappo.PO_NO = @PO_NO
				) tmp
				GROUP BY tmp.CREATED_BY, tmp.PURCH_GROUP, tmp.NOREG, tmp.DIV_ID
				IF @userMapCount > 1
				BEGIN
					SET @MSG_TEXT = 'SAP User ' + @userMap + ' Purchasing Group ' + @purchGroup + ' are set more than once.'
					RAISERROR(@MSG_TEXT, 16, 1)
				END

				SELECT @userMap = CREATED_BY,
				@purchGroup = PURCH_GROUP, @NOREG = NOREG, @DIV_ID = DIV_ID
				FROM (
					SELECT DISTINCT sappo.PO_NO, sappo.CREATED_BY,
					sappo.PURCH_GROUP, um.NOREG, um.DIV_ID
					FROM dbo.TB_T_SAP_PO sappo
					JOIN dbo.TB_T_SAP_USER_MAPPING um ON sappo.CREATED_BY = um.SAP_USERNAME
					AND sappo.PURCH_GROUP = um.PURCH_GROUP
					WHERE sappo.PO_NO = @PO_NO
				) tmp

				INSERT INTO [dbo].[TB_H_SAP_PO_MONITORING]
					([PROCESS_ID],[PO_NO],[EXECUTION_DT],[STATUS_SYNCH],[MESSAGE_OUT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT], [PURCH_GROUP])
					VALUES (@PROCESS_ID, @PO_NO, GETDATE(), '0', '', @USER, GETDATE(), NULL, NULL, @PURCH_GROUP)

				--=> STEP 3. Checking Action to be implemented(Insert/Edit/Cancel)
				SELECT @ACTION = CASE WHEN(COUNT(1) = 0) THEN 'I' ELSE 'U' END FROM TB_R_PO_H WHERE PO_NO = @PO_NO
				IF(@ACTION = 'I')
				BEGIN
					UPDATE TB_H_SAP_PO_MONITORING SET STATUS_SYNCH = '1' WHERE PO_NO = @PO_NO AND PROCESS_ID = @PROCESS_ID

					--=> STEP 4.A.1 Insert Into TB_R_PO_H
					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Insert Into TB_R_PO_H Started'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

					INSERT INTO TB_R_PO_H (PO_NO, PO_DESC, VENDOR_CD, VENDOR_NAME, DOC_DT, PROC_MONTH, PAYMENT_METHOD_CD, PAYMENT_TERM_CD,
							DOC_TYPE, DOC_CATEGORY, PURCHASING_GRP_CD, PO_CURR, PO_AMOUNT, PO_EXCHANGE_RATE, LOCAL_CURR, PO_STATUS, RELEASED_FLAG,
							RELEASED_DT, DELETION_FLAG, PROCESS_ID, CREATED_BY, CREATED_DT, SAP_DOC_NO, URGENT_DOC, DELIVERY_ADDR, SYSTEM_SOURCE, PO_NEXT_STATUS,
							VENDOR_ADDRESS, POSTAL_CODE, CITY, ATTENTION, PHONE, FAX, COUNTRY, DELIVERY_NAME, DELIVERY_ADDRESS, DELIVERY_POSTAL_CODE, DELIVERY_CITY,
							PO_NOTE1, PO_NOTE2, PO_NOTE3, PO_NOTE4, PO_NOTE5, PO_NOTE6, PO_NOTE7, PO_NOTE8, PO_NOTE9, PO_NOTE10)
					SELECT TOP 1 PO.PO_NO, (SELECT TOP 1 SP.MAT_DESC FROM TB_T_SAP_PO SP WHERE SP.PO_NO = PO.PO_NO ORDER BY SP.PO_ITEM_NO) AS PO_DESC, PO.VENDOR_CD,
							PO.VENDOR_NAME, PO.PO_DATE, SUBSTRING(REPLACE(CAST(PO.PO_DATE AS VARCHAR), '-', ''), 1, 6), V.PAYMENT_METHOD_CD, V.PAYMENT_TERM_CD, 'PO', '',
							PO.PURCH_GROUP, PO.CURR_CD, ISNULL((SELECT MAX(AMOUNT) FROM TB_T_SAP_PO SP WHERE SP.PO_NO = PO.PO_NO),0) AMOUNT, --[dbo].[fn_GET_PO_AMOUNT](PO.PO_NO), 
							
							PO.EXCHANGE_RATE, @localCurrency, '40', 'N', NULL, 'N', @PROCESS_ID, @USER,
							CONVERT(VARCHAR(20), GETDATE(), 120), PO.PO_NO, 'N', 'SunterII' AS DELIVERY_ADDR, 'SAP', '41', PO.VENDOR_ADDR, PO.VENDOR_POSTAL, PO.VENDOR_CITY,
							PO.VENDOR_ATTENTION, PO.VENDOR_TELP, PO.VENDOR_FAX, 'ID' AS COUNTRY, PO.DLV_NAME, PO.DLV_ADDR, PO.DLV_POSTAL, PO.DLV_CITY,
							ISNULL(PO.PO_NOTE1, ''), ISNULL(PO.PO_NOTE2, ''), ISNULL(PO.PO_NOTE3, ''), ISNULL(PO.PO_NOTE4, ''), ISNULL(PO.PO_NOTE5, ''),
							ISNULL(PO.PO_NOTE6, ''), ISNULL(PO.PO_NOTE7, ''), ISNULL(PO.PO_NOTE8, ''), ISNULL(PO.PO_NOTE9, ''), ISNULL(PO.PO_NOTE10, '')
					FROM TB_T_SAP_PO PO
							LEFT JOIN TB_M_VENDOR V ON V.SAP_VENDOR_ID = PO.VENDOR_CD
							WHERE PO_NO = @PO_NO
							GROUP BY PO.PO_NO, PO.VENDOR_CD, PO.VENDOR_NAME, PO.PO_DATE, V.PAYMENT_METHOD_CD, V.PAYMENT_TERM_CD, PO.PURCH_GROUP, PO.CURR_CD, PO.EXCHANGE_RATE, PO.AMOUNT, PO.VENDOR_ADDR, PO.VENDOR_POSTAL, PO.VENDOR_CITY,
									 PO.VENDOR_ATTENTION, PO.VENDOR_TELP, PO.VENDOR_FAX, PO.DLV_NAME, PO.DLV_ADDR, PO.DLV_POSTAL, PO.DLV_CITY,
									 ISNULL(PO.PO_NOTE1, ''), ISNULL(PO.PO_NOTE2, ''), ISNULL(PO.PO_NOTE3, ''), ISNULL(PO.PO_NOTE4, ''), ISNULL(PO.PO_NOTE5, ''),
										ISNULL(PO.PO_NOTE6, ''), ISNULL(PO.PO_NOTE7, ''), ISNULL(PO.PO_NOTE8, ''), ISNULL(PO.PO_NOTE9, ''), ISNULL(PO.PO_NOTE10, '')

					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Insert Into TB_R_PO_H Finished'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
					--=> End Of STEP 4.A.1

					SET @WORKFLOWACTION = 'IN'
				END
				ELSE
				BEGIN
					--=> STEP 4.B.1 Check if PO_NO is locked
					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Check locking For PO_NO: ' + @PO_NO + 'Started'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

					IF EXISTS(SELECT 1 FROM TB_R_PO_H WHERE PO_NO = @PO_NO AND ISNULL(PROCESS_ID, '') <> '' AND PROCESS_ID <> @PROCESS_ID)
					BEGIN
						SET @MSG_TEXT = 'Document No ' + @PO_NO + ' is locked by another user.'
						SET @IS_LOCKED = 'Y'
						RAISERROR(@MSG_TEXT, 16, 1)
					END

					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Check locking For PO_NO: ' + @PO_NO + 'Finished'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
					--=> End Of STEP 4.B.1

					UPDATE TB_H_SAP_PO_MONITORING SET STATUS_SYNCH = '1' WHERE PO_NO = @PO_NO AND PROCESS_ID = @PROCESS_ID

					--=> STEP 4.B.2 Lock selected PO
					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Lock Data PO_NO: ' + @PO_NO + 'Started'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

					UPDATE TB_R_PO_H SET PROCESS_ID = @PROCESS_ID WHERE PO_NO = @PO_NO

					INSERT INTO [dbo].[TB_T_LOCK]
						([PROCESS_ID],[MODULE_ID],[FUNCTION_ID],[USER_ID],[USER_NAME],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT])
					VALUES(@PROCESS_ID, @MODULE, @FUNCTION, @USER, @USER, @USER,GETDATE(), NULL, NULL)

					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Lock Data PO_NO: ' + @PO_NO + 'Finished'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
					--=> End Of STEP 4.B.2

					--=> STEP 4.B.3 Copy old data from table transactional into temp variable
					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Insert Data from transactional table into table variable started'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

					SET @IS_INTEMP = 'N'

					INSERT INTO @tempPOH ([PO_NO],[PO_DESC],[VENDOR_CD],[VENDOR_NAME],[DOC_DT],[PROC_MONTH],[PAYMENT_METHOD_CD],[PAYMENT_TERM_CD],[DOC_TYPE],
						[DOC_CATEGORY],[PURCHASING_GRP_CD],[INV_WO_GR_FLAG],[PO_CURR],[PO_AMOUNT],[PO_EXCHANGE_RATE],[LOCAL_CURR],[PO_STATUS],[RELEASED_FLAG],
						[RELEASED_DT],[DELETION_FLAG],[PROCESS_ID],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[SAP_DOC_NO],[URGENT_DOC],[DRAFT_FLAG],
						[DELIVERY_ADDR],[SYSTEM_SOURCE],[REF_NO],[PO_NEXT_STATUS],[PO_NOTE1],[PO_NOTE2],[PO_NOTE3],[PO_NOTE4],[PO_NOTE5],[PO_NOTE6],[PO_NOTE7],
						[PO_NOTE8],[PO_NOTE9],[PO_NOTE10],[VENDOR_ADDRESS],[POSTAL_CODE],[CITY],[ATTENTION],[PHONE],[FAX],[SAP_PO_NO],[SPK_NO],[SPK_DT],[SPK_BIDDING_DT],
						[SPK_WORK_DESC],[SPK_LOCATION],[SPK_AMOUNT],[SPK_PERIOD_START],[SPK_PERIOD_END],[SPK_RETENTION],[SPK_TERMIN_I],[SPK_TERMIN_I_DESC],
						[SPK_TERMIN_II],[SPK_TERMIN_II_DESC],[SPK_TERMIN_III],[SPK_TERMIN_III_DESC],[SPK_TERMIN_IV],[SPK_TERMIN_IV_DESC],[SPK_TERMIN_V],[SPK_TERMIN_V_DESC],
						[SPK_SIGN],[SPK_SIGN_NAME],[COUNTRY],[DELIVERY_NAME],[DELIVERY_ADDRESS],[DELIVERY_POSTAL_CODE],[DELIVERY_CITY])
					SELECT [PO_NO],[PO_DESC],[VENDOR_CD],[VENDOR_NAME],[DOC_DT],[PROC_MONTH],[PAYMENT_METHOD_CD],[PAYMENT_TERM_CD],[DOC_TYPE],
						[DOC_CATEGORY],[PURCHASING_GRP_CD],[INV_WO_GR_FLAG],[PO_CURR],[PO_AMOUNT],[PO_EXCHANGE_RATE],[LOCAL_CURR],[PO_STATUS],[RELEASED_FLAG],
						[RELEASED_DT],[DELETION_FLAG],[PROCESS_ID],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[SAP_DOC_NO],[URGENT_DOC],[DRAFT_FLAG],
						[DELIVERY_ADDR],[SYSTEM_SOURCE],[REF_NO],[PO_NEXT_STATUS],[PO_NOTE1],[PO_NOTE2],[PO_NOTE3],[PO_NOTE4],[PO_NOTE5],[PO_NOTE6],[PO_NOTE7],
						[PO_NOTE8],[PO_NOTE9],[PO_NOTE10],[VENDOR_ADDRESS],[POSTAL_CODE],[CITY],[ATTENTION],[PHONE],[FAX],[SAP_PO_NO],[SPK_NO],[SPK_DT],[SPK_BIDDING_DT],
						[SPK_WORK_DESC],[SPK_LOCATION],[SPK_AMOUNT],[SPK_PERIOD_START],[SPK_PERIOD_END],[SPK_RETENTION],[SPK_TERMIN_I],[SPK_TERMIN_I_DESC],
						[SPK_TERMIN_II],[SPK_TERMIN_II_DESC],[SPK_TERMIN_III],[SPK_TERMIN_III_DESC],[SPK_TERMIN_IV],[SPK_TERMIN_IV_DESC],[SPK_TERMIN_V],[SPK_TERMIN_V_DESC],
						[SPK_SIGN],[SPK_SIGN_NAME],[COUNTRY],[DELIVERY_NAME],[DELIVERY_ADDRESS],[DELIVERY_POSTAL_CODE],[DELIVERY_CITY]
					FROM TB_R_PO_H WHERE PO_NO = @PO_NO

					INSERT INTO @tempPOItem ([PO_NO],[PO_ITEM_NO],[PR_NO],[PR_ITEM_NO],[MAT_NO],[MAT_DESC],[VALUATION_CLASS],[VALUATION_CLASS_DESC],[PROCUREMENT_PURPOSE],
						[DELIVERY_PLAN_DT],[SOURCE_TYPE],[PLANT_CD],[SLOC_CD],[DIVISION_ID],[DIVISION_NAME],[WBS_NO],[COST_CENTER_CD],[UNLIMITED_FLAG],[TOLERANCE_PERCENTAGE],
					    [SPECIAL_PROCUREMENT_TYPE],[PO_QTY_ORI],[PO_QTY_USED],[PO_QTY_REMAIN],[UOM],[PRICE_PER_UOM],[ORI_AMOUNT],[LOCAL_AMOUNT],[PO_STATUS],[PO_NEXT_STATUS],
						[IS_REJECTED],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[WBS_NAME],[GL_ACCOUNT],[RELEASE_FLAG],[IS_PARENT],[ITEM_CLASS],[GROSS_PERCENT],[URGENT_DOC])
					SELECT [PO_NO],[PO_ITEM_NO],[PR_NO],[PR_ITEM_NO],[MAT_NO],[MAT_DESC],[VALUATION_CLASS],[VALUATION_CLASS_DESC],[PROCUREMENT_PURPOSE],
						[DELIVERY_PLAN_DT],[SOURCE_TYPE],[PLANT_CD],[SLOC_CD],[DIVISION_ID],[DIVISION_NAME],[WBS_NO],[COST_CENTER_CD],[UNLIMITED_FLAG],[TOLERANCE_PERCENTAGE],
					    [SPECIAL_PROCUREMENT_TYPE],[PO_QTY_ORI],[PO_QTY_USED],[PO_QTY_REMAIN],[UOM],[PRICE_PER_UOM],[ORI_AMOUNT],[LOCAL_AMOUNT],[PO_STATUS],[PO_NEXT_STATUS],
						[IS_REJECTED],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[WBS_NAME],[GL_ACCOUNT],[RELEASE_FLAG],[IS_PARENT],[ITEM_CLASS],[GROSS_PERCENT],[URGENT_DOC]
					FROM TB_R_PO_ITEM WHERE PO_NO = @PO_NO

					INSERT INTO @tempPOSubitem ([PO_NO],[PO_ITEM_NO],[PO_SUBITEM_NO],[MAT_NO],[MAT_DESC],[WBS_NO],[WBS_NAME],[GL_ACCOUNT],[COST_CENTER_CD],[UNLIMITED_FLAG],[TOLERANCE_PERCENTAGE],
						[SPECIAL_PROCUREMENT_TYPE],[PO_QTY_ORI],[PO_QTY_USED],[PO_QTY_REMAIN],[UOM],[PRICE_PER_UOM],[ORI_AMOUNT],[LOCAL_AMOUNT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],
						[CHANGED_DT],[PR_NO],[PR_ITEM_NO],[PR_SUBITEM_NO])
					SELECT [PO_NO],[PO_ITEM_NO],[PO_SUBITEM_NO],[MAT_NO],[MAT_DESC],[WBS_NO],[WBS_NAME],[GL_ACCOUNT],[COST_CENTER_CD],[UNLIMITED_FLAG],[TOLERANCE_PERCENTAGE],
						[SPECIAL_PROCUREMENT_TYPE],[PO_QTY_ORI],[PO_QTY_USED],[PO_QTY_REMAIN],[UOM],[PRICE_PER_UOM],[ORI_AMOUNT],[LOCAL_AMOUNT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],
						[CHANGED_DT],[PR_NO],[PR_ITEM_NO],[PR_SUBITEM_NO]
					FROM TB_R_PO_SUBITEM WHERE PO_NO = @PO_NO

					INSERT INTO @tempPOCondition ([PO_NO],[PO_ITEM_NO],[COMP_PRICE_CD],[COMP_PRICE_RATE],[INVOICE_FLAG],[EXCHANGE_RATE],[SEQ_NO],[BASE_VALUE_FROM],[BASE_VALUE_TO],[PO_CURR],
						[INVENTORY_FLAG],[CALCULATION_TYPE],[PLUS_MINUS_FLAG],[CONDITION_CATEGORY],[ACCRUAL_FLAG_TYPE],[CONDITION_RULE],[QTY],[QTY_PER_UOM],[PRICE_AMT],[COMP_TYPE],[PRINT_STATUS],
						[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT])
					SELECT [PO_NO],[PO_ITEM_NO],[COMP_PRICE_CD],[COMP_PRICE_RATE],[INVOICE_FLAG],[EXCHANGE_RATE],[SEQ_NO],[BASE_VALUE_FROM],[BASE_VALUE_TO],[PO_CURR],
						[INVENTORY_FLAG],[CALCULATION_TYPE],[PLUS_MINUS_FLAG],[CONDITION_CATEGORY],[ACCRUAL_FLAG_TYPE],[CONDITION_RULE],[QTY],[QTY_PER_UOM],[PRICE_AMT],[COMP_TYPE],[PRINT_STATUS],
						[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT]
					FROM TB_R_PO_CONDITION WHERE PO_NO = @PO_NO

					INSERT INTO @tempWorkflow([DOCUMENT_NO],[ITEM_NO],[DOCUMENT_SEQ],[APPROVAL_CD],[APPROVAL_DESC],[APPROVED_BY],[NOREG],[APPROVED_BYPASS],[APPROVED_DT],[STRUCTURE_ID],[STRUCTURE_NAME],
						[APPROVER_POSITION],[IS_APPROVED],[IS_REJECTED],[IS_DISPLAY],[LIMIT_FLAG],[MAX_AMOUNT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[IS_CANCELLED],[APPROVER_NAME],[APPROVAL_INTERVAL],
						[INTERVAL_DATE],[RELEASE_FLAG])
					SELECT [DOCUMENT_NO],[ITEM_NO],[DOCUMENT_SEQ],[APPROVAL_CD],[APPROVAL_DESC],[APPROVED_BY],[NOREG],[APPROVED_BYPASS],[APPROVED_DT],[STRUCTURE_ID],[STRUCTURE_NAME],
						[APPROVER_POSITION],[IS_APPROVED],[IS_REJECTED],[IS_DISPLAY],[LIMIT_FLAG],[MAX_AMOUNT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[IS_CANCELLED],[APPROVER_NAME],[APPROVAL_INTERVAL],
						[INTERVAL_DATE],[RELEASE_FLAG]
					FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = @PO_NO

					SET @IS_INTEMP = 'Y'

					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Insert Data from transactional table into table variable finished'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
					--=> End Of STEP 4.B.3

					--=> STEP 4.B.4 Insert Into history table
					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Insert Data Into history table for PO_NO : ' + @PO_NO + ' started'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

					--TABLE HISTORYNYA BELOM ADAA

					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Insert Data Into history table for PO_NO : ' + @PO_NO + ' finished'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
					--=> End Of STEP 4.B.4

					--=> STEP 4.B.5 Update TB_R_PO_H
					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Update TB_R_PO_H for PO_NO: ' + @PO_NO + 'Started'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

					UPDATE poh
						SET PO_DESC = (SELECT TOP 1 SP.MAT_DESC FROM TB_T_SAP_PO SP WHERE SP.PO_NO = @PO_NO ORDER BY SP.PO_ITEM_NO),
							VENDOR_CD = sappo.VENDOR_CD,
							VENDOR_NAME = sappo.VENDOR_NAME,
							DOC_DT = sappo.PO_DATE,
							PROC_MONTH = SUBSTRING(REPLACE(CAST(sappo.PO_DATE AS VARCHAR), '-', ''), 1, 6),
							PAYMENT_METHOD_CD = mv.PAYMENT_METHOD_CD,
							PAYMENT_TERM_CD = mv.PAYMENT_TERM_CD,
							DOC_TYPE = 'PO',
							DOC_CATEGORY = '',
							PURCHASING_GRP_CD = sappo.PURCH_GROUP,
							PO_CURR = sappo.CURR_CD,
							PO_AMOUNT = 
							(SELECT (ISNULL(MAX(posap.AMOUNT),0)) FROM TB_T_SAP_PO posap
							WHERE posap.PO_NO = sappo.PO_NO),
							--[dbo].[fn_GET_PO_AMOUNT](@PO_NO),
							PO_EXCHANGE_RATE = sappo.EXCHANGE_RATE,
							LOCAL_CURR = @localCurrency,
							PO_STATUS = '40',
							RELEASED_FLAG = 'N',
							RELEASED_DT = NULL,
							DELETION_FLAG = 'N',
							PROCESS_ID = @PROCESS_ID,
							CHANGED_BY = @USER,
							CHANGED_DT = CONVERT(VARCHAR(20), GETDATE(), 120),
							SAP_DOC_NO = sappo.PO_NO,
							URGENT_DOC = 'N',
							DELIVERY_ADDR = 'SunterII',
							SYSTEM_SOURCE = 'SAP',
							PO_NEXT_STATUS = '41',
							VENDOR_ADDRESS = VENDOR_ADDR,
							POSTAL_CODE = sappo.VENDOR_POSTAL,
							CITY = sappo.VENDOR_CITY,
							ATTENTION = sappo.VENDOR_ATTENTION,
							PHONE = sappo.VENDOR_TELP,
							FAX = sappo.VENDOR_FAX,
							COUNTRY = 'ID',
							PO_NOTE1 = ISNULL(sappo.PO_NOTE1, ''),
							PO_NOTE2 = ISNULL(sappo.PO_NOTE2, ''),
							PO_NOTE3 = ISNULL(sappo.PO_NOTE3, ''),
							PO_NOTE4 = ISNULL(sappo.PO_NOTE4, ''),
							PO_NOTE5 = ISNULL(sappo.PO_NOTE5, ''),
							PO_NOTE6 = ISNULL(sappo.PO_NOTE6, ''),
							PO_NOTE7 = ISNULL(sappo.PO_NOTE7, ''),
							PO_NOTE8 = ISNULL(sappo.PO_NOTE8, ''),
							PO_NOTE9 = ISNULL(sappo.PO_NOTE9, ''),
							PO_NOTE10 = ISNULL(sappo.PO_NOTE10, ''),
							DELIVERY_NAME = sappo.DLV_NAME,
							DELIVERY_ADDRESS = sappo.DLV_ADDR,
							DELIVERY_POSTAL_CODE = sappo.DLV_POSTAL,
							DELIVERY_CITY = sappo.DLV_CITY
						FROM TB_T_SAP_PO sappo JOIN TB_R_PO_H poh ON sappo.PO_NO = poh.PO_NO
							LEFT JOIN TB_M_VENDOR mv ON sappo.VENDOR_CD = mv.VENDOR_CD
						WHERE sappo.PO_NO = @PO_NO AND poh.PROCESS_ID = @PROCESS_ID

					SET @MSG_ID = 'INF00001'
					SET @MSG_TEXT = 'Update TB_R_PO_H for PO_NO: ' + @PO_NO + 'Finished'
					INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
					EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
					--=> End Of STEP 4.B.5

					--=> STEP 4.B.8 Delete existing PO Item, Subitem, Condition
					DELETE FROM TB_R_PO_ITEM WHERE PO_NO = @PO_NO
					DELETE FROM TB_R_PO_SUBITEM WHERE PO_NO = @PO_NO
					DELETE FROM TB_R_PO_CONDITION WHERE PO_NO = @PO_NO
					--=> End Of STEP 4.B.8

					--=> STEP 4.B.9 Checking Amount(to decide either reset workflow or do nothing)
					IF [dbo].[fn_GET_PO_AMOUNT](@PO_NO) > (SELECT PO_AMOUNT FROM @tempPOH WHERE PO_NO = @PO_NO)
					BEGIN
						DELETE TB_R_WORKFLOW WHERE DOCUMENT_NO = @PO_NO
						SET @WORKFLOWACTION = 'IN'
					END
					ELSE
					BEGIN
						SET @WORKFLOWACTION = 'IG'
					END
					--=> End Of STEP 4.B.9
				END

				--=> STEP 5. Insert Into TB_R_PO_ITEM
				SET @MSG_TEXT = CASE WHEN(@ACTION = 'I') THEN 'Insert' ELSE 'Update' END + ' Into TB_R_PO_ITEM for PO_NO: ' + @PO_NO + ' Started'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

				INSERT INTO TB_R_PO_ITEM (PO_NO, PO_ITEM_NO, PROCUREMENT_PURPOSE, PR_NO, PR_ITEM_NO, MAT_NO, MAT_DESC, VALUATION_CLASS, VALUATION_CLASS_DESC,
						DELIVERY_PLAN_DT, PLANT_CD, SLOC_CD, DIVISION_ID, DIVISION_NAME, WBS_NO, COST_CENTER_CD, GL_ACCOUNT, PO_QTY_ORI, PO_QTY_USED, PO_QTY_REMAIN,UOM, 
						PRICE_PER_UOM, 
						ORI_AMOUNT, LOCAL_AMOUNT, 
						
						PO_STATUS, PO_NEXT_STATUS, IS_REJECTED, CREATED_BY, CREATED_DT, RELEASE_FLAG, ITEM_CLASS, GROSS_PERCENT)
				SELECT DISTINCT PO.PO_NO, PO.PO_ITEM_NO, '', (CASE WHEN PO.PR_ITEM_NO = '00000' THEN NULL ELSE PO.PR_NO END), (CASE WHEN PO.PR_ITEM_NO = '00000' THEN NULL ELSE PO.PR_ITEM_NO END),
						SUBSTRING(ISNULL(PO.MAT_NO, ''), PATINDEX('%[^0 ]%', ISNULL(PO.MAT_NO, '') + ' '), LEN(ISNULL(PO.MAT_NO, ''))), PO.MAT_DESC, '5000' AS VAL_CLASS, '5000' AS VAL_DESC, PO.DELIVERY_PLAN_DT, PO.PLANT_CD, PO.SLOC_CD, UM.DIV_ID, UM.DIV_NAME, (CASE WHEN ISNULL(PO.SERV_ITEM, '') = '' THEN PO.WBS_NO ELSE 'X' END),
						PO.COST_CENTER, SUBSTRING(ISNULL(PO.GL_ACCOUNT, ''), PATINDEX('%[^0 ]%', ISNULL(PO.GL_ACCOUNT, '') + ' '), LEN(ISNULL(PO.GL_ACCOUNT, ''))), PO.ORI_QTY, PO.USED_QTY, (PO.ORI_QTY - PO.USED_QTY), CASE WHEN PO.UOM_CD = 'LE' THEN 'AU' WHEN PO.UOM_CD = 'ST' THEN 'PC' WHEN PO.UOM_CD = 'BOT' THEN 'BT' WHEN PO.UOM_CD = 'GLL' THEN 'GAL' ELSE PO.UOM_CD END UOM_CD, 
						
						--CAST(PO.PRICE_PER_UOM AS DECIMAL(18,3)),
						CASE WHEN LAG(PO_ITEM_NO)OVER (ORDER BY PO_NO, PO_ITEM_NO)<> PO_ITEM_NO THEN
							CASE WHEN PO.AMOUNT = (PO.PRICE_PER_UOM * PO.NEW_QTY)+  ISNULL(LAG(AMOUNT)OVER (ORDER BY PO_NO, PO_ITEM_NO),0) 
							THEN  CAST(PO.PRICE_PER_UOM AS DECIMAL(18,3))
							ELSE  CAST((PO.AMOUNT/PO.NEW_QTY) AS DECIMAL(18,3)) END
						ELSE
							CAST(PO.PRICE_PER_UOM AS DECIMAL(18,3))
						END, 
						
						--(PO.ORI_QTY * CAST(PO.PRICE_PER_UOM AS DECIMAL(18,3))),
						CASE WHEN LAG(PO_ITEM_NO)OVER (ORDER BY PO_NO, PO_ITEM_NO)<> PO_ITEM_NO THEN
							(PO.ORI_QTY * CASE WHEN PO.AMOUNT = (PO.PRICE_PER_UOM * PO.NEW_QTY) + ISNULL(LAG(AMOUNT)OVER (ORDER BY PO_NO, PO_ITEM_NO),0)  
										THEN  CAST(PO.PRICE_PER_UOM AS DECIMAL(18,3))
										ELSE  CAST((PO.AMOUNT/PO.NEW_QTY) AS DECIMAL(18,3)) END
										)
						ELSE
							(PO.ORI_QTY * CAST(PO.PRICE_PER_UOM AS DECIMAL(18,3)))
						END,
						--((PO.ORI_QTY * CAST(PO.PRICE_PER_UOM AS DECIMAL (18,3))) * @EXCHANGE_RATE), 
						CASE WHEN LAG(PO_ITEM_NO)OVER (ORDER BY PO_NO, PO_ITEM_NO)<> PO_ITEM_NO THEN
							((PO.ORI_QTY * CASE WHEN PO.AMOUNT = (PO.PRICE_PER_UOM * PO.NEW_QTY) +  ISNULL(LAG(AMOUNT)OVER (ORDER BY PO_NO, PO_ITEM_NO),0)  
										THEN  CAST(PO.PRICE_PER_UOM AS DECIMAL(18,3))
										ELSE  CAST((PO.AMOUNT/PO.NEW_QTY) AS DECIMAL(18,3)) END) * @EXCHANGE_RATE)
						ELSE
							((PO.ORI_QTY * CAST(PO.PRICE_PER_UOM AS DECIMAL (18,3))) * @EXCHANGE_RATE)
						END,
						
						'40', '41', 'N', @USER, CONVERT(VARCHAR(20), GETDATE(), 120), 'N',

						(CASE WHEN (SELECT COUNT(1) FROM TB_T_SAP_PO WHERE PO_NO = @PO_NO AND PO_ITEM_NO = PO.PO_ITEM_NO AND (ISNULL(SERV_ITEM, '') <> '' AND SERV_ITEM <> '00000')) > 0 THEN 'S' ELSE 'M' END), 0
				FROM TB_T_SAP_PO PO
						INNER JOIN TB_T_SAP_USER_MAPPING UM ON UM.SAP_USERNAME = PO.CREATED_BY AND UM.PURCH_GROUP = PO.PURCH_GROUP
						WHERE PO.PO_NO = @PO_NO

				SET @MSG_ID = 'INF00001'
				SET @MSG_TEXT = CASE WHEN(@ACTION = 'I') THEN 'Insert' ELSE 'Update' END + ' Into TB_R_PO_ITEM for PO_NO: ' + @PO_NO + ' Finished'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
				--=> End Of STEP 5

				--=> STEP 6. Insert Into TB_R_PO_SUBITEM
				SET @MSG_ID = 'INF00001'
				SET @MSG_TEXT = CASE WHEN(@ACTION = 'I') THEN 'Insert' ELSE 'Update' END + ' Into TB_R_PO_SUBITEM for PO_NO: ' + @PO_NO + 'Started'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

				INSERT INTO TB_R_PO_SUBITEM (PO_NO, PO_ITEM_NO, PO_SUBITEM_NO, MAT_DESC, WBS_NO, COST_CENTER_CD, GL_ACCOUNT, SPECIAL_PROCUREMENT_TYPE,
						PO_QTY_ORI, PO_QTY_USED, PO_QTY_REMAIN, UOM, PRICE_PER_UOM, ORI_AMOUNT, LOCAL_AMOUNT, CREATED_BY, CREATED_DT)
				SELECT PO_NO, PO_ITEM_NO, RIGHT(SERV_ITEM, 5), SERV_TEXT, WBS_NO, COST_CENTER, SUBSTRING(ISNULL(GL_ACCOUNT, ''), PATINDEX('%[^0 ]%', ISNULL(GL_ACCOUNT, '') + ' '), LEN(ISNULL(GL_ACCOUNT, ''))), 'N', SERV_QTY, 0, SERV_QTY, 
						CASE WHEN SERV_UNIT = 'LE' THEN 'AU' WHEN SERV_UNIT = 'ST' THEN 'PC' WHEN SERV_UNIT = 'BOT' THEN 'BT' WHEN SERV_UNIT = 'GLL' THEN 'GAL' ELSE SERV_UNIT END SERV_UNIT_CD,
						SERV_GPRICE, CAST((SERV_QTY * SERV_GPRICE) AS DECIMAL(18, 4)), CAST((SERV_QTY * SERV_GPRICE * EXCHANGE_RATE) AS DECIMAL(18, 4)), @USER,
						CONVERT(VARCHAR(20), GETDATE(), 120)
				FROM TB_T_SAP_PO WHERE PO_NO = @PO_NO AND (ISNULL(SERV_ITEM, '') <> '' AND SERV_ITEM <> '00000')

				SET @MSG_ID = 'INF00001'
				SET @MSG_TEXT = CASE WHEN(@ACTION = 'I') THEN 'Insert' ELSE 'Update' END + ' Into TB_R_PO_SUBITEM for PO_NO: ' + @PO_NO + ' Finished'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
				--=> End Of STEP 6

				--=> STEP 7. Insert Data Into TB_R_PO_CONDITION
				SET @MSG_ID = 'INF00001'
				SET @MSG_TEXT = CASE WHEN(@ACTION = 'I') THEN 'Insert' ELSE 'Update' END + ' Into TB_R_PO_CONDITION for PO_NO: ' + @PO_NO + ' Started'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

				INSERT INTO TB_R_PO_CONDITION (PO_NO, PO_ITEM_NO, COMP_PRICE_CD, COMP_PRICE_RATE, INVOICE_FLAG, EXCHANGE_RATE, SEQ_NO, BASE_VALUE_FROM,
					BASE_VALUE_TO, PO_CURR, INVENTORY_FLAG, CALCULATION_TYPE, PLUS_MINUS_FLAG, CONDITION_CATEGORY, ACCRUAL_FLAG_TYPE, CONDITION_RULE, QTY,
					QTY_PER_UOM, PRICE_AMT, COMP_TYPE, PRINT_STATUS, CREATED_BY, CREATED_DT)
				SELECT DISTINCT
					PO.PO_NO, PO.PO_ITEM_NO, 'PB00', PO.PRICE_PER_UOM, 'Y', @EXCHANGE_RATE, 1, 1, NULL, @CURR_CD, 'N', '1', '1', 'H', 'N', 'V', PO.ORI_QTY, 1,
					PO.PRICE_PER_UOM, 'M', 'N', @USER, CONVERT(VARCHAR(20), GETDATE(), 120)
				FROM TB_T_SAP_PO PO WHERE PO.PO_NO = @PO_NO

				SET @MSG_ID = 'INF00001'
				SET @MSG_TEXT = 'Insert Into TB_R_PO_CONDITION for PO_NO: ' + @PO_NO + ' Finished'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
				--=> End Of STEP 7

				--=> STEP 8. Insert TB_R_WORKFLOW if WORKFLOWACTION = 'IN'
				IF(@WORKFLOWACTION = 'IN')
				BEGIN
					IF (@H_PO_NO IS NULL OR @H_PO_NO <> @PO_NO)
					BEGIN
						SET @MSG_ID = 'INF00001'
						SET @MSG_TEXT = 'Insert Into TB_R_WORKFLOW for PO_NO: ' + @PO_NO + ' Started'
						INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
						EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

						--Note: copy from sp_pocreation_save
						DECLARE
							@approvalFunctionId VARCHAR(6) = '303001',
							@defaultInterval INT = (SELECT ISNULL(MAX(CAST(mvc.APPROVAL_INTERVAL AS INT)), 0) FROM TB_R_PO_ITEM poi JOIN TB_M_VALUATION_CLASS mvc ON poi.VALUATION_CLASS = mvc.VALUATION_CLASS WHERE poi.PO_NO = @PO_NO ),
							@sumOriAmount DECIMAL(18, 4) = 0,
							@sumNewAmount DECIMAL(18, 4) = (SELECT SUM(LOCAL_AMOUNT) FROM TB_R_PO_ITEM WHERE PO_NO = @PO_NO)

						IF @sumNewAmount > @sumOriAmount
						BEGIN
							DELETE FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = @PO_NO
							UPDATE TB_R_PO_H SET PO_STATUS = '40', PO_NEXT_STATUS = '41' WHERE PO_NO = @PO_NO
							UPDATE TB_R_PO_ITEM SET PO_STATUS = '40', PO_NEXT_STATUS = '41' WHERE PO_NO = @PO_NO
						END

						DECLARE @divisionName VARCHAR(50),
								@departmentId VARCHAR(50),
								@sectionId VARCHAR(50),
								@orgId VARCHAR(50),
								@orgTitle VARCHAR(100),
								@directorateId VARCHAR(50),
								@personnelName VARCHAR(100),
								@positionLevel VARCHAR(100)
						SELECT TOP 1 @divisionName = se.DIVISION_NAME,
									 @departmentId = cm.DEPARTMENT_ID,
									 @sectionId = cm.SECTION_ID,
									 @orgId = cm.ORG_ID,
									 @orgTitle = se.ORG_TITLE,
									 @directorateId = se.DIRECTORATE_ID,
									 @personnelName = se.PERSONNEL_NAME,
									 @positionLevel = cm.POSITION_LEVEL
							FROM TB_M_COORDINATOR_MAPPING cm JOIN TB_R_SYNCH_EMPLOYEE se
								ON cm.COORDINATOR_CD = @PURCH_GROUP AND cm.NOREG = se.NOREG
							WHERE se.NOREG = @NOREG AND GETDATE() BETWEEN se.VALID_FROM AND se.VALID_TO


						DELETE FROM @orgRef
						INSERT INTO @orgRef VALUES
						(@sectionId, 'SectionId'),
						(@departmentId, 'DepartmentId'),
						(CAST(@DIV_ID AS VARCHAR), 'DivisionId'),
						(@directorateId, 'DirectorateId')

						INSERT INTO TB_R_WORKFLOW
							(DOCUMENT_NO, ITEM_NO, DOCUMENT_SEQ, APPROVAL_CD, APPROVAL_DESC, APPROVED_BY, NOREG, APPROVED_BYPASS, APPROVED_DT, STRUCTURE_ID,
							STRUCTURE_NAME, APPROVER_POSITION, IS_APPROVED, IS_REJECTED, IS_DISPLAY, LIMIT_FLAG, MAX_AMOUNT, CREATED_BY, CREATED_DT, CHANGED_BY,
							CHANGED_DT, IS_CANCELLED, APPROVER_NAME, APPROVAL_INTERVAL, INTERVAL_DATE, RELEASE_FLAG)
						SELECT @PO_NO, '00000', 1, '40', (SELECT TOP 1 STATUS_DESC FROM TB_M_STATUS WHERE STATUS_CD = '40' AND DOC_TYPE = 'PO'), @NOREG,
							   @NOREG, @NOREG, GETDATE(), @orgId, @orgTitle, @positionLevel, 'Y', 'N', 'Y', 'N', 'N', 'SYSTEM', CONVERT(VARCHAR(20), GETDATE(), 120), NULL, NULL,
							   'N', @personnelName, 0, CONVERT(VARCHAR(20), GETDATE(), 120), 'N'

						INSERT INTO TB_R_WORKFLOW
						(DOCUMENT_NO, ITEM_NO, DOCUMENT_SEQ, APPROVAL_CD, APPROVAL_DESC, APPROVED_BY, NOREG, APPROVED_BYPASS, APPROVED_DT, STRUCTURE_ID,
						STRUCTURE_NAME, APPROVER_POSITION, IS_APPROVED, IS_REJECTED, IS_DISPLAY, LIMIT_FLAG, MAX_AMOUNT, CREATED_BY, CREATED_DT, CHANGED_BY,
						CHANGED_DT, IS_CANCELLED, APPROVER_NAME, APPROVAL_INTERVAL, INTERVAL_DATE, RELEASE_FLAG)
						SELECT @PO_NO, '00000', ROW_NUMBER() OVER(ORDER BY tmp.PositionLevel DESC) + 1, tmp.POStatus,
						(SELECT TOP 1 STATUS_DESC FROM TB_M_STATUS WHERE STATUS_CD = tmp.POStatus AND DOC_TYPE = 'PO'),
						tmp.RegNo, tmp.RegNo, CASE WHEN @positionLevel < tmp.PositionLevel OR @NOREG = tmp.RegNo THEN @NOREG ELSE NULL END,
						CASE WHEN @positionLevel < tmp.PositionLevel OR @NOREG = tmp.RegNo THEN GETDATE() ELSE NULL END, tmp.OrgId, tmp.OrgTitle,
						tmp.PositionLevel, CASE WHEN @positionLevel < tmp.PositionLevel OR @NOREG = tmp.RegNo THEN 'Y' ELSE 'N' END, 'N', tmp.IsDisplay,
						'N', tmp.MaxAmount, @NOREG, CONVERT(VARCHAR(20), GETDATE(), 120), NULL, NULL, 'N', tmp.ApproverName, @defaultInterval,
						dbo.fn_dateadd_workday(@defaultInterval, GETDATE()), 'N'
						FROM (
							SELECT
								se.ORG_ID OrgId,
								se.ORG_TITLE OrgTitle,
								MIN(se.POSITION_LEVEL) PositionLevel,
								@approvalFunctionId FunctionId,
								op.LEVEL_ID LevelId,
								st.SYSTEM_VALUE POStatus,
								am.SYSTEM_VALUE MaxAmount,
								CASE WHEN @sumNewAmount > CAST(am.SYSTEM_VALUE AS DECIMAL(18, 4)) THEN 'Y' ELSE 'N' END IsDisplay,
								se.PERSONNEL_NAME ApproverName,
								se.NOREG RegNo
							FROM TB_R_SYNCH_EMPLOYEE se
							JOIN TB_M_ORG_POSITION op ON se.POSITION_LEVEL = op.POSITION_LEVEL
							JOIN TB_M_SYSTEM am ON se.POSITION_LEVEL = am.SYSTEM_CD AND am.FUNCTION_ID = 'XPOAMT'
							JOIN TB_M_SYSTEM st ON op.LEVEL_ID = st.SYSTEM_CD AND st.FUNCTION_ID = @approvalFunctionId
							WHERE se.DIVISION_ID = @DIV_ID AND GETDATE() BETWEEN se.VALID_FROM AND VALID_TO AND se.ORG_ID IN (SELECT OrgId FROM @orgRef GROUP BY OrgId)
							AND CASE WHEN @sumNewAmount > CAST(am.SYSTEM_VALUE AS DECIMAL(18, 4)) THEN 'Y' ELSE 'N' END = 'Y'
							GROUP BY se.ORG_ID, se.ORG_TITLE, op.LEVEL_ID, st.SYSTEM_VALUE, am.SYSTEM_VALUE, se.PERSONNEL_NAME, se.NOREG
						) tmp

						DECLARE @last_seq int
						SET @last_seq = (SELECT MAX(DOCUMENT_SEQ) FROM TB_R_WORKFLOW wp WHERE wp.DOCUMENT_NO = @PO_NO AND wp.ITEM_NO = '00000') 

						-- Add Approver IN SAME LEVEL or higher if current level not exist in approval workflow
						INSERT INTO TB_R_WORKFLOW
						(DOCUMENT_NO, ITEM_NO, DOCUMENT_SEQ, APPROVAL_CD, APPROVAL_DESC, APPROVED_BY, NOREG, APPROVED_BYPASS, APPROVED_DT, STRUCTURE_ID,
						STRUCTURE_NAME, APPROVER_POSITION, IS_APPROVED, IS_REJECTED, IS_DISPLAY, LIMIT_FLAG, MAX_AMOUNT, CREATED_BY, CREATED_DT, CHANGED_BY,
						CHANGED_DT, IS_CANCELLED, APPROVER_NAME, APPROVAL_INTERVAL, INTERVAL_DATE, RELEASE_FLAG)
						SELECT @PO_NO, '00000', ROW_NUMBER() OVER(ORDER BY tmp.PositionLevel DESC) + @last_seq, tmp.POStatus,
						(SELECT TOP 1 STATUS_DESC FROM TB_M_STATUS WHERE STATUS_CD = tmp.POStatus AND DOC_TYPE = 'PO'),
						tmp.RegNo, tmp.RegNo, CASE WHEN @positionLevel < tmp.PositionLevel OR @NOREG = tmp.RegNo THEN @NOREG ELSE NULL END,
						CASE WHEN @positionLevel < tmp.PositionLevel OR @NOREG = tmp.RegNo THEN GETDATE() ELSE NULL END, tmp.OrgId, tmp.OrgTitle,
						tmp.PositionLevel, CASE WHEN @positionLevel < tmp.PositionLevel OR @NOREG = tmp.RegNo THEN 'Y' ELSE 'N' END, 'N', tmp.IsDisplay,
						'N', tmp.MaxAmount, @NOREG, CONVERT(VARCHAR(20), GETDATE(), 120), NULL, NULL, 'N', tmp.ApproverName, @defaultInterval,
						dbo.fn_dateadd_workday(@defaultInterval, GETDATE()), 'N'
						FROM (
							SELECT ROW_NUMBER() OVER(PARTITION BY op.LEVEL_ID ORDER BY op.LEVEL_ID DESC, op.POSITION_LEVEL ASC) AS DATA_ID,
								se.ORG_ID OrgId,
								se.ORG_TITLE OrgTitle,
								se.POSITION_LEVEL PositionLevel,
								@approvalFunctionId FunctionId,
								op.LEVEL_ID LevelId,
								st.SYSTEM_VALUE POStatus,
								(SELECT TOP 1 am.SYSTEM_VALUE FROM TB_M_SYSTEM am WHERE am.FUNCTION_ID = 'XPOAMT' AND SYSTEM_CD IN (SELECT op2.POSITION_LEVEL FROM TB_M_ORG_POSITION op2 WHERE op2.LEVEL_ID = op.LEVEL_ID)) MaxAmount,
								CASE WHEN @sumNewAmount > CAST((SELECT TOP 1 am.SYSTEM_VALUE FROM TB_M_SYSTEM am WHERE am.FUNCTION_ID = 'XPOAMT' AND SYSTEM_CD IN (SELECT op2.POSITION_LEVEL FROM TB_M_ORG_POSITION op2 WHERE op2.LEVEL_ID = op.LEVEL_ID)) AS DECIMAL(18, 4)) THEN 'Y' ELSE 'N' END IsDisplay,
								se.PERSONNEL_NAME ApproverName,
								se.NOREG RegNo
							FROM TB_R_SYNCH_EMPLOYEE se
							JOIN TB_M_ORG_POSITION op ON se.POSITION_LEVEL = op.POSITION_LEVEL AND 
								NOT EXISTS (SELECT 1 FROM TB_R_WORKFLOW wp INNER JOIN TB_M_SYSTEM am2 ON am2.FUNCTION_ID = 'XPOAMT' AND am2.SYSTEM_CD = wp.APPROVER_POSITION JOIN TB_M_ORG_POSITION op2 ON wp.APPROVER_POSITION = op2.POSITION_LEVEL  WHERE wp.DOCUMENT_NO = @PO_NO AND wp.ITEM_NO = '00000' AND op2.LEVEL_ID = op.LEVEL_ID)
							JOIN TB_M_SYSTEM st ON op.LEVEL_ID = st.SYSTEM_CD AND st.FUNCTION_ID = @approvalFunctionId
							WHERE se.DIVISION_ID = @DIV_ID AND GETDATE() BETWEEN se.VALID_FROM AND VALID_TO AND se.ORG_ID IN (SELECT OrgId FROM @orgRef GROUP BY OrgId)
							AND CASE WHEN @sumNewAmount > CAST((SELECT TOP 1 am.SYSTEM_VALUE FROM TB_M_SYSTEM am WHERE am.FUNCTION_ID = 'XPOAMT' AND SYSTEM_CD IN (SELECT op2.POSITION_LEVEL FROM TB_M_ORG_POSITION op2 WHERE op2.LEVEL_ID = op.LEVEL_ID)) AS DECIMAL(18, 4)) THEN 'Y' ELSE 'N' END = 'Y'
						) tmp WHERE DATA_ID = 1

						--Note : add bypass checking(if PO Creator is SH/DpH/DH then bypass)
						SET @STATUS = 'SUCCESS'
						EXEC [dbo].[sp_worklist_bypassChecking]
							@PO_NO,
							'PO',
							@PROCESS_ID,
							@NOREG,
							@orgId,
							@positionLevel,
							@STATUS OUTPUT

						IF(@STATUS <> 'SUCCESS')
						BEGIN
							RAISERROR(@status, 16, 1)
						END

						DECLARE @approvalDt VARCHAR(10) = (SELECT TOP 1 CAST(APPROVED_DT AS VARCHAR) FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = @PO_NO AND DOCUMENT_SEQ = 1)
						EXEC [dbo].[sp_worklist_calculateInterval]
							@PO_NO,
							'00000',
							@approvalDt,
							1

						DECLARE
							@lastByPassedStatus VARCHAR(3), @lastApprover VARCHAR(20), @lastDocSeq INT,
							@nextStatus VARCHAR(3), @nextApprover VARCHAR(20), @nextDocSeq INT

						SELECT @lastApprover = w.APPROVED_BY, @lastByPassedStatus = w.APPROVAL_CD, @lastDocSeq = w.DOCUMENT_SEQ
						FROM TB_R_WORKFLOW w
						JOIN (
							SELECT DOCUMENT_NO, ISNULL(MAX(DOCUMENT_SEQ), 0) DOCUMENT_SEQ
							FROM dbo.TB_R_WORKFLOW WHERE DOCUMENT_NO = @PO_NO AND ITEM_NO = '00000' AND APPROVED_BYPASS = @NOREG
							GROUP BY DOCUMENT_NO
						) wd ON w.DOCUMENT_NO = wd.DOCUMENT_NO AND w.DOCUMENT_SEQ = wd.DOCUMENT_SEQ

						SELECT
							@nextApprover = CASE WHEN @lastByPassedStatus = '43' /* Posting */ THEN @lastApprover ELSE APPROVED_BY END,
							@nextStatus = CASE WHEN @lastByPassedStatus = '43' /* Posting */ THEN @lastByPassedStatus ELSE APPROVAL_CD END
						FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = @PO_NO AND ITEM_NO = '00000' AND DOCUMENT_SEQ = @lastDocSeq + 1

						UPDATE TB_R_PO_H SET PO_STATUS = @lastByPassedStatus, PO_NEXT_STATUS = @nextStatus WHERE PO_NO = @PO_NO
						UPDATE TB_R_PO_ITEM SET PO_STATUS = @lastByPassedStatus, PO_NEXT_STATUS = @nextStatus WHERE PO_NO = @PO_NO

						SET @MSG_ID = 'INF00001'
						SET @MSG_TEXT = 'Insert Into TB_R_WORKFLOW for PO_NO: ' + @PO_NO + ' Finished'
						INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, CONVERT(VARCHAR(20), GETDATE(), 120), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
						EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;

						SET @H_PO_NO = @PO_NO
					END
				END
				--=> End Of STEP 8

				--=> STEP 9. Set PO Status
				SET @MSG_ID = 'INF00001'
				SET @MSG_TEXT = 'Update PO_STATUS for PO_NO: ' + @PO_NO + ' Started'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, CONVERT(VARCHAR(20), GETDATE(), 120), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

				DECLARE @pohStat CHAR(2) = '', @pohnextStat CHAR(2) = ''
				IF(@ACTION = 'U' AND @WORKFLOWACTION = 'IG')
				BEGIN
					/*IF (SELECT CAST(PO_STATUS AS INT) FROM @tempPOH WHERE PO_NO = @PO_NO) > 43
					BEGIN*/
						SELECT @pohStat = PO_STATUS FROM @tempPOH WHERE PO_NO = @PO_NO
						SELECT @pohnextStat = PO_NEXT_STATUS FROM @tempPOH WHERE PO_NO = @PO_NO
					/*END
					ELSE
					BEGIN
						SELECT TOP 1 @pohStat = APPROVAL_CD
							FROM TB_R_WORKFLOW
							WHERE DOCUMENT_NO = @PO_NO AND IS_DISPLAY = 'Y' AND IS_APPROVED = 'Y'
							ORDER BY DOCUMENT_SEQ DESC

						SELECT TOP 1 @pohnextStat = APPROVAL_CD
							FROM TB_R_WORKFLOW
							WHERE DOCUMENT_NO = @PO_NO AND IS_DISPLAY = 'Y' AND IS_APPROVED = 'N'
							ORDER BY DOCUMENT_SEQ ASC
					END*/
				END
				ELSE
				BEGIN
					SET @pohStat = '40'
					SET @pohnextStat = '41'
				END

				UPDATE TB_R_PO_ITEM SET PO_STATUS = @pohStat, PO_NEXT_STATUS = ISNULL(@pohnextStat, @pohStat) WHERE PO_NO = @PO_NO
				UPDATE TB_R_PO_H SET PO_STATUS = @pohStat, PO_NEXT_STATUS = ISNULL(@pohnextStat, @pohStat) WHERE PO_NO = @PO_NO

				SET @MSG_ID = 'INF00001'
				SET @MSG_TEXT = 'Update PO_STATUS for PO_NO: ' + @PO_NO + ' Finished'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, CONVERT(VARCHAR(20), GETDATE(), 120), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
				--=> End Of STEP 9

				--//// Add By Fid.Reggy Send Email PO Approval
				DECLARE
					@APPROVAL_STATUS_DESC VARCHAR(100) = '', 
					@LAST_STATUS VARCHAR(2) = '',
					@NEXT_NOREG VARCHAR(50) = '',
					@NAME VARCHAR(100) = '',
					@LINK_PO VARCHAR(MAX) = '',
					@i_numItem AS int = 0,
					@MAIL_AMOUNT_APPROVAL AS MONEY,
					@MAIL_ITEM_DESCRIPTION AS VARCHAR(MAX) = '',
					@SUBJECT VARCHAR(100) = '',
					@BODY VARCHAR(MAX) = '',
					@CREATOR_BODY VARCHAR(MAX) = '',
					@APPROVER_BODY VARCHAR(MAX) = '',
					@BODY_HEADER VARCHAR(MAX) = '',
					@BODY_FOOTER VARCHAR(MAX) = ''

				SELECT 
					@MAIL_ITEM_DESCRIPTION = PO_DESC, 
					@MAIL_AMOUNT_APPROVAL = CAST(PO_AMOUNT * PO_EXCHANGE_RATE AS MONEY) 
				FROM TB_R_PO_H
				WHERE PO_NO = @PO_NO

				SET @BODY = @BODY + '<br/>PO Desc. : ' + ISNULL(@MAIL_ITEM_DESCRIPTION, '') + '';
				SET @BODY = @BODY + '<br/>PO Amount : ' + ISNULL(CONVERT(VARCHAR(MAX), @MAIL_AMOUNT_APPROVAL, -1), '') + '';

				--Approval Email
				SELECT TOP 1 @NEXT_NOREG = APPROVED_BY
				FROM TB_R_WORKFLOW
				WHERE DOCUMENT_NO = @PO_NO AND IS_APPROVED = 'N' AND IS_DISPLAY = 'Y'
				ORDER BY DOCUMENT_SEQ ASC

				IF(ISNULL(@NEXT_NOREG,'')<>'')
				BEGIN
					SELECT TOP 1 @NAME = PERSONNEL_NAME
					FROM TB_R_SYNCH_EMPLOYEE 
					WHERE NOREG = @NEXT_NOREG AND GETDATE() BETWEEN VALID_FROM AND VALID_TO 
					ORDER BY POSITION_LEVEL DESC

					SELECT @LINK_PO = SYSTEM_VALUE   
					FROM TB_M_SYSTEM 
					WHERE FUNCTION_ID = 'MAIL' AND SYSTEM_CD = 'LINK_POAPPROVAL' 

					SELECT @SUBJECT = SYSTEM_VALUE   
					FROM TB_M_SYSTEM 
					WHERE FUNCTION_ID = 'POMAIL' AND SYSTEM_CD = 'APR_SUB' 

					SELECT @BODY_HEADER = SYSTEM_VALUE   
					FROM TB_M_SYSTEM 
					WHERE FUNCTION_ID = 'POMAIL' AND SYSTEM_CD = 'APR_HEAD' 

					SELECT @BODY_FOOTER = SYSTEM_VALUE   
					FROM TB_M_SYSTEM 
					WHERE FUNCTION_ID = 'POMAIL' AND SYSTEM_CD = 'APR_FOOT'

					SET @APPROVER_BODY = REPLACE(ISNULL(@BODY_HEADER, ''), '[NAME]', @NAME) + 
											'<br/>PO Number : <a href="' + ISNULL(@LINK_PO, '#') + '">' + ISNULL(@PO_NO, '') + '</a>' +
											ISNULL(@BODY, '') + 
											REPLACE(ISNULL(@BODY_FOOTER, ''), '[APR_LINK]', @LINK_PO)

					EXEC [dbo].[sp_announcement_sendmail]
						@NEXT_NOREG,
						@SUBJECT,
						@APPROVER_BODY,
						@MSG_TEXT OUTPUT
						
					IF(@MSG_TEXT <> 'SUCCESS')
					BEGIN
						RAISERROR(@MSG_TEXT, 16, 1)
					END
				END

				SET @MSG_ID = 'ERR00001'
				SELECT @MSG_TEXT = 'Saving Data PO No : ' + @PO_NO + ' Finished'
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;

				--=> STEP 10. Unlocking Data & Set status monitoring
				DELETE FROM TB_T_LOCK WHERE PROCESS_ID = @PROCESS_ID
				UPDATE TB_R_PO_H SET PROCESS_ID = NULL WHERE PROCESS_ID = @PROCESS_ID AND PO_NO = @PO_NO
				UPDATE TB_H_SAP_PO_MONITORING SET STATUS_SYNCH = '2', MESSAGE_OUT = 'Data Successfully Inserted' WHERE PO_NO = @PO_NO AND PROCESS_ID = @PROCESS_ID
				--=> End Of STEP 10
			END TRY
			BEGIN CATCH
				SET @MSG_ID = 'ERR00001'
				SELECT @MSG_TEXT = 'Saving Data PO No : ' + @PO_NO + ' Failed : ' + ERROR_MESSAGE()
				INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 3, @USER
				EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

				DELETE FROM TB_T_LOCK WHERE PROCESS_ID = @PROCESS_ID
				UPDATE TB_R_PO_H SET PROCESS_ID = NULL WHERE PROCESS_ID = @PROCESS_ID AND PO_NO = @PO_NO
				UPDATE TB_H_SAP_PO_MONITORING SET STATUS_SYNCH = '3', MESSAGE_OUT = (SELECT SUBSTRING(ERROR_MESSAGE(), 1, 150)) WHERE PO_NO = @PO_NO AND PROCESS_ID = @PROCESS_ID

				IF(@IS_LOCKED = 'N')
				BEGIN
					IF(@IS_INTEMP = 'Y')
					BEGIN
						--=> STEP 8. Delete inserted data
						DELETE FROM TB_R_PO_H WHERE PO_NO = @PO_NO
						DELETE FROM TB_R_PO_ITEM WHERE PO_NO = @PO_NO
						DELETE FROM TB_R_PO_SUBITEM WHERE PO_NO = @PO_NO
						DELETE FROM TB_R_PO_CONDITION WHERE PO_NO = @PO_NO
						DELETE FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = @PO_NO
						--=> End Of STEP 8

						--=> STEP 9. Recover previous data, IF action = edit
						IF(@ACTION = 'U')
						BEGIN
							INSERT INTO TB_R_PO_H ([PO_NO],[PO_DESC],[VENDOR_CD],[VENDOR_NAME],[DOC_DT],[PROC_MONTH],[PAYMENT_METHOD_CD],[PAYMENT_TERM_CD],[DOC_TYPE],
								[DOC_CATEGORY],[PURCHASING_GRP_CD],[INV_WO_GR_FLAG],[PO_CURR],[PO_AMOUNT],[PO_EXCHANGE_RATE],[LOCAL_CURR],[PO_STATUS],[RELEASED_FLAG],
								[RELEASED_DT],[DELETION_FLAG],[PROCESS_ID],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[SAP_DOC_NO],[URGENT_DOC],[DRAFT_FLAG],
								[DELIVERY_ADDR],[SYSTEM_SOURCE],[REF_NO],[PO_NEXT_STATUS],[PO_NOTE1],[PO_NOTE2],[PO_NOTE3],[PO_NOTE4],[PO_NOTE5],[PO_NOTE6],[PO_NOTE7],
								[PO_NOTE8],[PO_NOTE9],[PO_NOTE10],[VENDOR_ADDRESS],[POSTAL_CODE],[CITY],[ATTENTION],[PHONE],[FAX],[SAP_PO_NO],[SPK_NO],[SPK_DT],[SPK_BIDDING_DT],
								[SPK_WORK_DESC],[SPK_LOCATION],[SPK_AMOUNT],[SPK_PERIOD_START],[SPK_PERIOD_END],[SPK_RETENTION],[SPK_TERMIN_I],[SPK_TERMIN_I_DESC],
								[SPK_TERMIN_II],[SPK_TERMIN_II_DESC],[SPK_TERMIN_III],[SPK_TERMIN_III_DESC],[SPK_TERMIN_IV],[SPK_TERMIN_IV_DESC],[SPK_TERMIN_V],[SPK_TERMIN_V_DESC],
								[SPK_SIGN],[SPK_SIGN_NAME],[COUNTRY],[DELIVERY_NAME],[DELIVERY_ADDRESS],[DELIVERY_POSTAL_CODE],[DELIVERY_CITY])
							SELECT [PO_NO],[PO_DESC],[VENDOR_CD],[VENDOR_NAME],[DOC_DT],[PROC_MONTH],[PAYMENT_METHOD_CD],[PAYMENT_TERM_CD],[DOC_TYPE],
								[DOC_CATEGORY],[PURCHASING_GRP_CD],[INV_WO_GR_FLAG],[PO_CURR],[PO_AMOUNT],[PO_EXCHANGE_RATE],[LOCAL_CURR],[PO_STATUS],[RELEASED_FLAG],
								[RELEASED_DT],[DELETION_FLAG],[PROCESS_ID],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[SAP_DOC_NO],[URGENT_DOC],[DRAFT_FLAG],
								[DELIVERY_ADDR],[SYSTEM_SOURCE],[REF_NO],[PO_NEXT_STATUS],[PO_NOTE1],[PO_NOTE2],[PO_NOTE3],[PO_NOTE4],[PO_NOTE5],[PO_NOTE6],[PO_NOTE7],
								[PO_NOTE8],[PO_NOTE9],[PO_NOTE10],[VENDOR_ADDRESS],[POSTAL_CODE],[CITY],[ATTENTION],[PHONE],[FAX],[SAP_PO_NO],[SPK_NO],[SPK_DT],[SPK_BIDDING_DT],
								[SPK_WORK_DESC],[SPK_LOCATION],[SPK_AMOUNT],[SPK_PERIOD_START],[SPK_PERIOD_END],[SPK_RETENTION],[SPK_TERMIN_I],[SPK_TERMIN_I_DESC],
								[SPK_TERMIN_II],[SPK_TERMIN_II_DESC],[SPK_TERMIN_III],[SPK_TERMIN_III_DESC],[SPK_TERMIN_IV],[SPK_TERMIN_IV_DESC],[SPK_TERMIN_V],[SPK_TERMIN_V_DESC],
								[SPK_SIGN],[SPK_SIGN_NAME],[COUNTRY],[DELIVERY_NAME],[DELIVERY_ADDRESS],[DELIVERY_POSTAL_CODE],[DELIVERY_CITY]
							FROM @tempPOH WHERE PO_NO = @PO_NO

							INSERT INTO TB_R_PO_ITEM ([PO_NO],[PO_ITEM_NO],[PR_NO],[PR_ITEM_NO],[MAT_NO],[MAT_DESC],[VALUATION_CLASS],[VALUATION_CLASS_DESC],[PROCUREMENT_PURPOSE],
								[DELIVERY_PLAN_DT],[SOURCE_TYPE],[PLANT_CD],[SLOC_CD],[DIVISION_ID],[DIVISION_NAME],[WBS_NO],[COST_CENTER_CD],[UNLIMITED_FLAG],[TOLERANCE_PERCENTAGE],
								[SPECIAL_PROCUREMENT_TYPE],[PO_QTY_ORI],[PO_QTY_USED],[PO_QTY_REMAIN],[UOM],[PRICE_PER_UOM],[ORI_AMOUNT],[LOCAL_AMOUNT],[PO_STATUS],[PO_NEXT_STATUS],
								[IS_REJECTED],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[WBS_NAME],[GL_ACCOUNT],[RELEASE_FLAG],[IS_PARENT],[ITEM_CLASS],[GROSS_PERCENT],[URGENT_DOC])
							SELECT [PO_NO],[PO_ITEM_NO],[PR_NO],[PR_ITEM_NO],[MAT_NO],[MAT_DESC],[VALUATION_CLASS],[VALUATION_CLASS_DESC],[PROCUREMENT_PURPOSE],
								[DELIVERY_PLAN_DT],[SOURCE_TYPE],[PLANT_CD],[SLOC_CD],[DIVISION_ID],[DIVISION_NAME],[WBS_NO],[COST_CENTER_CD],[UNLIMITED_FLAG],[TOLERANCE_PERCENTAGE],
								[SPECIAL_PROCUREMENT_TYPE],[PO_QTY_ORI],[PO_QTY_USED],[PO_QTY_REMAIN],[UOM],[PRICE_PER_UOM],[ORI_AMOUNT],[LOCAL_AMOUNT],[PO_STATUS],[PO_NEXT_STATUS],
								[IS_REJECTED],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[WBS_NAME],[GL_ACCOUNT],[RELEASE_FLAG],[IS_PARENT],[ITEM_CLASS],[GROSS_PERCENT],[URGENT_DOC]
							FROM @tempPOItem WHERE PO_NO = @PO_NO

							INSERT INTO TB_R_PO_SUBITEM ([PO_NO],[PO_ITEM_NO],[PO_SUBITEM_NO],[MAT_NO],[MAT_DESC],[WBS_NO],[WBS_NAME],[GL_ACCOUNT],[COST_CENTER_CD],[UNLIMITED_FLAG],[TOLERANCE_PERCENTAGE],
								[SPECIAL_PROCUREMENT_TYPE],[PO_QTY_ORI],[PO_QTY_USED],[PO_QTY_REMAIN],[UOM],[PRICE_PER_UOM],[ORI_AMOUNT],[LOCAL_AMOUNT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],
								[CHANGED_DT],[PR_NO],[PR_ITEM_NO],[PR_SUBITEM_NO])
							SELECT [PO_NO],[PO_ITEM_NO],[PO_SUBITEM_NO],[MAT_NO],[MAT_DESC],[WBS_NO],[WBS_NAME],[GL_ACCOUNT],[COST_CENTER_CD],[UNLIMITED_FLAG],[TOLERANCE_PERCENTAGE],
								[SPECIAL_PROCUREMENT_TYPE],[PO_QTY_ORI],[PO_QTY_USED],[PO_QTY_REMAIN],[UOM],[PRICE_PER_UOM],[ORI_AMOUNT],[LOCAL_AMOUNT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],
								[CHANGED_DT],[PR_NO],[PR_ITEM_NO],[PR_SUBITEM_NO]
							FROM @tempPOSubitem WHERE PO_NO = @PO_NO

							INSERT INTO TB_R_PO_CONDITION ([PO_NO],[PO_ITEM_NO],[COMP_PRICE_CD],[COMP_PRICE_RATE],[INVOICE_FLAG],[EXCHANGE_RATE],[SEQ_NO],[BASE_VALUE_FROM],[BASE_VALUE_TO],[PO_CURR],
								[INVENTORY_FLAG],[CALCULATION_TYPE],[PLUS_MINUS_FLAG],[CONDITION_CATEGORY],[ACCRUAL_FLAG_TYPE],[CONDITION_RULE],[QTY],[QTY_PER_UOM],[PRICE_AMT],[COMP_TYPE],[PRINT_STATUS],
								[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT])
							SELECT [PO_NO],[PO_ITEM_NO],[COMP_PRICE_CD],[COMP_PRICE_RATE],[INVOICE_FLAG],[EXCHANGE_RATE],[SEQ_NO],[BASE_VALUE_FROM],[BASE_VALUE_TO],[PO_CURR],
								[INVENTORY_FLAG],[CALCULATION_TYPE],[PLUS_MINUS_FLAG],[CONDITION_CATEGORY],[ACCRUAL_FLAG_TYPE],[CONDITION_RULE],[QTY],[QTY_PER_UOM],[PRICE_AMT],[COMP_TYPE],[PRINT_STATUS],
								[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT]
							FROM @tempPOCondition WHERE PO_NO = @PO_NO

							INSERT INTO TB_R_WORKFLOW ([DOCUMENT_NO],[ITEM_NO],[DOCUMENT_SEQ],[APPROVAL_CD],[APPROVAL_DESC],[APPROVED_BY],[NOREG],[APPROVED_BYPASS],[APPROVED_DT],[STRUCTURE_ID],[STRUCTURE_NAME],
								[APPROVER_POSITION],[IS_APPROVED],[IS_REJECTED],[IS_DISPLAY],[LIMIT_FLAG],[MAX_AMOUNT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[IS_CANCELLED],[APPROVER_NAME],[APPROVAL_INTERVAL],
								[INTERVAL_DATE],[RELEASE_FLAG])
							SELECT [DOCUMENT_NO],[ITEM_NO],[DOCUMENT_SEQ],[APPROVAL_CD],[APPROVAL_DESC],[APPROVED_BY],[NOREG],[APPROVED_BYPASS],[APPROVED_DT],[STRUCTURE_ID],[STRUCTURE_NAME],
								[APPROVER_POSITION],[IS_APPROVED],[IS_REJECTED],[IS_DISPLAY],[LIMIT_FLAG],[MAX_AMOUNT],[CREATED_BY],[CREATED_DT],[CHANGED_BY],[CHANGED_DT],[IS_CANCELLED],[APPROVER_NAME],[APPROVAL_INTERVAL],
								[INTERVAL_DATE],[RELEASE_FLAG]
							FROM @tempWorkflow WHERE DOCUMENT_NO = @PO_NO
						END
						--=> End Of STEP 8
					END
				END

			END CATCH

			FETCH NEXT FROM po_cursor INTO @PO_NO
		END
		CLOSE po_cursor
		DEALLOCATE po_cursor
		--=> End Of STEP 2

		--=> STEP 9. Send Email
		SET @MSG_ID = 'INF00001'
		SET @MSG_TEXT = 'Send Email Started'
		INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, CONVERT(VARCHAR(20), GETDATE(), 120), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 1, @USER
		EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;
		DECLARE @tempPurchGroup TABLE(
			ID INT,
			PURCH_GROUP CHAR(3)
		)
		INSERT INTO @tempPurchGroup SELECT DISTINCT DENSE_RANK() OVER (ORDER BY PURCH_GROUP) AS ID, PURCH_GROUP FROM TB_H_SAP_PO_MONITORING WHERE PROCESS_ID = @PROCESS_ID AND STATUS_SYNCH <> '2'

		DECLARE @MAIL_TO VARCHAR(MAX) = '',
				@PARAM VARCHAR(MAX) = ''
		DECLARE @counter INT = 1
		WHILE EXISTS(SELECT 1 FROM @tempPurchGroup WHERE ID = @counter)
		BEGIN
			--=> STEP 10. Get list email based on purchasing group
			SET @MAIL_TO = ''
			SET @PARAM = ''
			SET @STATUS = ''
			SELECT @MAIL_TO = CASE WHEN(ISNULL(@MAIL_TO, '') = '') THEN @MAIL_TO ELSE @MAIL_TO + ';' END + ISNULL(rse.MAIL, '')
				FROM @tempPurchGroup tpg INNER JOIN TB_M_COORDINATOR_MAPPING mcm ON tpg.PURCH_GROUP = mcm.COORDINATOR_CD
				INNER JOIN TB_R_SYNCH_EMPLOYEE rse ON mcm.NOREG = rse.NOREG AND GETDATE() BETWEEN rse.VALID_FROM AND rse.VALID_TO
				WHERE tpg.ID = @counter
			--=> End Of STEP 10

			IF(@MAIL_TO <> '')
			BEGIN
				SELECT @PARAM = @PARAM + CAST(ROW_NUMBER() OVER (ORDER BY spm.PO_NO) AS VARCHAR) + '. PO No : <b>' + spm.PO_NO + '</b> Status : <b>' +
				CASE WHEN(spm.STATUS_SYNCH = '2') THEN 'Success' ELSE 'Finish with error' END + '</b></br>'
					FROM TB_H_SAP_PO_MONITORING spm INNER JOIN @tempPurchGroup tpg ON spm.PURCH_GROUP = tpg.PURCH_GROUP AND tpg.ID = @counter
					WHERE spm.PROCESS_ID = @PROCESS_ID AND  spm.STATUS_SYNCH <> '2'
				SET @PARAM = '<p>' + @PARAM + '</p>'

				EXEC [dbo].[sp_common_sendmail]
					@MAIL_TO,
					'',
					@FUNCTION,
					'01',
					@PARAM,
					@STATUS OUTPUT

				IF(@STATUS <> 'SUCCESS') BEGIN RAISERROR(@STATUS, 16, 1) END
			END

			SET @counter = @counter + 1
		END
		SET @MSG_ID = 'INF00001'
		SET @MSG_TEXT = 'Send Email Finished'
		INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, CONVERT(VARCHAR(20), GETDATE(), 120), @MSG_ID, 'INF', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 2, @USER
		EXEC dbo.sp_PutLog @MSG_TEXT, @USER, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 2;
		--=> End Of STEP 9
	END TRY
	BEGIN CATCH
		IF CURSOR_STATUS('global','po_cursor') >= -1
		BEGIN
			DEALLOCATE po_cursor
		END

		EXEC sp_PutLog_Temp @TB_TMP_LOG

		SET @MSG_ID = 'ERR00001'
		SET @MSG_TEXT = 'Saving Data PO Failed'
		INSERT INTO @TB_TMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MSG_TEXT, @MODULE, @LOCATION, @FUNCTION, 3, 'SYSTEM'
		EXEC dbo.sp_PutLog @MSG_TEXT, 'SYSTEM', @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

		SELECT @MSG_TEXT = ERROR_MESSAGE()
		EXEC sp_PutLog @MSG_TEXT, 'SAP_PO_IMPORTER', 'sp_ImportPO_SAP', @PROCESS_ID, 'ERR000001', 'ERR', '0', '001005', 3
	END CATCH

	DELETE FROM TB_T_SAP_PO
	DELETE FROM TB_T_LOCK WHERE PROCESS_ID = @PROCESS_ID
	UPDATE TB_R_PO_H SET PROCESS_ID = NULL WHERE PROCESS_ID = @PROCESS_ID
END
