@using GPS.Constants.PR
<style>
    .table {
        table-layout: fixed;
    }

    .table > tr > td {
        vertical-align : middle;    
    }

    .table > thead > tr > th {
        vertical-align : middle;    
    }
</style>
<div class="modal-dialog modal-lg" style="width:700px">
    <div class="modal-content">
        <div class="modal-header">
            <div>Material Number Lookup</div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group form-group-xs">
                        <div class="input-group input-group-xs">
                            <form id="form-material-grid">
                                <input id="matsearchbox" class="form-control custom-text" type="text">
                            </form>
                            <span class="input-group-btn">
                                <button id="btnsearch-mat" class="addinput custom-button-grid btn btn-primary btn-xs" type="button" onclick="javascript:getMaterialGrid(1)">
                                    &nbsp<i class="fa fa-search"></i>&nbsp</button>
                                <button id="btnclearlookup" class="addinput custom-button-grid btn btn-default btn-xs" type="button" onclick="javascript:ClearLookupCriteria('materialno')">
                                    &nbsp<i class="fa fa-eraser"></i>&nbsp</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="full-border">
                    <div id="material-grid-container" class="col-xs-12 col-md-12 form-main-group-box-search">
                        @Html.Partial(PurchaseRequisitionPage._LookupMaterialGrid)
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-danger btn-standard btn-xs" data-dismiss="modal" onclick="javascript:ClearLookupValue('materialno')">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#form-material-grid').submit(function () {
        getMaterialGrid(1)
        return false;
    });
</script>