@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(ViewData.ContainsKey("_psent")) 
{
    bool sent = (bool)ViewData["_psent"];
    if (sent)
    {
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p><i class="fa fa-lg fa-check text-right"></i>Password reset instructions has been sent to <a class="alert-link" href="mailto:@ViewData["_pemail"]">your email</a>, please follow the instruction</p>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p><i class="fa fa-lg fa-bomb text-right"></i>Something went wrong, the reset instruction email cannot be sent. Please try again.</p>
        </div>
    }
}
<form id="reset-form" role="form" method="post" action="@Html.Toyota().Page.GetActionUrl("ResetPassword")"  
                                            data-bv-feedbackicons-valid="glyphicon glyphicon-ok" 
                                            data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" 
                                            data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
    <div class="form-group">
        <div style="margin-bottom: 15px;">
            <label for="email">Not to worry. Just enter your email address below and we'll send you an instruction email for recovery.</label>
        </div>
        <input type="email" class="form-control" id="tfEmail" name="email" placeholder="Registered email"
            data-bv-notempty="true" data-bv-notempty-message="The email address is required and cannot be empty"
            data-bv-emailaddress="true" data-bv-emailaddress-message="The email address is not a valid"/>
    </div>
    <a href="@Html.Toyota().Page.LoginUrl" class="hidden-xs btn btn-default pull-left"><i class="fa fa-long-arrow-left text-right"></i>Back to Login Page</a>
    <button type="submit" class="hidden-xs btn btn-success pull-right">Reset Password</button>

    <button type="submit" class="visible-xs-block btn btn-success btn-block">Reset Password</button>
    <a href="@Html.Toyota().Page.LoginUrl" class="visible-xs-block btn btn-default btn-block"><i class="fa fa-long-arrow-left text-right"></i>Back to Login Page</a>
</form>
<script type="text/javascript" src="@Url.Content("~/Content/lib/bootstrap-validator/bootstrapValidator.min.js")"></script>      
<script type="text/javascript">
    $(document).ready(function () {
        $("#reset-form").bootstrapValidator();
    });
</script>
