<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Dev</key>
		<value>
			<ConnectionString>Server=10.33.4.37;Database=PAS_DB_SAPHANA;User ID=PAS_DB_QAS_SAPHANA;Password=p@S_d8_Q4S_SapHana!;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Development Database Connection</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>server=IDAMUALANANB\MSSQLSERVER2016; database=GLOBAL_SC_DB_DEV; Integrated Security=SSPI;Persist Security Info=False;User ID="";MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=10000;Application Name=sso</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>SSO Database</description>
	</configuration-item>
</configuration>