<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Dev</key>
		<value>
			<ConnectionString>Server=LAPTOP-V2N5OE11\SQLSERVER2016;Database=PAS_DB; uid=sa; password=mekanik12;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=10000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Development Database Connection</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>server=IDAMUALANANB\MSSQLSERVER2016; database=GLOBAL_SC_DB_DEV; Integrated Security=SSPI;Persist Security Info=False;User ID="";MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=10000;Application Name=sso</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>SSO Database</description>
	</configuration-item>
</configuration>