<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Dev</key>
		<value>
			<ConnectionString>Server=10.33.4.37;Database=PAS_DB_SAPHANA;User ID=PAS_DB_QAS_SAPHANA;Password=p@S_d8_Q4S_SapHana!;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Development Database Connection</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>server=DBSQL-DVQA-2012.toyota.co.id\DBSQLDEVQA2012;Database=SC_DB_DEV; User ID=SC_D8_DEV; Password=SC_D3V_db;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=10000</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>SSO Database</description>
	</configuration-item>
</configuration>