/****** Object:  StoredProcedure [dbo].[sp_PRApproval_ApproveHeader]    Script Date: 10/6/2017 10:24:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:        alira.salman
-- Create date: 20.03.2015 
-- Description:    Approve PRApproval Header

-- Modified by	: FID)Intan Puspitasari
-- Modified dt	: 15-12-2015
-- Description	: Change SP for PR Approval Only
-- Modified by	: FID)Asep Syahidin
-- Modified dt	: 06-01-2017
-- Description	: Enhance to accepted Approval as Accounting Model
-- =============================================
ALTER PROCEDURE [dbo].[sp_PRApproval_ApproveHeader]
    -- Add the parameters for the stored procedure here    
    @DOC_NO AS VARCHAR(11),
    @DOC_TYPE AS VARCHAR(2),
    @VENDOR_CD AS VARCHAR(6),
    @DIVISION_ID AS INT,
    @DATE_FROM AS DATETIME,
    @DATE_TO AS DATETIME,
    @HEADER_MODE AS VARCHAR(3),
    @DOC_LIST AS VARCHAR(MAX),
    @DOC_ITEM_LIST AS VARCHAR(MAX),
    @REG_NO AS VARCHAR(50),
	@USER_ID VARCHAR(20),
	@typeUser VARCHAR(20) = 'CURRENT_USER', --user type param on search criteria CURRENT_USER/ALL_USER
	@typeApprove VARCHAR(20)='NON-ACCT' --ACCT/NON-ACCT
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Procedure Variables.
    DECLARE
        @MODE AS VARCHAR(3),
        @ITEM_COUNT AS INT = 0,
        @PARAM_ITEM AS VARCHAR(MAX),
		@USER_NAME AS VARCHAR(20) = @REG_NO,
		@DOC_NEXT_APPROVAL_CD AS VARCHAR(50),
        @DOC_LAST_APPROVAL_CD AS VARCHAR(50),
        @DOC_SUMMARY_APPROVAL_CD AS VARCHAR(50),
        @USER_NEXT_APPROVAL_CD AS VARCHAR(50),
		@TOTAL_SUCCESS AS INT = 0,
        @TOTAL_FAIL AS INT = 0,
		@POSITION_LEVEL INT

    -- Temporary log variables
    DECLARE 
        @PROCESS_ID BIGINT,
        @MESSAGE_ID VARCHAR(12) = '',
        @MESSAGE VARCHAR(MAX) = '',
        @MODULE_ID VARCHAR(3) = '2',
        @MODULE_DESC VARCHAR(50) = 'Approve Header',
        @FUNCTION_ID VARCHAR(6) = '203002'

    SET @MESSAGE_ID = 'INF00005';
    SET @MESSAGE = 'Approve PR Started';
	EXEC dbo.sp_PutLog @MESSAGE, @USER_NAME, @MODULE_DESC, @PROCESS_ID OUTPUT, @MESSAGE_ID, 'INF', @MODULE_ID, @FUNCTION_ID, 1

	SELECT TOP 1 @POSITION_LEVEL = POSITION_LEVEL FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = @REG_NO AND GETDATE() BETWEEN VALID_FROM AND VALID_TO
	-- TODO : Parsing @DOC_ITEM_LIST parameter to get group of document and item.
    -- Input format : DOC_NO|DOC_TYPE|MODE|;DOC_NO|DOC_TYPE|MODE|;...
    DECLARE @COUNTER AS INT;
    DECLARE @TB_TMP_DOC_LIST AS TABLE
    (
        ROW_INDEX BIGINT IDENTITY(1, 1),
        DOC_NO VARCHAR(20),
        NOREG VARCHAR(20)
    );

	DECLARE @TB_TMP_STATUS AS TABLE
    (
        STATUS_CD VARCHAR(20),
        STATUS_DESC VARCHAR(20),
		SEGMENTATION_CD CHAR(2)
    );
    INSERT INTO @TB_TMP_STATUS
    SELECT A.STATUS_CD, A.STATUS_DESC, A.SEGMENTATION_CD
    FROM TB_M_STATUS A WHERE A.DOC_TYPE = 'DOC'

	DECLARE @TB_TMP_ITEM_STATUS AS TABLE
	(
		STATUS_CD VARCHAR(20),
		STATUS_DESC VARCHAR(20),
		SEGMENTATION_CD CHAR(2)
	);
	INSERT INTO @TB_TMP_ITEM_STATUS
	SELECT DISTINCT A.STATUS_CD, A.STATUS_DESC, A.SEGMENTATION_CD
	FROM TB_M_STATUS A 
		JOIN TB_R_SYNCH_EMPLOYEE B ON B.NOREG = @REG_NO
		JOIN TB_M_ORG_POSITION OP1 ON OP1.POSITION_LEVEL = A.POSITION_ID
		JOIN TB_M_ORG_POSITION OP2 ON OP2.POSITION_LEVEL = B.POSITION_LEVEL
	WHERE A.DOC_TYPE = 'PR' AND OP1.LEVEL_ID = OP2.LEVEL_ID

    DECLARE @MAX_RECORD AS BIGINT
	SELECT @MAX_RECORD = SYSTEM_VALUE FROM TB_M_SYSTEM WHERE SYSTEM_CD = 'MAX_SEARCH';

	--Note: Get grantor from HR
	DECLARE @HR_GRANTOR TABLE
		(
			SYSTEM_ID VARCHAR(50),
			POA_NO VARCHAR(50),
			GRANTOR VARCHAR(50),
			ATTORNEY VARCHAR(50),
			VALID_FROM DATE,
			VALID_TO DATE,
			REASON VARCHAR(50),
			CREATED_DT DATE,
			CREATED_BY VARCHAR(50),
			UPDATED_DT DATE,
			UPDATED_BY VARCHAR(50)
		)
	DECLARE @TSQL VARCHAR(MAX)
	SELECT  @TSQL = 'SELECT * FROM OPENQUERY([HRLINK],''EXEC [hrportal].[dbo].[sp_POA_User] ''''' + @REG_NO + ''''''')'
	
	INSERT INTO @HR_GRANTOR EXEC (@TSQL) 

	DECLARE @currentApproverPosition VARCHAR(5)
	DECLARE @CurrenctOrgId INT,
			@currentLevelApproverPosition VARCHAR(5)

	-- Approver modification
	SELECT TOP 1 @currentApproverPosition = POSITION_LEVEL, @CurrenctOrgId = ORG_ID
		FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = @REG_NO ORDER BY POSITION_LEVEL ASC
	SET @currentLevelApproverPosition = (SELECT LEVEL_ID FROM TB_M_ORG_POSITION WHERE POSITION_LEVEL = @currentApproverPosition)

	INSERT INTO @HR_GRANTOR
	SELECT DISTINCT 'GPS', 'GPS' + CAST(DENSE_RANK() OVER (ORDER BY WF.NOREG) AS VARCHAR), WF.NOREG, @REG_NO, GETDATE(), GETDATE(), 'AUTO', GETDATE(), 'GPS', NULL, NULL
	FROM TB_R_WORKFLOW WF 
		INNER JOIN TB_M_ORG_POSITION OP ON OP.POSITION_LEVEL = WF.APPROVER_POSITION AND OP.LEVEL_ID = @currentLevelApproverPosition 
		INNER JOIN TB_R_SYNCH_EMPLOYEE S ON S.NOREG = WF.NOREG AND S.ORG_ID = WF.STRUCTURE_ID AND GETDATE() BETWEEN S.VALID_FROM AND S.VALID_TO
			WHERE WF.STRUCTURE_ID = @CurrenctOrgId

	DELETE FROM @TB_TMP_DOC_LIST WHERE NOREG = @REG_NO
    INSERT INTO @TB_TMP_DOC_LIST
    SELECT TOP (@MAX_RECORD) DOC_NO, @REG_NO
    FROM
    (
        SELECT DISTINCT TOP (@MAX_RECORD)
            CASE WHEN @typeApprove = 'ACCT' THEN 
				PRH.PR_NO+'|'+PRI.PR_ITEM_NO 
			ELSE 
				PRH.PR_NO 
			END AS 'DOC_NO',
            PRH.DOC_DT
        FROM TB_R_PR_H PRH
            JOIN TB_R_PR_ITEM PRI ON PRI.PR_NO = PRH.PR_NO
            JOIN TB_R_WORKFLOW W ON W.DOCUMENT_NO = PRH.PR_NO AND W.ITEM_NO = PRI.PR_ITEM_NO
			JOIN TB_M_STATUS MS ON MS.STATUS_CD = PRI.PR_NEXT_STATUS AND PRI.PR_NEXT_STATUS <> '10'
			JOIN @TB_TMP_ITEM_STATUS ITS ON 1=1
			JOIN @TB_TMP_STATUS S ON S.STATUS_CD = PRH.PR_STATUS
		WHERE
            ISNULL(PRH.PR_NO, '') LIKE + '%' + ISNULL(@DOC_NO, '') + '%'
            AND (CAST(PRH.DIVISION_ID AS INT) = @DIVISION_ID OR @DIVISION_ID IS NULL)
            AND (
                ISNULL(PRH.DOC_DT, CAST('1753-1-1' AS DATE)) >= '' + CAST(ISNULL(@DATE_FROM, CAST('1753-1-1' AS DATE)) AS VARCHAR) + ''
                AND ISNULL(PRH.DOC_DT, CAST('9999-12-31' AS DATE)) <= '' + CAST(ISNULL(@DATE_TO, CAST('9999-12-31' AS DATE)) AS VARCHAR) + ''
            )
            --AND W.IS_APPROVED = 'N' 
			AND W.IS_DISPLAY = 'Y'
            AND W.INTERVAL_DATE IS NOT NULL
			AND (
					(@typeUser = 'CURRENT_USER' AND W.IS_APPROVED = 'N' AND  ((W.APPROVED_BY = @REG_NO OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD))
					OR (@POSITION_LEVEL = 55 AND @typeUser = 'CURRENT_USER' AND W.APPROVAL_CD = '20' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD
						AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @REG_NO OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
								JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '21' AND W1.NOREG = SE1.NOREG) AND W.IS_APPROVED = 'N')
					OR ((W.APPROVED_BY = @REG_NO OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND dbo.fn_dateadd_workday(-(W.APPROVAL_INTERVAL)+1, W.INTERVAL_DATE) <= GETDATE()
						AND SUBSTRING(W.APPROVAL_CD, 1, 1) = (SELECT TOP 1 SUBSTRING(SW.APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW SW WHERE SW.DOCUMENT_NO = W.DOCUMENT_NO AND SW.IS_APPROVED = 'Y' AND IS_DISPLAY = 'Y' ORDER BY APPROVAL_CD DESC) 
						AND W.IS_APPROVED = 'N')
					OR (@typeUser = 'CURRENT_USER' AND (W.APPROVAL_CD = '30' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD AND W.IS_APPROVED = 'N'
						AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @REG_NO OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
								JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '30' AND W1.NOREG = SE1.NOREG)))
					OR (@typeUser = 'ALL_USER')
				)
			AND (
					(@typeUser = 'ALL_USER' AND W.APPROVAL_CD <= ITS.STATUS_CD AND MS.SEGMENTATION_CD = ITS.SEGMENTATION_CD   
						AND EXISTS (SELECT 1 FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND ITEM_NO = W.ITEM_NO AND (APPROVED_BY = @REG_NO OR APPROVED_BY IN (SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
							AND IS_DISPLAY = 'Y' AND (IS_APPROVED = 'N' OR (IS_APPROVED = 'Y' AND APPROVED_BYPASS IS NOT NULL)))
						AND (SELECT TOP 1 SUBSTRING(APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND ITEM_NO = W.ITEM_NO AND (APPROVED_BY = @REG_NO OR APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
							AND IS_DISPLAY = 'Y' AND (IS_APPROVED = 'N' OR (IS_APPROVED = 'Y' AND APPROVED_BYPASS IS NOT NULL)) ORDER BY APPROVAL_CD ASC) 
							= SUBSTRING(PRI.PR_NEXT_STATUS, 1, 1) AND CAST(W.APPROVAL_CD AS INT) >= CAST(PRI.PR_NEXT_STATUS AS INT)
					)
					OR (@typeUser = 'ALL_USER' AND (@POSITION_LEVEL = 55 AND W.APPROVAL_CD = '20' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD AND W.APPROVED_BY = '-'
						AND (SELECT SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @REG_NO OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
								JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '21' AND W1.NOREG = SE1.NOREG)))
					OR (@typeUser = 'ALL_USER' 
						AND 
							((W.APPROVED_BY = @REG_NO OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND dbo.fn_dateadd_workday(-(W.APPROVAL_INTERVAL), W.INTERVAL_DATE) <= GETDATE()
								AND (SELECT TOP 1 SUBSTRING(APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND (APPROVED_BY = @REG_NO OR APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
									AND IS_DISPLAY = 'Y' AND IS_APPROVED = 'N'  AND ITEM_NO = PRI.PR_ITEM_NO ORDER BY APPROVAL_CD ASC) 
									= SUBSTRING(PRI.PR_NEXT_STATUS, 1, 1) AND CAST(W.APPROVAL_CD AS INT) >= CAST(PRI.PR_NEXT_STATUS AS INT)
							)
						)
					OR @typeUser = 'CURRENT_USER'
				)
            AND (1 = 1 OR (PRH.URGENT_DOC = 'Y' AND W.APPROVAL_CD >= PRI.PR_NEXT_STATUS))
    ) AS PRAPPROVAL_UNORDERED
    WHERE
        (
            @HEADER_MODE = 'INC' 
            AND PRAPPROVAL_UNORDERED.DOC_NO IN (
                SELECT Split 
                FROM dbo.SplitString(@DOC_LIST, ',') SS
                WHERE ISNULL(SS.Split, '') <> ''
                )
            OR (
            @HEADER_MODE = 'EXC' 
            AND PRAPPROVAL_UNORDERED.DOC_NO NOT IN (
                SELECT Split 
                FROM dbo.SplitString(@DOC_LIST, ',') SS
                WHERE ISNULL(SS.Split, '') <> ''
                )
            )
        )
	;

	DECLARE @TB_TMP_DOC_LIST_TEMP AS TABLE
	(
		ROW_INDEX BIGINT IDENTITY(1, 1),
		DOC_NO VARCHAR(20),
		NOREG VARCHAR(20),
		ITEMNO VARCHAR(MAX)
	);

	if ( @typeApprove = 'ACCT')
	BEGIN
		DECLARE @NOREG AS VARCHAR(20),
			@DOCUMENT_NO AS VARCHAR(20),
			@ITEM_NO AS VARCHAR(MAX)
		SET @COUNTER = 1
		SELECT @DOCUMENT_NO = DOC_NO, @NOREG =  NOREG FROM @TB_TMP_DOC_LIST WHERE ROW_INDEX = @COUNTER

		WHILE(ISNULL(@DOCUMENT_NO, '') <> '')
		BEGIN
			SET @ITEM_NO = (SELECT Split FROM dbo.SplitString(@DOCUMENT_NO, '|') WHERE No =2)
			SET @DOCUMENT_NO = (SELECT Split FROM dbo.SplitString(@DOCUMENT_NO, '|') WHERE No =1)

			IF NOT EXISTS (SELECT 1 FROM @TB_TMP_DOC_LIST_TEMP WHERE DOC_NO = @DOCUMENT_NO)
			BEGIN
				INSERT INTO @TB_TMP_DOC_LIST_TEMP (DOC_NO, NOREG)
				SELECT @DOCUMENT_NO, @NOREG
			END

			UPDATE @TB_TMP_DOC_LIST_TEMP SET ITEMNO = ISNULL(ITEMNO,'') + @ITEM_NO +',' WHERE  DOC_NO = @DOCUMENT_NO

			SET @COUNTER = @COUNTER + 1
			SET @DOCUMENT_NO = NULL
			SELECT @DOCUMENT_NO = DOC_NO FROM @TB_TMP_DOC_LIST WHERE ROW_INDEX = @COUNTER
		END
	END
	ELSE
	BEGIN
		INSERT INTO @TB_TMP_DOC_LIST_TEMP (DOC_NO, NOREG)
		SELECT DOC_NO, NOREG FROM @TB_TMP_DOC_LIST 
	END
    
	SET @COUNTER = 1
	SELECT @DOC_NO = DOC_NO, @ITEM_NO = ITEMNO FROM @TB_TMP_DOC_LIST_TEMP WHERE ROW_INDEX = @COUNTER
	WHILE(ISNULL(@DOC_NO, '') <> '')
	BEGIN
		if ( @typeApprove = 'ACCT')
		BEGIN
			SET @PARAM_ITEM = @DOC_NO + '|PR|INC|'+ @ITEM_NO
		END
		ELSE
		BEGIN
			SET @PARAM_ITEM = @DOC_NO + '|PR|EXC|'
		END

		SET @MESSAGE = ''
		EXEC [dbo].[sp_PRApproval_ApproveDetail] @PARAM_ITEM, @REG_NO, @PROCESS_ID, 'HEADER', @typeUser, @USER_ID, @MESSAGE OUTPUT

		SELECT @ITEM_COUNT = @ITEM_COUNT + CONVERT(INT, Split) FROM dbo.SplitString(@MESSAGE, '|') SS WHERE [No] = 1
		SELECT @TOTAL_SUCCESS = @TOTAL_SUCCESS + CONVERT(INT, Split) FROM dbo.SplitString(@MESSAGE, '|') SS WHERE [No] = 2
		SELECT @TOTAL_FAIL = @TOTAL_FAIL + CONVERT(INT, Split) FROM dbo.SplitString(@MESSAGE, '|') SS WHERE [No] = 3

		SET @COUNTER = @COUNTER + 1
		SET @DOC_NO = NULL
		SELECT @DOC_NO = DOC_NO,  @ITEM_NO = ITEMNO FROM @TB_TMP_DOC_LIST_TEMP WHERE ROW_INDEX = @COUNTER
	END

	IF(@TOTAL_FAIL = 0 AND (@COUNTER-1) > 0)
	BEGIN
		SET @MESSAGE_ID = 'INF00005';
		SET @MESSAGE = 'Approve PR Finished Sucessfully';
		EXEC dbo.sp_PutLog @MESSAGE, @USER_NAME, @MODULE_DESC, @PROCESS_ID OUTPUT, @MESSAGE_ID, 'INF', @MODULE_ID, @FUNCTION_ID, 2
	END
	ELSE
	BEGIN
		SET @MESSAGE_ID = 'INF00005';
		SET @MESSAGE = 'Approve PR Finish with Error';
		EXEC dbo.sp_PutLog @MESSAGE, @USER_NAME, @MODULE_DESC, @PROCESS_ID OUTPUT, @MESSAGE_ID, 'INF', @MODULE_ID, @FUNCTION_ID, 3
	END
	SET @COUNTER = @COUNTER - 1
    SELECT @PROCESS_ID PROCESS_ID, 'APPROVE' AS 'ACTION', @COUNTER AS 'DOC_COUNT', @ITEM_COUNT AS 'ITEM_COUNT', @TOTAL_SUCCESS AS 'SUCCESS', @TOTAL_FAIL AS 'FAIL', @PROCESS_ID AS 'MESSAGE';
END