/****** Object:  StoredProcedure [dbo].[sp_PRApproval_GetVendorAssignment]    Script Date: 8/24/2017 8:51:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_PRApproval_GetVendorAssignment]
    @DOC_NO VARCHAR(11)
AS
DECLARE 
	@ACTIVE_FISCAL_FROM DATE, 
	@ACTIVE_FISCAL_TO DATE, 
	@LIMIT_BUDGET DECIMAL(16,0) 
BEGIN
	SELECT @LIMIT_BUDGET = CONVERT(DECIMAL, SYSTEM_VALUE) FROM TB_M_SYSTEM WHERE FUNCTION_ID = '00000' AND SYSTEM_CD = 'APPROVAL_LIMIT_BUDGET_AMT'

	IF (MONTH(GETDATE()) > 3)
		SELECT @ACTIVE_FISCAL_FROM =  DATEFROMPARTS(YEAR(GETDATE()), '04', 1)
	ELSE
		SELECT @ACTIVE_FISCAL_FROM =  DATEFROMPARTS(YEAR(GETDATE())-1, '04', 1)

	--SET @ACTIVE_FISCAL_FROM = DATEADD(d, -1, DATEADD(m, DATEDIFF(m, 0, @ACTIVE_FISCAL_FROM) + 1, 0))
	SET @ACTIVE_FISCAL_TO = DATEADD(YEAR, 1, DATEADD(MONTH, -1, @ACTIVE_FISCAL_FROM))
	SET @ACTIVE_FISCAL_TO = DATEADD(MONTH, DATEDIFF(MONTH, -1, @ACTIVE_FISCAL_TO), -1)

	DECLARE @DATA AS TABLE
	(
		DIVISION_ID VARCHAR(3),
		VENDOR_CD VARCHAR(6),
		VENDOR_NAME VARCHAR(50),
		DOC_DT DATETIME,
		FISCAL_FROM DATETIME,
		FISCAL_TO DATETIME,
		CURRENT_YEAR VARCHAR(4),
		CURRENT_AMOUNT DECIMAL(16,4) default 0,
		LAST_FISCAL_FROM DATETIME,
		LAST_FISCAL_TO DATETIME,
		LAST_YEAR VARCHAR(4),
		LAST_AMOUNT DECIMAL(16,4) default 0,
		LIMIT_AMOUNT DECIMAL(16,4),
		IS_ACTIVE_FISCAL int default 0
	)

	INSERT INTO @DATA (DIVISION_ID, VENDOR_CD, DOC_DT, LIMIT_AMOUNT)
	SELECT prh.DIVISION_ID, pri.VENDOR_CD, prh.DOC_DT, @LIMIT_BUDGET
	FROM TB_R_PR_H prh
	INNER JOIN TB_R_PR_ITEM pri on pri.PR_NO = prh.PR_NO
		WHERE prh.PR_NO = @DOC_NO
	GROUP BY DOC_DT, prh.DIVISION_ID, pri.VENDOR_CD

	Update @DATA SET 
		FISCAL_FROM = CASE WHEN  MONTH(DOC_DT) > 3 THEN 
						DATEFROMPARTS(YEAR(DOC_DT), '04', 1)
					  ELSE
						DATEFROMPARTS(YEAR(DOC_DT)-1, '04', 1)
					  END

	Update @DATA SET FISCAL_TO= DATEADD(YEAR, 1, DATEADD(MONTH, -1, FISCAL_FROM))
	Update @DATA SET FISCAL_TO= DATEADD(MONTH, DATEDIFF(MONTH, -1, FISCAL_TO), -1)
	Update @DATA SET LAST_FISCAL_FROM = DATEADD (YEAR,-1,FISCAL_FROM)
	Update @DATA SET LAST_FISCAL_TO= DATEADD (YEAR,-1,FISCAL_TO),
					 CURRENT_YEAR = CONVERT(VARCHAR, YEAR(FISCAL_FROM)),
					 LAST_YEAR = CONVERT(VARCHAR, YEAR(LAST_FISCAL_FROM)),
					 IS_ACTIVE_FISCAL = CASE WHEN DOC_DT BETWEEN @ACTIVE_FISCAL_FROM AND @ACTIVE_FISCAL_TO THEN 1 ELSE 0 END

	UPDATE dat
		SET VENDOR_NAME = tbv.VENDOR_NAME
	FROM @DATA dat 
	INNER JOIN TB_M_VENDOR tbv ON tbv.VENDOR_CD = dat.VENDOR_CD

	;with current_Count 
	AS 
	( 
		SELECT prh.DIVISION_ID, pri.VENDOR_CD, ISNULL(SUM(pri.LOCAL_AMOUNT),0) TOTAL
		from @DATA D
		INNER JOIN Tb_r_pr_h prh ON prh.DIVISION_ID = D.DIVISION_ID
		LEFT join TB_R_PR_ITEM pri on pri.PR_NO = prh.PR_NO AND pri.VENDOR_CD = D.VENDOR_CD
				AND 1 = CASE WHEN D.IS_ACTIVE_FISCAL = 0 THEN
							CASE WHEN prh.PR_STATUS = 92 AND pri.PR_STATUS = 14 THEN 1 ELSE 0 END  --If document not in Active Fiscal, Add Filter Document must Release
						ELSE 
							CASE WHEN (pri.PR_STATUS = 98 OR pri.PR_STATUS = 99) THEN 0 ELSE 1 END --If document in Active Fiscal, remove data Reject PR Item or CANCEl PR Item
						END
		where prh.DIVISION_ID=D.DIVISION_ID AND pri.VENDOR_CD = D.VENDOR_CD
		AND prh.DOC_DT >= D.FISCAL_FROM AND prh.DOC_DT <= D.FISCAL_TO
		GROUP BY prh.DIVISION_ID, pri.VENDOR_CD
	)
	UPDATE T 
	SET CURRENT_AMOUNT=current_Count.TOTAL
	FROM @DATA T 
	INNER JOIN current_Count 
		ON t.DIVISION_ID = current_Count.DIVISION_ID AND t.VENDOR_CD = current_Count.VENDOR_CD

	;with last_Count 
	AS 
	( 
		SELECT prh.DIVISION_ID, pri.VENDOR_CD, ISNULL(SUM(pri.LOCAL_AMOUNT),0) TOTAL
		from @DATA D
		INNER JOIN Tb_r_pr_h prh ON prh.DIVISION_ID = D.DIVISION_ID
		LEFT join TB_R_PR_ITEM pri on pri.PR_NO = prh.PR_NO AND pri.VENDOR_CD = D.VENDOR_CD
				AND prh.PR_STATUS = 92 AND pri.PR_STATUS = 14 --Always search release Document
		where prh.DIVISION_ID=D.DIVISION_ID AND pri.VENDOR_CD = D.VENDOR_CD
		AND prh.DOC_DT >= D.LAST_FISCAL_FROM AND prh.DOC_DT <= D.LAST_FISCAL_TO
		GROUP BY prh.DIVISION_ID, pri.VENDOR_CD
	)
	UPDATE T 
	SET LAST_AMOUNT=last_Count.TOTAL
	FROM @DATA T 
	INNER JOIN last_Count 
		ON t.DIVISION_ID = last_Count.DIVISION_ID AND t.VENDOR_CD = last_Count.VENDOR_CD


	SELECT TOP 1 DIVISION_ID, VENDOR_CD, VENDOR_NAME, FISCAL_FROM, FISCAL_TO,
		CURRENT_YEAR, CURRENT_AMOUNT,
		LAST_YEAR, LAST_AMOUNT, LIMIT_AMOUNT
	FROM @DATA ORDER BY CURRENT_AMOUNT DESC
END