/****** Object:  StoredProcedure [dbo].[sp_PRApproval_GetDelayedApproval]    Script Date: 7/7/2017 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_PRApproval_GetDelayedApproval]
    @regNo VARCHAR(50)
AS
BEGIN
    -- Created By   : alira.salman
    -- Created Date : 09.04.2015
    -- Description  : Get PRApproval delayed data (TB_R_WORKFLOW).
    
	DECLARE
		@POSITION_LEVEL INT
    
	DECLARE
        @currentApproverPosition VARCHAR(5) = (SELECT TOP 1 POSITION_LEVEL FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = @regNo ORDER BY POSITION_LEVEL ASC)

	SELECT TOP 1 @POSITION_LEVEL = POSITION_LEVEL FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = @regNo AND GETDATE() BETWEEN VALID_FROM AND VALID_TO

    SELECT *
    FROM 
    (
    	SELECT DISTINCT
    		W.DOCUMENT_NO AS 'DOC_NO',
    		POH.PO_DESC AS 'DOC_DESC',
    		'PO' AS 'DOC_TYPE',
			dbo.fn_DIV_ABB(14) AS 'DIVISION_NAME',
    		POH.DOC_DT AS 'DOC_DT',
    		POH.PO_CURR AS 'CURR',
    		(
    			SELECT SUM(POI_I.ORI_AMOUNT)
    			FROM TB_R_PO_ITEM POI_I
    			JOIN TB_R_WORKFLOW W_I ON W_I.DOCUMENT_NO = POI_I.PO_NO
    			WHERE 
    				POI_I.PO_NO = W.DOCUMENT_NO
    				AND W_I.IS_APPROVED = 'N' 
    				AND W_I.IS_DISPLAY = 'Y'
    				AND W_I.INTERVAL_DATE IS NOT NULL
    				AND ((W_I.APPROVED_BY = @regNo AND dbo.fn_dateadd_workday(-(W_I.APPROVAL_INTERVAL), W_I.INTERVAL_DATE) <= GETDATE()
					)
    					OR (NULLIF(@regNo, '') IS NULL))
    
    		) AS 'AMOUNT',
    		(
    			SELECT TOP 1
    				W2.APPROVAL_DESC
    			FROM TB_R_WORKFLOW W2			
    				JOIN TB_R_PO_H POH ON POH.PO_NO = W2.DOCUMENT_NO AND POH.PO_STATUS = W2.APPROVAL_CD
    			WHERE
    				W2.DOCUMENT_NO = W.DOCUMENT_NO
    			ORDER BY 
    				W2.DOCUMENT_NO ASC,
    				W2.APPROVAL_CD ASC
    		) AS 'STATUS_DESC',
    		(
    			SELECT MIN(W2.APPROVED_DT)
    			FROM TB_R_WORKFLOW W2			
    				JOIN TB_R_PO_H POH ON POH.PO_NO = W2.DOCUMENT_NO AND POH.PO_STATUS = W2.APPROVAL_CD
    			WHERE
    				W2.DOCUMENT_NO = W.DOCUMENT_NO
    		) AS 'APPROVED_DT',
    		DATEDIFF(
    			DAY, 
    			(
    				SELECT MIN(W2.APPROVED_DT)
    				FROM TB_R_WORKFLOW W2			
    					JOIN TB_R_PO_H POH ON POH.PO_NO = W2.DOCUMENT_NO AND POH.PO_STATUS = W2.APPROVAL_CD
    				WHERE
    					W2.DOCUMENT_NO = W.DOCUMENT_NO
    			), 
    			GETDATE()
    		) AS 'DELAY',
			POH.CREATED_BY AS 'CREATED_BY'
    	FROM TB_R_WORKFLOW W
    	JOIN TB_R_PO_H POH ON POH.PO_NO = W.DOCUMENT_NO AND poh.PO_STATUS NOT IN ('48', '49','43') --ISTD) Yanes tambah status <> PO Posting (43)
    	WHERE 
			((W.APPROVED_BY = @regNo AND (poh.PO_NEXT_STATUS = W.APPROVAL_CD OR (poh.PO_STATUS = '40' AND W.APPROVAL_CD = '41')) ) --dummy, because when PO Creation, PO_NEXT_STATUS still null (PO_NEXT_STATUS is new column)
                --wf.APPROVER_POSITION = @currentApproverPosition
    --            OR (W.APPROVER_POSITION = @currentApproverPosition
    --            AND EXISTS (SELECT 1 FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND APPROVED_BY = @regNo AND dbo.fn_dateadd_workday(W.APPROVAL_INTERVAL, W.INTERVAL_DATE) < GETDATE()
    --            AND IS_DISPLAY = 'Y' AND IS_APPROVED = 'N')
				----AND dbo.fn_dateadd_workday(W.APPROVAL_INTERVAL, W.INTERVAL_DATE) < GETDATE()
				--)
				)
    		/*W.IS_APPROVED = 'N' 
    		AND W.IS_DISPLAY = 'Y'
    		AND W.INTERVAL_DATE IS NOT NULL
    		AND (((W.APPROVED_BY = @regNo AND dbo.fn_dateadd_workday(-(W.APPROVAL_INTERVAL), W.INTERVAL_DATE) <= GETDATE())
    				OR (NULLIF(@regNo, '') IS NULL)
					)
			AND
			w.APPROVER_POSITION = @currentApproverPosition*/
    	UNION ALL
    	SELECT DISTINCT
    		W.DOCUMENT_NO AS 'DOC_NO',
    		PRH.PR_DESC AS 'DOC_DESC',
    		'PR' AS 'DOC_TYPE',
			dbo.fn_DIV_ABB(PRH.DIVISION_ID) AS 'DIVISION_NAME',
    		PRH.DOC_DT AS 'DOC_DT',
    		'-' AS 'CURR',
    		(
				SELECT SUM(PRI_I.LOCAL_AMOUNT)
				FROM TB_R_PR_ITEM PRI_I
				JOIN
					(SELECT DISTINCT DOCUMENT_NO, ITEM_NO 
					 FROM TB_R_WORKFLOW
					 WHERE IS_APPROVED = 'N' 
						   AND IS_DISPLAY = 'Y'
						   AND INTERVAL_DATE IS NOT NULL
						   AND ((APPROVED_BY = @regNo) --AND dbo.fn_dateadd_workday(-(W_I.APPROVAL_INTERVAL), W_I.INTERVAL_DATE) <= GETDATE())
    							OR (NULLIF(@regNo, '') IS NULL)
								OR (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @regNo) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
						JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '21' AND W1.NOREG = SE1.NOREG AND GETDATE() BETWEEN VALID_FROM AND VALID_TO))

					) W_I ON W_I.DOCUMENT_NO = PRI_I.PR_NO 
						AND W_I.ITEM_NO = PRI_I.PR_ITEM_NO
				WHERE PRI_I.PR_NO = W.DOCUMENT_NO    				
    		) AS 'AMOUNT',
    		(
				CASE WHEN PRI.PR_STATUS = '99' THEN 
					(SELECT TOP 1
    					STATUS_DESC
    				FROM TB_M_STATUS
    				WHERE
    					STATUS_CD = PRI.PR_STATUS AND DOC_TYPE ='PR')
				ELSE 
					(SELECT TOP 1
    					W2.APPROVAL_DESC
    				FROM TB_R_WORKFLOW W2			
    					JOIN TB_R_PR_ITEM PRI ON PRI.PR_NO = W2.DOCUMENT_NO AND PRI.PR_ITEM_NO = W2.ITEM_NO AND PRI.PR_STATUS = W2.APPROVAL_CD
    				WHERE
    					W2.DOCUMENT_NO = W.DOCUMENT_NO
    				ORDER BY 
    					W2.DOCUMENT_NO ASC,
    					W2.APPROVAL_CD ASC)
				END
    		) AS 'STATUS_DESC',
    		(
    			SELECT MIN(W2.APPROVED_DT)
    			FROM TB_R_WORKFLOW W2			
    				JOIN TB_R_PR_ITEM PRI ON PRI.PR_NO = W2.DOCUMENT_NO AND PRI.PR_ITEM_NO = W2.ITEM_NO  AND (CASE WHEN PRI.PR_STATUS = '99' THEN PRI.PR_NEXT_STATUS ELSE PRI.PR_STATUS END) = W2.APPROVAL_CD -- Tampilkan APPROVED DATE untuk document reject jg
    			WHERE
    				W2.DOCUMENT_NO = W.DOCUMENT_NO
    		) AS 'APPROVED_DT',
    		DATEDIFF(
    			DAY, 
    			(
    				SELECT MIN(W2.APPROVED_DT)
    				FROM TB_R_WORKFLOW W2			
    					--JOIN TB_R_PR_ITEM PRI ON PRI.PR_NO = W2.DOCUMENT_NO AND PRI.PR_ITEM_NO = W2.ITEM_NO AND PRI.PR_STATUS = W2.APPROVAL_CD
						JOIN TB_R_PR_ITEM PRI ON PRI.PR_NO = W2.DOCUMENT_NO AND PRI.PR_ITEM_NO = W2.ITEM_NO AND (CASE WHEN PRI.PR_STATUS = '99' THEN PRI.PR_NEXT_STATUS ELSE PRI.PR_STATUS END) = W2.APPROVAL_CD -- Tampilkan delay untuk document reject jg
    				WHERE
    					W2.DOCUMENT_NO = W.DOCUMENT_NO
    			), 
    			GETDATE()
    		) AS 'DELAY',
			PRH.CREATED_BY AS 'CREATED_BY'
    	FROM TB_R_WORKFLOW W
    	JOIN TB_R_PR_H PRH ON PRH.PR_NO = W.DOCUMENT_NO
		JOIN TB_R_PR_ITEM PRI ON PRH.PR_NO = PRI.PR_NO AND PRI.PR_NEXT_STATUS <> '10'
    	WHERE 
    		W.IS_APPROVED = 'N' 
    		AND W.IS_DISPLAY = 'Y'
    		AND W.INTERVAL_DATE IS NOT NULL
    		AND ((W.APPROVED_BY = @regNo AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD)
				OR (@POSITION_LEVEL = 55 AND W.APPROVAL_CD = '20' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD
					AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @regNo) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
						JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '21' AND W1.NOREG = SE1.NOREG AND GETDATE() BETWEEN VALID_FROM AND VALID_TO))
				--OR (W.APPROVED_BY = @regNo AND dbo.fn_dateadd_workday(-(W.APPROVAL_INTERVAL), W.INTERVAL_DATE) <= GETDATE()
				--	AND SUBSTRING(W.APPROVAL_CD, 1, 1) = (SELECT TOP 1 SUBSTRING(SW.APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW SW WHERE SW.DOCUMENT_NO = W.DOCUMENT_NO AND SW.IS_APPROVED = 'Y' AND SW.ITEM_NO = PRI.PR_ITEM_NO AND IS_DISPLAY = 'Y' ORDER BY APPROVAL_CD DESC) 
				--	)
				OR (W.APPROVAL_CD = '30' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD 
					AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = @regNo AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
						JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '30' AND W1.NOREG = SE1.NOREG))
				OR (PRI.PR_STATUS = '99' AND W.NOREG = @regNo AND W.APPROVAL_CD = PRI.PR_NEXT_STATUS) -- Tampilkan document reject jg
				)
    ) AS PRAPPROVAL_DELAY
    WHERE PRAPPROVAL_DELAY.DELAY >= 0
    ORDER BY 
    	PRAPPROVAL_DELAY.DOC_NO ASC
END