USE [PAS_DB_QA]
GO
/****** Object:  StoredProcedure [dbo].[sp_PRApproval_GetListForAccounting]    Script Date: 7/5/2017 10:21:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_PRApproval_GetListForAccounting]
    @docNo VARCHAR(11),
	@docType VARCHAR(5),
	@docDesc VARCHAR(100),
	@dateFrom DATETIME,
    @dateTo DATETIME,
	@prCoordinator VARCHAR(20),
	@plantCd VARCHAR(5),
	@slocCd VARCHAR(5),
    @divisionId VARCHAR(5),
	@typeUser VARCHAR(20), --user type param on search criteria CURRENT_USER/ALL_USER
    
    @regNo VARCHAR(50),
	@orderBy VARCHAR(20),
    @pageIndex INT,
    @pageSize INT
AS
BEGIN
    
    DECLARE
        @MAX_RECORD AS BIGINT,
		@POSITION_LEVEL INT
    
	SELECT TOP 1 @POSITION_LEVEL = POSITION_LEVEL FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = @regNo AND GETDATE() BETWEEN VALID_FROM AND VALID_TO
    SELECT @MAX_RECORD = SYSTEM_VALUE FROM TB_M_SYSTEM WHERE SYSTEM_CD = 'MAX_SEARCH';
    --SELECT @MAX_RECORD = MIN(ROWMIN) FROM (VALUES (@MAX_RECORD), (@pageIndex * @pageSize)) B(ROWMIN);
    
    DECLARE @TB_TMP_STATUS AS TABLE
    (
        STATUS_CD VARCHAR(20),
        STATUS_DESC VARCHAR(20),
		SEGMENTATION_CD CHAR(2)
    );
    INSERT INTO @TB_TMP_STATUS
    SELECT A.STATUS_CD, A.STATUS_DESC, A.SEGMENTATION_CD
    FROM TB_M_STATUS A WHERE A.DOC_TYPE = 'DOC'

	DECLARE @TB_TMP_ITEM_STATUS AS TABLE
	(
		STATUS_CD VARCHAR(20),
		STATUS_DESC VARCHAR(20),
		SEGMENTATION_CD CHAR(2)
	);
	INSERT INTO @TB_TMP_ITEM_STATUS
	SELECT DISTINCT A.STATUS_CD, A.STATUS_DESC, A.SEGMENTATION_CD
	FROM TB_M_STATUS A 
		JOIN TB_R_SYNCH_EMPLOYEE B ON B.NOREG = @regNo
		JOIN TB_M_ORG_POSITION OP1 ON OP1.POSITION_LEVEL = A.POSITION_ID
		JOIN TB_M_ORG_POSITION OP2 ON OP2.POSITION_LEVEL = B.POSITION_LEVEL
	WHERE A.DOC_TYPE = 'PR' AND OP1.LEVEL_ID = OP2.LEVEL_ID
	
	--Note: Get grantor from HR
	DECLARE @HR_GRANTOR TABLE
		(
			SYSTEM_ID VARCHAR(50),
			POA_NO VARCHAR(50),
			GRANTOR VARCHAR(50),
			ATTORNEY VARCHAR(50),
			VALID_FROM DATE,
			VALID_TO DATE,
			REASON VARCHAR(50),
			CREATED_DT DATE,
			CREATED_BY VARCHAR(50),
			UPDATED_DT DATE,
			UPDATED_BY VARCHAR(50)
		)
	DECLARE @TSQL VARCHAR(MAX)
	SELECT  @TSQL = 'SELECT * FROM OPENQUERY([HRLINK],''EXEC [hrportal].[dbo].[sp_POA_User] ''''' + @regNo + ''''''')'
	
	INSERT INTO @HR_GRANTOR EXEC (@TSQL) 

    SELECT TOP (@pageSize) PRAPPROVAL_ORDERED.*, [CREATED_NAME] = (SELECT TOP 1 PERSONNEL_NAME FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = WCreateBy.NOREG)
    FROM
    (
        SELECT TOP (@MAX_RECORD) 
		CASE @orderBy WHEN 'DOC_NO|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_NO ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC)
					  WHEN 'DOC_NO|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_NO DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC)
					  WHEN 'ITEM_NO|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_ITEM_NO ASC, PRAPPROVAL_UNORDERED.DOC_NO ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC)
					  WHEN 'ITEM_NO|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_ITEM_NO DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC)
					  WHEN 'DOC_DESC|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_DESC ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'DOC_DESC|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_DESC DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'ITEM_DESC|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.ITEM_DESC ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'ITEM_DESC|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.ITEM_DESC DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'DOC_DT|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_DT ASC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'DOC_DT|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_DT DESC,PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'CURR|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.CURR ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'CURR|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.CURR DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'QTY|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.QTY ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'QTY|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.QTY DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'UOM|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.PRICE_UOM ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'UOM|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.PRICE_UOM DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'AMOUNT|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.AMOUNT ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'AMOUNT|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.AMOUNT DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'WBS|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.[WBS_NO] ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'WBS|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.[WBS_NO] DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'GLA|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.[GL_ACCOUNT] ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'GLA|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.[GL_ACCOUNT] DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'ASSET|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.ASSET_NO ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'ASSET|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.ASSET_NO DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'STATUS_CD|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.STATUS_CD ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'STATUS_CD|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.STATUS_CD DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'PR_COORDINATOR|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.PR_COORDINATOR ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'PR_COORDINATOR|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.PR_COORDINATOR DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'DIVISION|ASC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DIVISION_NAME ASC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  WHEN 'DIVISION|DESC' THEN ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DIVISION_NAME DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC, PRAPPROVAL_UNORDERED.DOC_NO ASC)
					  ELSE ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.DOC_NO DESC, PRAPPROVAL_UNORDERED.DOC_DT DESC, PRAPPROVAL_UNORDERED.CHANGED_DT DESC)
					END AS 'NUMBER', 
		PRAPPROVAL_UNORDERED.*
        FROM
        (
            SELECT DISTINCT
                PRH.PR_NO AS 'DOC_NO',
				PRI.PR_ITEM_NO AS 'DOC_ITEM_NO',
				PRH.PR_DESC AS 'DOC_DESC',
                ISNULL(MAT_DESC,'') AS 'ITEM_DESC',
                'PR' AS 'DOC_TYPE',
                CAST(PRH.DIVISION_ID AS VARCHAR) AS 'DIVISION_ID',
                PRH.LOCAL_CURR_CD AS 'CURR',
				PRI.PR_QTY AS 'QTY',
				PRI.PRICE_PER_UOM AS 'PRICE_UOM',
				PRI.ORI_AMOUNT AS 'AMOUNT',
				PRI.ITEM_CLASS,
				[WBS_NO] = CASE WHEN(PRI.ITEM_CLASS = 'M') THEN PRI.WBS_NO ELSE (SELECT TOP 1 WBS_NO FROM TB_R_PR_SUBITEM WHERE PR_NO = PRH.PR_NO and PR_ITEM_NO = PRI.PR_ITEM_NO) END,
				[WBS_DESC] = CASE WHEN(PRI.ITEM_CLASS = 'M') THEN  PRI.WBS_NAME ELSE (SELECT TOP 1 WBS_NAME FROM TB_R_PR_SUBITEM WHERE PR_NO = PRH.PR_NO and PR_ITEM_NO = PRI.PR_ITEM_NO) END,
				[GL_ACCOUNT] = CASE WHEN(PRI.ITEM_CLASS = 'M') THEN PRI.GL_ACCOUNT + ' - ' + (SELECT TOP 1 GL_ACCOUNT_DESC FROM TB_M_GL_ACCOUNT WHERE GL_ACCOUNT_CD = PRI.GL_ACCOUNT AND PLANT_CD = PRH.PLANT_CD) ELSE (SELECT TOP 1 GL_ACCOUNT + ' - ' + GL_ACCOUNT_DESC FROM TB_R_PR_SUBITEM INNER JOIN TB_M_GL_ACCOUNT ON GL_ACCOUNT_CD = PRI.GL_ACCOUNT AND PLANT_CD = PRH.PLANT_CD WHERE PR_NO = PRH.PR_NO and PR_ITEM_NO = PRI.PR_ITEM_NO) END,
				PRI.ASSET_NO,
				PRH.PR_COORDINATOR,
				PRH.DIVISION_NAME,
				PRH.PLANT_CD,
				PRH.SLOC_CD,
                PRH.PR_STATUS AS 'STATUS_CD',
                S.STATUS_DESC AS 'STATUS_DESC',
                PRH.DOC_DT AS 'DOC_DT',
                PRH.URGENT_DOC AS 'URGENT_DOC',
				PRH.CREATED_BY AS CREATED_BY,
				[dbo].[fn_date_format] (PRH.CREATED_DT) AS CREATED_DT,
				PRH.CHANGED_BY AS CHANGED_BY,
				[dbo].[fn_date_format] (PRH.CHANGED_DT) AS CHANGED_DT
            FROM TB_R_PR_H PRH
				JOIN TB_R_PR_ITEM PRI ON PRI.PR_NO = PRH.PR_NO --AND PRI.IS_REJECTED = 'N'    
				JOIN TB_R_WORKFLOW W ON W.DOCUMENT_NO = PRH.PR_NO AND W.ITEM_NO = PRI.PR_ITEM_NO
				JOIN TB_M_STATUS MS ON MS.STATUS_CD = PRI.PR_NEXT_STATUS AND PRI.PR_NEXT_STATUS <> '10'
				JOIN @TB_TMP_ITEM_STATUS ITS ON 1=1
                JOIN @TB_TMP_STATUS S ON S.STATUS_CD = PRH.PR_STATUS
            WHERE
				((PRH.PR_NO LIKE '%' + ISNULL(@docNo, '') + '%'
					AND isnull(@docNo, '') <> ''
					OR (isnull(@docNo, '') = '')))
				AND ((PRH.PR_DESC LIKE '%' + ISNULL(@docDesc, '') + '%'
					AND isnull(@docDesc, '') <> ''
					OR (isnull(@docDesc, '') = '')))
				AND ((PRH.PR_COORDINATOR = ISNULL(@prCoordinator, '')
					AND isnull(@prCoordinator, '') <> ''
					OR (isnull(@prCoordinator, '') = '')))
				AND ((PRH.PLANT_CD = ISNULL(@plantCd, '')
					AND isnull(@plantCd, '') <> ''
					OR (isnull(@plantCd, '') = '')))
				AND ((PRH.SLOC_CD = ISNULL(@slocCd, '')
					AND isnull(@slocCd, '') <> ''
					OR (isnull(@slocCd, '') = '')))
                AND (CAST(PRH.DIVISION_ID AS INT) = @divisionId OR @divisionId IS NULL)
                AND (
                    ISNULL(PRH.DOC_DT, CAST('1753-1-1' AS DATE)) >= '' + CAST(ISNULL(CAST(@dateFrom AS DATE), CAST('1753-1-1' AS DATE)) AS VARCHAR) + ''
                    AND ISNULL(PRH.DOC_DT, CAST('9999-12-31' AS DATE)) <= '' + CAST(ISNULL(CAST(@dateTo AS DATE), CAST('9999-12-31' AS DATE)) AS VARCHAR) + ''
                )
				--AND W.IS_APPROVED = 'N' 
                AND W.IS_DISPLAY = 'Y'
                AND W.INTERVAL_DATE IS NOT NULL
                AND (
						(@typeUser = 'CURRENT_USER' AND W.IS_APPROVED = 'N' AND  ((W.APPROVED_BY = @regNo OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD))
						OR (@POSITION_LEVEL = 55 AND @typeUser = 'CURRENT_USER' AND W.APPROVAL_CD = '20' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD
							AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @regNo OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
									JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '21' AND W1.NOREG = SE1.NOREG) AND W.IS_APPROVED = 'N')
						OR ((W.APPROVED_BY = @regNo OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND dbo.fn_dateadd_workday(-(W.APPROVAL_INTERVAL)+1, W.INTERVAL_DATE) <= GETDATE()
							AND SUBSTRING(W.APPROVAL_CD, 1, 1) = (SELECT TOP 1 SUBSTRING(SW.APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW SW WHERE SW.DOCUMENT_NO = W.DOCUMENT_NO AND SW.IS_APPROVED = 'Y' AND IS_DISPLAY = 'Y' ORDER BY APPROVAL_CD DESC) 
							AND W.IS_APPROVED = 'N')
						OR (@typeUser = 'CURRENT_USER' AND (W.APPROVAL_CD = '30' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD AND W.IS_APPROVED = 'N'
							AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @regNo OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
									JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '30' AND W1.NOREG = SE1.NOREG)))
						OR (@typeUser = 'ALL_USER')
					)
				AND (
						(@typeUser = 'ALL_USER' AND W.APPROVAL_CD <= ITS.STATUS_CD AND MS.SEGMENTATION_CD = ITS.SEGMENTATION_CD   
							AND EXISTS (SELECT 1 FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND ITEM_NO = W.ITEM_NO AND (APPROVED_BY = @regNo OR APPROVED_BY IN (SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
								AND IS_DISPLAY = 'Y' AND (IS_APPROVED = 'N' OR (IS_APPROVED = 'Y' AND APPROVED_BYPASS IS NOT NULL)))
							AND (SELECT TOP 1 SUBSTRING(APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND ITEM_NO = W.ITEM_NO AND (APPROVED_BY = @regNo OR APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
								AND IS_DISPLAY = 'Y' AND (IS_APPROVED = 'N' OR (IS_APPROVED = 'Y' AND APPROVED_BYPASS IS NOT NULL)) ORDER BY APPROVAL_CD ASC) 
								= SUBSTRING(PRI.PR_NEXT_STATUS, 1, 1) AND CAST(W.APPROVAL_CD AS INT) >= CAST(PRI.PR_NEXT_STATUS AS INT)
						)
						OR (@typeUser = 'ALL_USER' AND (@POSITION_LEVEL = 55 AND W.APPROVAL_CD = '20' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD AND W.APPROVED_BY = '-'
							AND (SELECT SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @regNo OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
								  JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '21' AND W1.NOREG = SE1.NOREG)))
						OR (@typeUser = 'ALL_USER' 
							AND 
								((W.APPROVED_BY = @regNo OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND dbo.fn_dateadd_workday(-(W.APPROVAL_INTERVAL), W.INTERVAL_DATE) <= GETDATE()
								 AND (SELECT TOP 1 SUBSTRING(APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND (APPROVED_BY = @regNo OR APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
									  AND IS_DISPLAY = 'Y' AND IS_APPROVED = 'N'  AND ITEM_NO = PRI.PR_ITEM_NO ORDER BY APPROVAL_CD ASC) 
									  = SUBSTRING(PRI.PR_NEXT_STATUS, 1, 1) AND CAST(W.APPROVAL_CD AS INT) >= CAST(PRI.PR_NEXT_STATUS AS INT)
								)
						   )
						OR @typeUser = 'CURRENT_USER'
					)
                AND (1 = 1 OR (PRH.URGENT_DOC = 'Y' AND W.APPROVAL_CD >= PRI.PR_NEXT_STATUS))
        ) AS PRAPPROVAL_UNORDERED
    ) AS PRAPPROVAL_ORDERED
	JOIN TB_R_WORKFLOW WCreateBy ON WCreateBy.DOCUMENT_NO = PRAPPROVAL_ORDERED.DOC_NO AND WCreateBy.ITEM_NO = PRAPPROVAL_ORDERED.DOC_ITEM_NO AND WCreateBy.APPROVAL_CD = '10'
    WHERE
        PRAPPROVAL_ORDERED.NUMBER >= (((@pageIndex - 1) * @pageSize) + 1)
	ORDER BY PRAPPROVAL_ORDERED.NUMBER ASC
    ;
END