USE [PAS_DB_QA]
GO
/****** Object:  StoredProcedure [dbo].[sp_PRApproval_GetDetailList]    Script Date: 10/6/2017 9:47:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_PRApproval_GetDetailList]
    @docNo VARCHAR(11),
    @docType VARCHAR(2),
    @regNo VARCHAR(50),
	@typeUser VARCHAR(20) = 'CURRENT_USER' , --user type param on search criteria CURRENT_USER/ALL_USER
    @pageIndex INT,
    @pageSize INT
AS
BEGIN
    -- Created By   : alira.salman
    -- Created Date : 04.03.2015
    -- Description  : Get PRApproval detail module data (TB_R_PO_ITEM).
    
	DECLARE @POSITION_LEVEL INT,
			@ORG_ID INT,
			@ORG_TITLE VARCHAR(40),
			@PERSONNEL_NAME VARCHAR(50)

    -- NOTE: only PR, because PR support for partial approval (approval by item) but PO isn't
    SET @docType = 'PR'
    
    DECLARE 
        @MAX_RECORD AS BIGINT
    
    SELECT @MAX_RECORD = SYSTEM_VALUE FROM TB_M_SYSTEM WHERE SYSTEM_CD = 'MAX_SEARCH';
    SELECT @MAX_RECORD = MIN(ROWMIN) FROM (VALUES (@MAX_RECORD), (@pageIndex * @pageSize)) B(ROWMIN);
    
    DECLARE @TB_TMP_STATUS AS TABLE
    (
        STATUS_CD VARCHAR(2),
        STATUS_DESC VARCHAR(30)
    );
    INSERT INTO @TB_TMP_STATUS
    SELECT STATUS_CD, STATUS_DESC
    FROM TB_M_STATUS
    WHERE TB_M_STATUS.DOC_TYPE = @docType
    AND (SEGMENTATION_CD <> 9 OR STATUS_CD = '99')

	DECLARE @TB_TMP_ITEM_STATUS AS TABLE
	(
		STATUS_CD VARCHAR(20),
		STATUS_DESC VARCHAR(20),
		SEGMENTATION_CD CHAR(2)
	);
	INSERT INTO @TB_TMP_ITEM_STATUS
	SELECT DISTINCT A.STATUS_CD, A.STATUS_DESC, A.SEGMENTATION_CD
	FROM TB_M_STATUS A 
		JOIN TB_R_SYNCH_EMPLOYEE B ON B.NOREG = @regNo
		JOIN TB_M_ORG_POSITION OP1 ON OP1.POSITION_LEVEL = A.POSITION_ID
		JOIN TB_M_ORG_POSITION OP2 ON OP2.POSITION_LEVEL = B.POSITION_LEVEL
	WHERE A.DOC_TYPE = 'PR' AND OP1.LEVEL_ID = OP2.LEVEL_ID
    
	SELECT TOP 1 @POSITION_LEVEL = POSITION_LEVEL, @ORG_ID = ORG_ID, @ORG_TITLE = ORG_TITLE, @PERSONNEL_NAME = PERSONNEL_NAME
		FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = @regNo AND GETDATE() BETWEEN VALID_FROM AND VALID_TO ORDER BY POSITION_LEVEL DESC

	--Note: Get grantor from HR
	DECLARE @HR_GRANTOR TABLE
		(
			SYSTEM_ID VARCHAR(50),
			POA_NO VARCHAR(50),
			GRANTOR VARCHAR(50),
			ATTORNEY VARCHAR(50),
			VALID_FROM DATE,
			VALID_TO DATE,
			REASON VARCHAR(50),
			CREATED_DT DATE,
			CREATED_BY VARCHAR(50),
			UPDATED_DT DATE,
			UPDATED_BY VARCHAR(50)
		)
	DECLARE @TSQL VARCHAR(MAX)
	SELECT  @TSQL = 'SELECT * FROM OPENQUERY([HRLINK],''EXEC [hrportal].[dbo].[sp_POA_User] ''''' + @regNo + ''''''')'
	
	INSERT INTO @HR_GRANTOR EXEC (@TSQL) 

	DECLARE @currentApproverPosition VARCHAR(5)
	DECLARE @CurrenctOrgId INT,
			@currentLevelApproverPosition VARCHAR(5)

	-- Approver modification
	SELECT TOP 1 @currentApproverPosition = POSITION_LEVEL, @CurrenctOrgId = ORG_ID
		FROM TB_R_SYNCH_EMPLOYEE WHERE NOREG = @regNo ORDER BY POSITION_LEVEL ASC
	SET @currentLevelApproverPosition = (SELECT LEVEL_ID FROM TB_M_ORG_POSITION WHERE POSITION_LEVEL = @currentApproverPosition)

	INSERT INTO @HR_GRANTOR
	SELECT DISTINCT 'GPS', 'GPS' + CAST(DENSE_RANK() OVER (ORDER BY WF.NOREG) AS VARCHAR), WF.NOREG, @regNo, GETDATE(), GETDATE(), 'AUTO', GETDATE(), 'GPS', NULL, NULL
	FROM TB_R_WORKFLOW WF 
		INNER JOIN TB_M_ORG_POSITION OP ON OP.POSITION_LEVEL = WF.APPROVER_POSITION AND OP.LEVEL_ID = @currentLevelApproverPosition 
		INNER JOIN TB_R_SYNCH_EMPLOYEE S ON S.NOREG = WF.NOREG AND S.ORG_ID = WF.STRUCTURE_ID AND GETDATE() BETWEEN S.VALID_FROM AND S.VALID_TO
			WHERE WF.STRUCTURE_ID = @CurrenctOrgId

    SELECT TOP (@pageSize) PRAPPROVAL_ORDERED.*
    FROM
    (
        SELECT TOP (@MAX_RECORD) ROW_NUMBER() OVER (ORDER BY PRAPPROVAL_UNORDERED.CHANGED_DT ASC) AS 'NUMBER', PRAPPROVAL_UNORDERED.*
        FROM
        (
            SELECT DISTINCT
                PRI.PR_NO AS 'DOC_NO',
                'PR' AS 'DOC_TYPE',
                PRI.PR_ITEM_NO AS 'ITEM_NO',
    
				PRI.IS_PARENT AS 'IS_PARENT',
				PRI.ITEM_CLASS AS 'ITEM_CLASS',
				
                PRI.WBS_NO AS 'WBS_NO',
                PRI.WBS_NAME AS 'WBS_NAME',
                PRI.COST_CENTER_CD AS 'COST_CENTER_CD',
                PRI.VALUATION_CLASS AS 'VALUATION_CLASS',
                PRI.VALUATION_CLASS_DESC AS 'VALUATION_CLASS_DESC',
                PRI.MAT_NO AS 'MAT_NO',
                PRI.MAT_DESC AS 'MAT_DESC',
                PRI.PR_QTY AS 'QTY',
                PRI.UNIT_OF_MEASURE_CD AS 'UOM',
                PRI.ORI_CURR_CD AS 'CURR',
                PRI.PRICE_PER_UOM AS 'PRICE',
                PRI.ORI_AMOUNT AS 'AMOUNT',
                PRI.GL_ACCOUNT AS 'GL_ACCOUNT',
                [dbo].[fn_date_format] (PRI.DELIVERY_PLAN_DT) AS 'DELIVERY_PLAN_DT',
                C.SYSTEM_VALUE AS 'ASSET_CATEGORY',
                PRI.ASSET_CLASS AS 'ASSET_CLASS',
                PRI.ASSET_NO AS 'ASSET_NO',
                PRI.ASSET_LOCATION AS 'ASSET_LOCATION',
                PRI.PR_STATUS AS 'STATUS_CD',
                S.STATUS_DESC AS 'STATUS_DESC',
    
                PRI.IS_REJECTED AS 'IS_REJECTED',
                PRI.CHANGED_DT AS 'CHANGED_DT',
				PRI.VENDOR_CD + CASE WHEN(ISNULL(PRI.VENDOR_NAME, '') <> '') THEN ' - ' + PRI.VENDOR_NAME END AS VENDOR_NAME

            FROM TB_R_PR_ITEM PRI
                JOIN TB_R_PR_H PRH ON PRH.PR_NO = PRI.PR_NO
                JOIN TB_R_WORKFLOW W ON W.DOCUMENT_NO = PRI.PR_NO AND W.ITEM_NO = PRI.PR_ITEM_NO
				JOIN TB_M_STATUS MS ON MS.STATUS_CD = PRI.PR_NEXT_STATUS  AND PRI.PR_NEXT_STATUS <> '10'
                JOIN @TB_TMP_STATUS S ON S.STATUS_CD = PRI.PR_STATUS
				JOIN @TB_TMP_ITEM_STATUS ITS ON 1=1
                LEFT JOIN TB_M_SYSTEM C ON C.FUNCTION_ID = '20021' AND PRI.ASSET_CATEGORY = SUBSTRING(C.SYSTEM_CD, 4, 5)
            WHERE
                (PRI.PR_NO = @docNo OR NULLIF(@docNo, '') IS NULL)
                --AND W.IS_APPROVED = 'N' 
                AND W.IS_DISPLAY = 'Y'
                AND W.INTERVAL_DATE IS NOT NULL
				AND (
						(@typeUser = 'CURRENT_USER' AND W.IS_APPROVED = 'N' AND ((W.APPROVED_BY = @regNo OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD))
						OR (@POSITION_LEVEL = 55 AND @typeUser = 'CURRENT_USER' AND W.APPROVAL_CD = '20' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD
							AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @regNo OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
									JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '21' AND W1.NOREG = SE1.NOREG) AND W.IS_APPROVED = 'N')
						OR ((W.APPROVED_BY = @regNo OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND dbo.fn_dateadd_workday(-(W.APPROVAL_INTERVAL), W.INTERVAL_DATE) <= GETDATE()
							AND SUBSTRING(W.APPROVAL_CD, 1, 1) = (SELECT TOP 1 SUBSTRING(SW.APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW SW WHERE SW.DOCUMENT_NO = W.DOCUMENT_NO AND SW.IS_APPROVED = 'Y' AND SW.IS_DISPLAY = 'Y' AND SW.ITEM_NO = PRI.PR_ITEM_NO ORDER BY APPROVAL_CD DESC) 
							AND W.IS_APPROVED = 'N'  AND W.IS_REJECTED <>'Y' ) -- hilangkan yg reject by self
						OR (@typeUser = 'CURRENT_USER' AND W.IS_APPROVED = 'N' AND (W.APPROVAL_CD = '30' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD 
							AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @regNo OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
								JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '30' AND W1.NOREG = SE1.NOREG)))
						OR (@typeUser = 'ALL_USER')
					)
                AND(
						(@typeUser = 'ALL_USER' AND W.APPROVAL_CD <= ITS.STATUS_CD AND MS.SEGMENTATION_CD = ITS.SEGMENTATION_CD   
							AND EXISTS (SELECT 1 FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND ITEM_NO = W.ITEM_NO AND (APPROVED_BY = @regNo OR APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
							AND IS_DISPLAY = 'Y' AND (IS_APPROVED = 'N' OR (IS_APPROVED = 'Y' AND APPROVED_BYPASS IS NOT NULL)))
							AND (SELECT TOP 1 SUBSTRING(APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND ITEM_NO = W.ITEM_NO AND (APPROVED_BY = @regNo OR APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
								AND IS_DISPLAY = 'Y' AND (IS_APPROVED = 'N' OR (IS_APPROVED = 'Y' AND APPROVED_BYPASS IS NOT NULL)) ORDER BY APPROVAL_CD ASC) 
								= SUBSTRING(PRI.PR_NEXT_STATUS, 1, 1) AND CAST(W.APPROVAL_CD AS INT) >= CAST(PRI.PR_NEXT_STATUS AS INT)
						)
						OR (@typeUser = 'ALL_USER' AND (@POSITION_LEVEL = '55' AND W.APPROVAL_CD = '20' AND PRI.PR_NEXT_STATUS = W.APPROVAL_CD
									AND (SELECT TOP 1 SECTION_ID FROM TB_R_SYNCH_EMPLOYEE WHERE (NOREG = @regNo OR NOREG IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND GETDATE() BETWEEN VALID_FROM AND VALID_TO) IN (SELECT SE1.SECTION_ID FROM TB_R_SYNCH_EMPLOYEE SE1
										  JOIN TB_R_WORKFLOW W1 ON W1.DOCUMENT_NO = W.DOCUMENT_NO AND W1.APPROVAL_CD = '21' AND W1.NOREG = SE1.NOREG)))
						OR (@typeUser = 'ALL_USER' 
							AND 
								((W.APPROVED_BY = @regNo OR W.APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO)) AND dbo.fn_dateadd_workday(-(W.APPROVAL_INTERVAL), W.INTERVAL_DATE) <= GETDATE()
									AND (SELECT TOP 1 SUBSTRING(APPROVAL_CD, 1, 1) FROM TB_R_WORKFLOW WHERE DOCUMENT_NO = W.DOCUMENT_NO AND (APPROVED_BY = @regNo OR APPROVED_BY IN(SELECT DISTINCT GRANTOR FROM @HR_GRANTOR WHERE CONVERT(DATE, GETDATE()) BETWEEN VALID_FROM AND VALID_TO))
										AND IS_DISPLAY = 'Y' AND IS_APPROVED = 'N' AND ITEM_NO = PRI.PR_ITEM_NO ORDER BY APPROVAL_CD ASC) 
										= SUBSTRING(PRI.PR_NEXT_STATUS, 1, 1) AND CAST(W.APPROVAL_CD AS INT) >= CAST(PRI.PR_NEXT_STATUS AS INT)
								)
							)
						OR @typeUser = 'CURRENT_USER'
				)
                AND (1 = 1 OR (PRH.URGENT_DOC = 'Y' AND W.APPROVAL_CD >= PRI.PR_NEXT_STATUS))
        ) AS PRAPPROVAL_UNORDERED
    ) AS PRAPPROVAL_ORDERED
    WHERE
        PRAPPROVAL_ORDERED.NUMBER >= (((@pageIndex - 1) * @pageSize) + 1)

    ;
END