<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Dev</key>
		<value>
      <ConnectionString>server=DB-SQL-PRD-2012.toyota.co.id\DBSQLPRD2012;Database=PAS_DB_PRD;User ID=P4S_DB_PRD;Password=P4S_d8_prd;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=50000</ConnectionString>

      <!--<ConnectionString>Server=DBSQL-DVQA-2012.toyota.co.id\DBSQLDEVQA2012;Database=PASS_DB_QA;User ID=P4SS_D8_QA;Password=P4sS_d8_qa;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000</ConnectionString>-->
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Development Database Connection</description>
	</configuration-item>
</configuration>