<div id="forgot-password-popup" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">
                    Forgot Password</h4>
            </div>
            <form id="reset-form" role="form" method="post" action="@Html.Toyota().Page.GetActionUrl("SendResetPassword")"  
                                                data-bv-feedbackicons-valid="glyphicon glyphicon-ok" 
                                                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" 
                                                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
            <div class="modal-body">
                
                <div class="form-group">
                    <input type="text" class="form-control" id="tfUser" name="user" placeholder="user to send reset password request" />
                </div>
                
                <div class="form-group">
                    <div style="margin-bottom: 15px;">
                        <label for="email">
                            Type username, then press [Tab] to list user's emails<br />
                            Select email to send password reset request for user above                        
                        </label>
                    </div>                    
                    <select id="email-list" name="email" class="form-control"></select>
@*                    <input type="email" class="form-control" id="tfEmail" name="email" placeholder="Registered email"
                        data-bv-notempty="true" data-bv-notempty-message="The email address is required and cannot be empty"
                        data-bv-emailaddress="true" data-bv-emailaddress-message="The email address is not a valid" />*@
                </div>
                
            </div>

               <div class="modal-footer">
                <a @*href="@Html.Toyota().Page.LoginUrl" *@
                    data-dismiss="modal"
                    class="hidden-xs btn btn-default pull-left"><i
                    class="fa fa-long-arrow-left text-right"></i>&nbsp;Close</a>
                    
                <button type="submit" class="hidden-xs btn btn-success pull-right submitbtn" id="btnsend">
                    Send</button>
                <button type="submit" class="visible-xs-block btn btn-success btn-block submitbtn">
                    Send</button>
                <a @*href="@Html.Toyota().Page.LoginUrl" *@
                    data-dismiss="modal"
                    class="visible-xs-block btn btn-default btn-block">
                    <i class="fa fa-long-arrow-left text-right"></i>Close</a>
            </div>

            </form>
        </div>        
    </div>
</div>
