@using GPS.Constants.PRPOApproval
<div class="modal-dialog modal-md" style="width:70%;min-height:400px">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Approval Status</h4>
        </div>
        <div class="modal-body" id="data-container-@PRPOApprovalPage.PRApprovalHistory" style="margin-top:-1.5em;">
            <div class="alert alert-danger" role="alert" style="display:none" id="alert-worklist"></div>
            @Html.Partial("~/Views/Worklist/_PartialPRWorklistGrid.cshtml")
        </div>
        <div class="modal-footer">
            <div class="text-right">
                <button id="btn-close-detail" type="button" class="btn btn-danger btn-xs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>