USE [PAS_DB_QA]
GO
/****** Object:  StoredProcedure [dbo].[sp_prcreation_savePR]    Script Date: 9/8/2017 3:06:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		FID)Reggy Budiana
-- Create date: 03/08/2015
-- Description:	Save PR

-- Modified By: FID)Intan Puspitasari
-- Modified Dt: 27/10/215
-- Description: Source modification based on newest table
-- =============================================
ALTER PROCEDURE [dbo].[sp_prcreation_savePR]
		@PR_NO VARCHAR(15),
		@PROCESS_ID BIGINT,
		@USER_ID VARCHAR(20),
		@DIVISION_ID INT,
		@EDIT_FLAG VARCHAR(1),
		@PRH_DATA PR_H_TEMP READONLY,
		@STATUS VARCHAR(MAX) OUTPUT
AS
BEGIN

DECLARE @PROC_MONTH VARCHAR(10),
		@LOCAL_CURR_CD VARCHAR(3),
		@PR_STATUS VARCHAR(2),
		@COUNT INT

DECLARE @TEMP_LOG LOG_TEMP,
		@MESSAGE VARCHAR(MAX),
		@MSG_ID VARCHAR(12),
		@MODULE VARCHAR(3) = '2',
		@FUNCTION VARCHAR(5) = '201002',
		@LOCATION VARCHAR(50) = 'Saving PR'
	
	SET NOCOUNT ON;

SELECT @PROC_MONTH = SYSTEM_VALUE FROM TB_M_SYSTEM WHERE SYSTEM_CD = 'PROC_MONTH' 
SELECT @LOCAL_CURR_CD = SYSTEM_VALUE FROM TB_M_SYSTEM WHERE SYSTEM_CD = 'LOCAL_CURR_CD'

SET @MESSAGE = 'Saving PR No ' + @PR_NO + ' Started'
SET @MSG_ID = 'MSG0000005'
INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

/*** Insert TB_R_PR_H ***/
IF((@STATUS = 'SUCCESS') AND (@EDIT_FLAG = 'N'))
BEGIN
	BEGIN TRY
		SET @MESSAGE = 'Insert New Data Into TB_R_PR_H Started'
		SET @MSG_ID = 'MSG0000006'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
		EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

		INSERT INTO [dbo].[TB_R_PR_H]
					([PR_NO]
					,[DOC_DT]
					,[PR_DESC]
					,[PR_TYPE]
					,[PROC_MONTH]
					,[PR_STATUS]
					,[PLANT_CD]
					,[SLOC_CD]
					,[PR_COORDINATOR]
					,[DIVISION_ID]
					,[DIVISION_NAME]
					,[PROJECT_NO]
					,[LOCAL_CURR_CD]
					,[LOCAL_AMOUNT]
					,[RELEASED_FLAG]
					,[PROCESS_ID]
					,[CREATED_BY]
					,[CREATED_DT]
					,[CHANGED_BY]
					,[CHANGED_DT]
					,[URGENT_DOC]
					,[MAIN_ASSET]
					,[PR_NOTES]
					,[DELIVERY_PLAN_DT]
					,[CANCEL_FLAG])
			 SELECT PR_NO 
			        ,DOC_DT
					,PR_DESC
					,PR_TYPE
					,@PROC_MONTH
					,PR_STATUS
					,PLANT_CD
					,SLOC_CD
					,PR_COORDINATOR
					,DIVISION_ID
					,DIVISION_NAME
					,PROJECT_NO
					,@LOCAL_CURR_CD
					,0 --LOCAL_AMOUNT
					,'N' -- RELEASED_FLAG
					,PROCESS_ID
					,@USER_ID
					,GETDATE()
					,null
					,null
					,URGENT_DOC
					,MAIN_ASSET
					,PR_NOTES
					,DELIVERY_PLAN_DT
					,'N' FROM @PRH_DATA WHERE PROCESS_ID = @PROCESS_ID

		SET @MESSAGE = 'Insert New Data Into TB_R_PR_H Success'
		SET @MSG_ID = 'MSG0000007'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
		EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
		
		SET @STATUS = 'SUCCESS'
	END TRY
	BEGIN CATCH
		SET @MESSAGE = 'Insert New Data Into TB_R_PR_H Failed'
		SET @MSG_ID = 'MSG0000016'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
		EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

		SELECT @MESSAGE = ERROR_MESSAGE()
		SET @MSG_ID = 'EXCEPTION'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
		EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 3;
		
		SET @STATUS = 'FAILED'
	END CATCH
END

IF((@STATUS = 'SUCCESS') AND (@EDIT_FLAG = 'Y'))
BEGIN
	BEGIN TRY
		SET @MESSAGE = 'Update Data Into TB_R_PR_H Started'
		SET @MSG_ID = 'MSG0000008'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
		EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

		UPDATE TB_R_PR_H SET 
				PR_DESC = B.PR_DESC,
				PROC_MONTH = @PROC_MONTH,
				PLANT_CD = B.PLANT_CD,
				SLOC_CD = B.SLOC_CD,
				DIVISION_ID = B.DIVISION_ID,
				PROJECT_NO = B.PROJECT_NO,
				PR_TYPE = B.PR_TYPE,
				PR_COORDINATOR = B.PR_COORDINATOR,
				PR_STATUS = B.PR_STATUS,
				URGENT_DOC = B.URGENT_DOC,
				MAIN_ASSET = B.MAIN_ASSET,
				PR_NOTES = B.PR_NOTES,
				DELIVERY_PLAN_DT = B.DELIVERY_PLAN_DT,
				CHANGED_BY = @USER_ID,
				CHANGED_DT = GETDATE(),
				CANCEL_FLAG = 'N'
		FROM TB_R_PR_H A INNER JOIN @PRH_DATA B ON A.PROCESS_ID = B.PROCESS_ID 
			WHERE B.PROCESS_ID = @PROCESS_ID

		SELECT @PR_STATUS = PR_STATUS FROM @PRH_DATA WHERE PROCESS_ID = @PROCESS_ID
		UPDATE TB_R_PR_ITEM SET PR_STATUS = CASE WHEN(@PR_STATUS = '94') THEN '00' ELSE '10' END,
								PR_NEXT_STATUS = CASE WHEN(@PR_STATUS = '94') THEN '00' ELSE '11' END
			   WHERE PR_NO = @PR_NO

		SET @MESSAGE = 'Update Data Into TB_R_PR_H Success'
		SET @MSG_ID = 'MSG0000010'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
		EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
		
		SET @STATUS = 'SUCCESS'
	END TRY
	BEGIN CATCH
		SET @MESSAGE = 'Update Data Into TB_R_PR_H Failed'
		SET @MSG_ID = 'MSG0000017'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
		EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

		SELECT @MESSAGE = ERROR_MESSAGE()
		SET @MSG_ID = 'EXCEPTION'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
		EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

		SET @STATUS = 'FAILED'
	END CATCH
END
/*** End of Insert TB_R_PR_H ***/

/*** Insert TB_R_PR_ITEM ***/
IF(@STATUS = 'SUCCESS')
BEGIN
	SELECT @PR_STATUS = PR_STATUS FROM @PRH_DATA WHERE PROCESS_ID = @PROCESS_ID
	SELECT @COUNT = COUNT(*) FROM TB_T_PR_ITEM WHERE PROCESS_ID = @PROCESS_ID AND NEW_FLAG = 'Y' AND ISNULL(DELETE_FLAG, 'N') <> 'Y'
	IF(@COUNT > 0)
	BEGIN
		BEGIN TRY
			SET @MESSAGE = 'Insert New Data Into TB_R_PR_ITEM Started'
			SET @MSG_ID = 'MSG0000015'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;
		
			INSERT INTO [dbo].[TB_R_PR_ITEM]
					   ([PR_NO]
					   ,[PR_ITEM_NO]
					   ,[ITEM_TYPE]
					   ,[IS_PARENT]
					   ,[PROCUREMENT_PURPOSE]
					   ,[MAT_NO]
					   ,[MAT_DESC]
					   ,[COST_CENTER_CD]
					   ,[WBS_NO]
					   ,[WBS_NAME]
					   ,[ITEM_CLASS]
					   ,[ITEM_CLASS_DESC]
					   ,[VALUATION_CLASS]
					   ,[VALUATION_CLASS_DESC]
					   ,[SOURCE_TYPE]
					   ,[BUYER_CD]
					   ,[DOC_TYPE]
					   ,[PACKING_TYPE]
					   ,[PART_COLOR_SFX]
					   ,[SPECIAL_PROC_TYPE]
					   ,[PR_QTY]
					   ,[PO_NO]
					   ,[UNIT_OF_MEASURE_CD]
					   ,[ORI_CURR_CD]
					   ,[PRICE_PER_UOM]
					   ,[ORI_AMOUNT]
					   ,[LOCAL_CURR_CD]
					   ,[EXCHANGE_RATE]
					   ,[LOCAL_AMOUNT]
					   ,[DELIVERY_PLAN_DT]
					   ,[GL_ACCOUNT]
					   ,[CAR_FAMILY_CD]
					   ,[MAT_TYPE_CD]
					   ,[MAT_GRP_CD]
					   ,[QUOTA_FLAG]
					   ,[PR_STATUS]
					   ,[PR_NEXT_STATUS]
					   ,[IS_REJECTED]
					   ,[RELEASE_FLAG]
					   ,[CREATED_BY]
					   ,[CREATED_DT]
					   ,[ASSET_CATEGORY]
					   ,[ASSET_CLASS]
					   ,[ASSET_LOCATION]
					   ,[ASSET_NO]
					   ,[VENDOR_CD]
					   ,[VENDOR_NAME]
					   ,[OPEN_QTY]
					   ,[USED_QTY]
					   ,[COMPLETION]
					   ,[BUDGET_REF]
					   ,[DELIVERY_ADDR])
				SELECT @PR_NO
					   ,ITEM_NO
					   ,ITEM_TYPE
					   ,IS_PARENT
					   ,PROCUREMENT_PURPOSE
					   ,MAT_NO
					   ,MAT_DESC
					   ,COST_CENTER_CD
					   ,WBS_NO
					   ,WBS_NAME
					   ,ITEM_CLASS
					   ,ITEM_CLASS_DESC
					   ,VALUATION_CLASS
					   ,VALUATION_CLASS_DESC
					   ,SOURCE_TYPE
					   ,'' -- BUYER_CD
					   ,'PR' --DOC_TYPE
					   ,PACKING_TYPE
					   ,PART_COLOR_SFX
					   ,SPECIAL_PROC_TYPE
					   ,NEW_ITEM_QTY
					   ,'' --PO_NO
					   ,ITEM_UOM
					   ,ORI_CURR_CD
					   ,NEW_PRICE_PER_UOM
					   ,NEW_AMOUNT
					   ,LOCAL_CURR_CD
					   ,EXCHANGE_RATE
					   ,NEW_LOCAL_AMOUNT
					   ,DELIVERY_PLAN_DT
					   ,GL_ACCOUNT
					   ,CAR_FAMILY_CD
					   ,MAT_TYPE_CD
					   ,MAT_GRP_CD
					   ,QUOTA_FLAG
					   ,CASE WHEN(@PR_STATUS = '94') THEN '00' ELSE '10' END AS PR_STATUS
					   ,CASE WHEN(@PR_STATUS = '94') THEN '00' ELSE '11' END AS PR_NEXT_STATUS
					   ,'N' --Is Rejected
					   ,'N' --Released Flag
					   ,CREATED_BY
					   ,CREATED_DT
					   ,ASSET_CATEGORY
					   ,ASSET_CLASS
					   ,ASSET_LOCATION
					   ,ASSET_NO
					   ,VENDOR_CD
					   ,VENDOR_NAME
					   ,NEW_ITEM_QTY --OPEN_QTY
					   ,USED_QTY
					   ,COMPLETION
					   ,BUDGET_REF
					   ,DELIVERY_ADDR --E-Catalogue
				FROM TB_T_PR_ITEM WHERE PROCESS_ID = @PROCESS_ID AND NEW_FLAG = 'Y' AND ISNULL(DELETE_FLAG, 'N') <> 'Y'
			
			SET @MESSAGE = 'Insert New Data Into TB_R_PR_ITEM Success'
			SET @MSG_ID = 'MSG0000019'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;

			SET @STATUS = 'SUCCESS'
		END TRY
		BEGIN CATCH
			SET @MESSAGE = 'Insert New Data Into TB_R_PR_ITEM Failed'
			SET @MSG_ID = 'MSG0000020'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @MESSAGE = ERROR_MESSAGE()
			SET @MSG_ID = 'EXCEPTION'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @STATUS = 'FAILED'
		END CATCH
	END

	SELECT @COUNT = COUNT(*) FROM TB_T_PR_ITEM 
			WHERE PROCESS_ID = @PROCESS_ID AND
				UPDATE_FLAG = 'Y' AND 
				ISNULL(NEW_FLAG, 'N') <> 'Y' AND 
				ISNULL(DELETE_FLAG, 'N') <> 'Y' AND 
				PROCESS_ID = @PROCESS_ID
	IF((@STATUS = 'SUCCESS') AND (@COUNT > 0))
	BEGIN
		BEGIN TRY
				SET @MESSAGE = 'Update Data Into TB_R_PR_ITEM Started'
				SET @MSG_ID = 'MSG0000022'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

				declare @@BUDGET VARCHAR(5)= (SELECT TOP 1 A.BUDGET_REF FROM TB_R_PR_ITEM A 
					INNER JOIN TB_T_PR_ITEM B ON A.PR_ITEM_NO = B.ITEM_NO 
					INNER JOIN TB_R_PR_H C ON
						A.PR_NO = C.PR_NO AND 
						C.PROCESS_ID = B.PROCESS_ID AND
						B.PROCESS_ID = @PROCESS_ID ORDER BY A.BUDGET_REF DESC)

				UPDATE TB_R_PR_ITEM SET
					   [ITEM_TYPE] = B.ITEM_TYPE
					   ,[IS_PARENT] = B.IS_PARENT
					   ,[MAT_NO] = B.MAT_NO
					   ,[MAT_DESC] = B.MAT_DESC
					   ,[COST_CENTER_CD] = B.COST_CENTER_CD
					   ,[WBS_NO] = B.WBS_NO
					   ,[WBS_NAME] = B.WBS_NAME
					   ,[ITEM_CLASS] = B.ITEM_CLASS
					   ,[ITEM_CLASS_DESC] = B.ITEM_CLASS_DESC
					   ,[VALUATION_CLASS] = B.VALUATION_CLASS
					   ,[VALUATION_CLASS_DESC] = B.VALUATION_CLASS_DESC
					   ,[SOURCE_TYPE] = B.SOURCE_TYPE
					   ,[PACKING_TYPE] = B.PACKING_TYPE
					   ,[PART_COLOR_SFX] = B.PART_COLOR_SFX
					   ,[SPECIAL_PROC_TYPE] = B.SPECIAL_PROC_TYPE
					   ,[PR_QTY] = B.NEW_ITEM_QTY
					   ,[UNIT_OF_MEASURE_CD] = B.ITEM_UOM
					   ,[ORI_CURR_CD] = B.ORI_CURR_CD
					   ,[PRICE_PER_UOM] = B.NEW_PRICE_PER_UOM
					   ,[ORI_AMOUNT] = B.NEW_AMOUNT
					   ,[LOCAL_CURR_CD] = B.LOCAL_CURR_CD
					   ,[EXCHANGE_RATE] = B.EXCHANGE_RATE
					   ,[LOCAL_AMOUNT] = B.NEW_LOCAL_AMOUNT
					   ,[DELIVERY_PLAN_DT] = B.DELIVERY_PLAN_DT
					   ,[GL_ACCOUNT] = B.GL_ACCOUNT
					   ,[CAR_FAMILY_CD] = B.CAR_FAMILY_CD
					   ,[MAT_TYPE_CD] = B.MAT_TYPE_CD
					   ,[MAT_GRP_CD] = B.MAT_GRP_CD
					   ,[PR_STATUS] = CASE WHEN(@PR_STATUS = '94') THEN '00' ELSE '10' END
					   ,[PR_NEXT_STATUS] = CASE WHEN(@PR_STATUS = '94') THEN '00' ELSE '11' END
					   ,[QUOTA_FLAG] = B.QUOTA_FLAG
					   ,[CHANGED_BY] = B.CHANGED_BY
					   ,[CHANGED_DT] = B.CHANGED_DT
					   ,[ASSET_CATEGORY] = B.ASSET_CATEGORY
					   ,[ASSET_CLASS] = B.ASSET_CLASS
					   ,[ASSET_LOCATION] = B.ASSET_LOCATION
					   ,[ASSET_NO] = B.ASSET_NO
					   ,[VENDOR_CD] = B.VENDOR_CD
					   ,[VENDOR_NAME] = B.VENDOR_NAME
					   ,[COMPLETION] = B.COMPLETION
					   ,[IS_REJECTED] = 'N'
					   ,[OPEN_QTY] = B.NEW_ITEM_QTY--B.OPEN_QTY
					   ,[BUDGET_REF] = [dbo].[GetFixedBudgetReff](@PROCESS_ID, A.PR_NO, B.ITEM_NO, B.ORI_CURR_CD, B.BUDGET_REF)
					   ,[DELIVERY_ADDR] = ISNULL(B.DELIVERY_ADDR, A.DELIVERY_ADDR)
				FROM TB_R_PR_ITEM A 
					INNER JOIN TB_T_PR_ITEM B ON 
						A.PR_ITEM_NO = B.ITEM_NO AND
						B.UPDATE_FLAG = 'Y' AND 
						ISNULL(B.NEW_FLAG, 'N') <> 'Y' AND 
						ISNULL(B.DELETE_FLAG, 'N') <> 'Y'  
					INNER JOIN TB_R_PR_H C ON
						A.PR_NO = C.PR_NO AND 
						C.PROCESS_ID = B.PROCESS_ID AND
						B.PROCESS_ID = @PROCESS_ID
				
				SET @MESSAGE = 'Update Data Into TB_R_PR_ITEM Success'
				SET @MSG_ID = 'MSG0000023'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
				
				SET @STATUS = 'SUCCESS'
		END TRY
		BEGIN CATCH
			SET @MESSAGE = 'Update Data Into TB_R_PR_ITEM Failed'
			SET @MSG_ID = 'MSG0000024'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @MESSAGE = ERROR_MESSAGE()
			SET @MSG_ID = 'EXCEPTION'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @STATUS = 'FAILED'
		END CATCH
	END

	SELECT @COUNT = COUNT(*) FROM TB_T_PR_ITEM WHERE PROCESS_ID = @PROCESS_ID AND DELETE_FLAG = 'Y' AND ISNULL(NEW_FLAG, 'N') <> 'Y'
	IF((@STATUS = 'SUCCESS') AND (@COUNT > 0))
	BEGIN
		BEGIN TRY
			SET @MESSAGE = 'Delete Data From TB_R_PR_ITEM Started'
			SET @MSG_ID = 'MSG0000025'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;
				
				DELETE FROM TB_R_PR_ITEM
					WHERE PR_NO = @PR_NO AND 
						  PR_ITEM_NO IN (SELECT ITEM_NO FROM TB_T_PR_ITEM
											WHERE PROCESS_ID = @PROCESS_ID AND DELETE_FLAG = 'Y' AND ISNULL(NEW_FLAG, 'N') <> 'Y')

			SET @MESSAGE = 'Delete Data From TB_R_PR_ITEM Success'
			SET @MSG_ID = 'MSG0000026'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
			
			SET @STATUS = 'SUCCESS'
		END TRY
		BEGIN CATCH
			SET @MESSAGE = 'Delete Data From TB_R_PR_ITEM Failed' 
			SET @MSG_ID = 'MSG0000027'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

			SET @MESSAGE = ERROR_MESSAGE()
			SET @MSG_ID = 'EXCEPTION'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @STATUS = 'FAILED'
		END CATCH 
	END
END
/*** End of Insert TB_R_PR_ITEM ***/

/*** Insert TB_R_PR_SUBITEM ***/
IF(@STATUS = 'SUCCESS')
BEGIN
	SELECT @COUNT = COUNT(*) FROM TB_T_PR_SUBITEM WHERE PROCESS_ID = @PROCESS_ID AND NEW_FLAG = 'Y' AND ISNULL(DELETE_FLAG, 'N') <> 'Y'
	IF(@COUNT > 0)
	BEGIN
		BEGIN TRY
			SET @MESSAGE = 'Insert New Data Into TB_R_PR_SUBITEM Started'
			SET @MSG_ID = 'MSG0000015'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;
		
			INSERT INTO [dbo].[TB_R_PR_SUBITEM]
					   ([PR_NO]
					   ,[PR_ITEM_NO]
					   ,[PR_SUBITEM_NO]
					   ,[MAT_NO]
					   ,[MAT_DESC]
					   ,[COST_CENTER_CD]
					   ,[WBS_NO]
					   ,[GL_ACCOUNT]
					   ,[SUBITEM_QTY]
					   ,[SUBITEM_UOM]
					   ,[PRICE_PER_UOM]
					   ,[ORI_AMOUNT]
					   ,[LOCAL_AMOUNT]
					   ,[CREATED_BY]
					   ,[CREATED_DT])
				SELECT @PR_NO
					   ,ITEM_NO
					   ,SUBITEM_NO
					   ,MAT_NO
					   ,MAT_DESC
					   ,COST_CENTER_CD
					   ,WBS_NO
					   ,GL_ACCOUNT
					   ,NEW_SUBITEM_QTY
					   ,SUBITEM_UOM
					   ,NEW_PRICE_PER_UOM
					   ,NEW_AMOUNT
					   ,NEW_LOCAL_AMOUNT
					   ,CREATED_BY
					   ,CREATED_DT
				FROM TB_T_PR_SUBITEM WHERE PROCESS_ID = @PROCESS_ID AND NEW_FLAG = 'Y' AND ISNULL(DELETE_FLAG, 'N') <> 'Y'
			
			SET @MESSAGE = 'Insert New Data Into TB_R_PR_SUBITEM Success'
			SET @MSG_ID = 'MSG0000019'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;

			SET @STATUS = 'SUCCESS'
		END TRY
		BEGIN CATCH
			SET @MESSAGE = 'Insert New Data Into TB_R_PR_SUBITEM Failed'
			SET @MSG_ID = 'MSG0000020'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @MESSAGE = ERROR_MESSAGE()
			SET @MSG_ID = 'EXCEPTION'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @STATUS = 'FAILED'
		END CATCH
	END

	SELECT @COUNT = COUNT(*) FROM TB_T_PR_SUBITEM 
			WHERE PROCESS_ID = @PROCESS_ID AND
				UPDATE_FLAG = 'Y' AND 
				ISNULL(NEW_FLAG, 'N') <> 'Y' AND 
				ISNULL(DELETE_FLAG, 'N') <> 'Y' AND 
				PROCESS_ID = @PROCESS_ID
	IF((@STATUS = 'SUCCESS') AND (@COUNT > 0))
	BEGIN
		BEGIN TRY
				SET @MESSAGE = 'Update Data Into TB_R_PR_SUBITEM Started'
				SET @MSG_ID = 'MSG0000022'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

				UPDATE TB_R_PR_SUBITEM SET
					   [MAT_NO] = B.MAT_NO
					   ,[MAT_DESC] = B.MAT_DESC
					   ,[COST_CENTER_CD] = B.COST_CENTER_CD
					   ,[WBS_NO] = B.WBS_NO
					   ,[GL_ACCOUNT] = B.GL_ACCOUNT
					   ,[SUBITEM_QTY] = B.NEW_SUBITEM_QTY
					   ,[SUBITEM_UOM] = B.SUBITEM_UOM
					   ,[PRICE_PER_UOM] = B.NEW_PRICE_PER_UOM
					   ,[ORI_AMOUNT] = B.NEW_AMOUNT
					   ,[LOCAL_AMOUNT] = B.NEW_LOCAL_AMOUNT
					   ,[CHANGED_BY] = B.CHANGED_BY
					   ,[CHANGED_DT] = B.CHANGED_DT
				FROM TB_R_PR_SUBITEM A 
					INNER JOIN TB_T_PR_SUBITEM B ON 
						A.PR_SUBITEM_NO = B.SUBITEM_NO AND
						A.PR_ITEM_NO = B.ITEM_NO AND
						B.UPDATE_FLAG = 'Y' AND 
						ISNULL(B.NEW_FLAG, 'N') <> 'Y' AND 
						ISNULL(B.DELETE_FLAG, 'N') <> 'Y' AND
						A.PR_NO = (SELECT PR_NO FROM TB_R_PR_H WHERE PROCESS_ID = @PROCESS_ID)
					--INNER JOIN TB_R_PR_ITEM C ON
					--	A.PR_NO = C.PR_NO AND
					--	A.PR_ITEM_NO = C.PR_ITEM_NO
					--INNER JOIN TB_R_PR_H D ON 
					--	D.PROCESS_ID = B.PROCESS_ID AND
					--	B.PROCESS_ID = @PROCESS_ID
					/* MODIFICATION BY ARKAMAYA.RAHMAT */
				SET @MESSAGE = 'Update Data Into TB_R_PR_SUBITEM Success'
				SET @MSG_ID = 'MSG0000023'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
				
				SET @STATUS = 'SUCCESS'
		END TRY
		BEGIN CATCH
			SET @MESSAGE = 'Update Data Into TB_R_PR_SUBITEM Failed'
			SET @MSG_ID = 'MSG0000024'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @MESSAGE = ERROR_MESSAGE()
			SET @MSG_ID = 'EXCEPTION'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @STATUS = 'FAILED'
		END CATCH
	END

	SELECT @COUNT = COUNT(*) FROM TB_T_PR_SUBITEM WHERE PROCESS_ID = @PROCESS_ID AND DELETE_FLAG = 'Y' AND ISNULL(NEW_FLAG, 'N') <> 'Y'
	IF((@STATUS = 'SUCCESS') AND (@COUNT > 0))
	BEGIN
		BEGIN TRY
			SET @MESSAGE = 'Delete Data From TB_R_PR_SUBITEM Started'
			SET @MSG_ID = 'MSG0000025'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;
				
				DELETE r
				FROM TB_R_PR_SUBITEM r
					INNER JOIN TB_T_PR_SUBITEM t
					ON r.PR_ITEM_NO = t.ITEM_NO AND r.PR_SUBITEM_NO = t.SUBITEM_NO AND 
					   t.PROCESS_ID = @PROCESS_ID AND t.DELETE_FLAG = 'Y' AND ISNULL(t.NEW_FLAG, 'N') <> 'Y'
					INNER JOIN TB_R_PR_H rh
					ON r.PR_NO = rh.PR_NO AND rh.PROCESS_ID = t.PROCESS_ID 

			SET @MESSAGE = 'Delete Data From TB_R_PR_SUBITEM Success'
			SET @MSG_ID = 'MSG0000026'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
			
			SET @STATUS = 'SUCCESS'
		END TRY
		BEGIN CATCH
			SET @MESSAGE = 'Delete Data From TB_R_PR_SUBITEM Failed' 
			SET @MSG_ID = 'MSG0000027'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

			SET @MESSAGE = ERROR_MESSAGE()
			SET @MSG_ID = 'EXCEPTION'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			
			SET @STATUS = 'FAILED'
		END CATCH 
	END
END
/*** End of Insert TB_R_PR_SUBITEM ***/

/*** Insert TB_R_ATTACHMENT ***/
IF(@STATUS = 'SUCCESS')
BEGIN
	SELECT @COUNT = COUNT(*) FROM TB_T_ATTACHMENT WHERE PROCESS_ID = @PROCESS_ID
	IF(@COUNT > 0)
	BEGIN
		SELECT @COUNT = COUNT(*) FROM TB_T_ATTACHMENT WHERE PROCESS_ID = @PROCESS_ID AND NEW_FLAG = 'Y' AND DELETE_FLAG IS NULL
		IF(@COUNT > 0)
		BEGIN
			BEGIN TRY
				SET @MESSAGE = 'Insert New Data Into TB_R_ATTACHMENT Started'
				SET @MSG_ID = 'MSG0000031'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

					INSERT INTO [dbo].[TB_R_ATTACHMENT]
						([DOC_NO]
						,[SEQ_NO]
						,[DOC_TYPE]
						,[DOC_SOURCE]
						,[FILE_PATH]
						,[FILE_NAME_ORI]
						,[FILE_EXTENSION]
						,[FILE_SIZE]
						,[PROCESS_ID]
						,[CREATED_BY]
						,[CREATED_DT])
					SELECT @PR_NO AS DOC_NO,
						SEQ_NO,
						DOC_TYPE,
						'PR',
						FILE_PATH,
						FILE_NAME_ORI,
						FILE_EXTENSION,
						FILE_SIZE,
						PROCESS_ID,
						CREATED_BY,
						CREATED_DT
					FROM TB_T_ATTACHMENT WHERE PROCESS_ID = @PROCESS_ID AND NEW_FLAG = 'Y' AND ISNULL(DELETE_FLAG, 'N') = 'N'

				SET @MESSAGE = 'Insert New Data Into TB_R_ATTACHMENT Success'
				SET @MSG_ID = 'MSG0000033'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;

				SET @STATUS = 'SUCCESS'
			END TRY
			BEGIN CATCH
				SET @MESSAGE = 'Insert New Data Into TB_R_ATTACHMENT Failed'
				SET @MSG_ID = 'MSG0000034'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

				SET @MESSAGE = ERROR_MESSAGE()
				SET @MSG_ID = 'EXCEPTION'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

				SET @STATUS = 'FAILED'
			END CATCH
		END

		SELECT @COUNT = COUNT(*) FROM TB_T_ATTACHMENT WHERE PROCESS_ID = @PROCESS_ID AND DELETE_FLAG = 'Y'
		IF((@STATUS = 'SUCCESS') AND (@COUNT > 0))
		BEGIN
			BEGIN TRY
				SET @MESSAGE = 'Delete Data From TB_R_ATTACHMENT Started'
				SET @MSG_ID = 'MSG0000035'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;
				
				DELETE FROM TB_R_ATTACHMENT WHERE DOC_NO = @PR_NO AND SEQ_NO IN 
													(SELECT SEQ_NO FROM TB_T_ATTACHMENT 
														WHERE PROCESS_ID = @PROCESS_ID AND DELETE_FLAG = 'Y')

				SET @MESSAGE = 'Delete Data From TB_R_ATTACHMENT Success'
				SET @MSG_ID = 'MSG0000036'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
			END TRY
			BEGIN CATCH
				SET @MESSAGE = 'Delete Data From Into TB_R_ATTACHMENT Failed'
				SET @MSG_ID = 'MSG0000036'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;

				SET @MESSAGE = ERROR_MESSAGE()
				SET @MSG_ID = 'EXCEPTION'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MESSAGE, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
				EXEC dbo.sp_PutLog @MESSAGE, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
				
				SET @STATUS = 'FAILED'
			END CATCH
		END
	END
END
/*** End Of Insert TB_R_ATTACHMENT ***/

SELECT PROCESS_ID, PROCESS_TIME, MESSAGE_ID, MESSAGE_TYPE, MESSAGE_DESC, MODULE_ID, MODULE_DESC, FUNCTION_ID, STATUS_ID, [USER_NAME] FROM @TEMP_LOG
END





