/****** Object:  StoredProcedure [dbo].[sp_prinquiry_getListDownloadDataPR]    Script Date: 7/19/2017 9:55:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_prinquiry_getListDownloadDataPR]   
  @PR_NO VARCHAR(MAX),   
  @PR_TYPE VARCHAR(5),  
  @VENDOR_CD VARCHAR(MAX),   
  @PLANT_CD VARCHAR(MAX),   
  @SLOC_CD VARCHAR(MAX),   
  @DIVISION_CD VARCHAR(MAX),   
  @DATEFROM VARCHAR(MAX),   
  @DATETO VARCHAR(MAX),   
  @PROJECT_NO VARCHAR(MAX),   
  @PR_STATUS_FLAG VARCHAR(MAX),   
  @PR_DESC VARCHAR(MAX),   
  @PR_COORDINATOR VARCHAR(MAX),   
  @WBS_NO VARCHAR(MAX),   
  @DETAIL_STS VARCHAR(MAX),  
  @CREATED_BY VARCHAR(MAX),  
  @ORDER_BY VARCHAR(MAX),
  @PO_NO VARCHAR(MAX),   
  @LIMITCOUNT VARCHAR(MAX)

AS
BEGIN  
DECLARE @SQL_QUERY VARCHAR(MAX)
  
SELECT @LIMITCOUNT = SYSTEM_VALUE FROM TB_M_SYSTEM WHERE SYSTEM_CD = 'MAX_SEARCH'
--TO DO : Adjust joined table to get Division Name   
SET @SQL_QUERY =   
'SELECT * FROM (  
SELECT DISTINCT TOP ' + @LIMITCOUNT + '     
 CASE ''' + ISNULL(@ORDER_BY, '') + '''   
    WHEN ''TYPE|ASC'' THEN DENSE_RANK() OVER (ORDER BY E.PROCUREMENT_DESC ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''TYPE|DESC'' THEN DENSE_RANK() OVER (ORDER BY E.PROCUREMENT_DESC DESC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''NO|ASC'' THEN DENSE_RANK() OVER (ORDER BY A.PR_NO ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''NO|DESC'' THEN DENSE_RANK() OVER (ORDER BY A.PR_NO DESC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''DESC|ASC'' THEN DENSE_RANK() OVER (ORDER BY A.PR_DESC ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''DESC|DESC'' THEN DENSE_RANK() OVER (ORDER BY A.PR_DESC DESC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''DATE|ASC'' THEN DENSE_RANK() OVER (ORDER BY A.DOC_DT ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''DATE|DESC'' THEN DENSE_RANK() OVER (ORDER BY A.DOC_DT DESC, A.DOC_DT DESC,  A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''STATUS|ASC'' THEN DENSE_RANK() OVER (ORDER BY B.STATUS_DESC ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''STATUS|DESC'' THEN DENSE_RANK() OVER (ORDER BY B.STATUS_DESC DESC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''COORDINATOR|ASC'' THEN DENSE_RANK() OVER (ORDER BY F.COORDINATOR_DESC ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''COORDINATOR|DESC'' THEN DENSE_RANK() OVER (ORDER BY F.COORDINATOR_DESC DESC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''PLANT|ASC'' THEN DENSE_RANK() OVER (ORDER BY A.PLANT_CD ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''PLANT|DESC'' THEN DENSE_RANK() OVER (ORDER BY A.PLANT_CD DESC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''STORAGE|ASC'' THEN DENSE_RANK() OVER (ORDER BY A.SLOC_CD ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''STORAGE|DESC'' THEN DENSE_RANK() OVER (ORDER BY A.SLOC_CD DESC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''DIVISION|ASC'' THEN DENSE_RANK() OVER (ORDER BY A.DIVISION_NAME ASC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    WHEN ''DIVISION|DESC'' THEN DENSE_RANK() OVER (ORDER BY A.DIVISION_NAME DESC, A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
    ELSE DENSE_RANK() OVER (ORDER BY A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC)  
 END AS NUMBER,  
 A.PR_NO as PR_NO, 
 A.CREATED_DT,
 A.CHANGED_DT,
 A.DOC_DT,
 A.DIVISION_NAME,
 A.SLOC_CD,
 A.PLANT_CD,
 A.PR_DESC,
 A.PR_STATUS as STATUS_CD,
 B.STATUS_DESC,
 C.PR_ITEM_NO AS PR_ITEM_NO, 
 C.ITEM_CLASS,
 C.MAT_NO AS MAT_NO,   
 C.MAT_DESC AS MAT_DESC,  
 C.PR_QTY AS PR_QTY,  
 C.UNIT_OF_MEASURE_CD AS UOM, 
 C.PRICE_PER_UOM AS PRICE, 
 C.LOCAL_CURR_CD AS CURR, 
 C.EXCHANGE_RATE AS EXCHANGE_RATE, 
 C.ORI_AMOUNT AS TOTAL_AMOUNT, 
 C.LOCAL_AMOUNT AS LOCAL_AMOUNT, 
 C.WBS_NO AS WBS_NO, 
 C.GL_ACCOUNT AS GL_ACCOUNT, 
 C.COST_CENTER_CD AS COST_CENTER_CD,
 AST.ASSET_NO AS  ASSET_NO,
 C.VENDOR_CD AS VENDOR_CD, 
 C.VENDOR_NAME AS VENDOR_NAME, 
 D.PO_NO AS PO_NO,
 ISNULL(D.PO_ITEM_NO,'''') AS PO_ITEM_NO,
 E.PROCUREMENT_DESC,
 F.COORDINATOR_DESC,
 C.CREATED_BY AS CREATED_BY,
 C.PR_NEXT_STATUS AS STATUS_APPROVAL,
 '''' AS CURRENT_REG_APPROVAL,
 '''' AS CURRENT_APPROVAL
FROM TB_R_PR_H A   
 JOIN TB_M_STATUS B ON B.STATUS_CD = A.PR_STATUS  
 JOIN TB_R_PR_ITEM C ON C.PR_NO = A.PR_NO  
 LEFT JOIN TB_R_PO_ITEM D ON D.PR_NO = A.PR_NO AND D.PR_ITEM_NO = C.PR_ITEM_NO
 LEFT JOIN TB_R_ASSET AST ON AST.PR_NO = A.PR_NO AND AST.PR_ITEM_NO = C.PR_ITEM_NO
 JOIN TB_M_PROCUREMENT_TYPE E ON A.PR_TYPE = E.PROCUREMENT_TYPE  
 JOIN TB_M_COORDINATOR F ON A.PR_COORDINATOR = F.COORDINATOR_CD  
 LEFT JOIN TB_M_VENDOR G ON C.VENDOR_CD = G.VENDOR_CD
WHERE  
 ((A.PR_NO LIKE ''%' + ISNULL(@PR_NO,'') + '%''   
 AND isnull(''' + ISNULL(@PR_NO,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@PR_NO,'') + ''', '''') = '''')))  
AND ((A.PR_TYPE = ''' + ISNULL(@PR_TYPE,'') + '''  
 AND isnull(''' + ISNULL(@PR_TYPE,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@PR_TYPE,'') + ''', '''') = '''')))  
AND ((A.PLANT_CD = ''' + ISNULL(@PLANT_CD,'') + '''  
 AND isnull(''' + ISNULL(@PLANT_CD,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@PLANT_CD,'') + ''', '''') = '''')))  
AND ((A.SLOC_CD = ''' + ISNULL(@SLOC_CD,'') + '''  
 AND isnull(''' + ISNULL(@SLOC_CD,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@SLOC_CD,'') + ''', '''') = '''')))  
AND ((A.DIVISION_ID = ''' + ISNULL(@DIVISION_CD,'') + '''  
 AND isnull(''' + ISNULL(@DIVISION_CD,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@DIVISION_CD,'') + ''', '''') = '''')))  
AND ((A.PROJECT_NO LIKE ''%' + ISNULL(@PROJECT_NO,'') + '%''  
 AND isnull(''' + ISNULL(@PROJECT_NO,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@PROJECT_NO,'') + ''', '''') = '''')))  
AND ((A.PR_STATUS = ''' + ISNULL(@PR_STATUS_FLAG,'') + '''  
 AND isnull(''' + ISNULL(@PR_STATUS_FLAG,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@PR_STATUS_FLAG,'') + ''', '''') = '''')))  
AND ((A.DOC_DT >= ''' + ISNULL(@DATEFROM,'') + '''  
 AND isnull(''' + ISNULL(@DATEFROM,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@DATEFROM,'') + ''', '''') = '''')))  
AND ((A.DOC_DT <= ''' + ISNULL(@DATETO,'') + '''  
 AND isnull(''' + ISNULL(@DATETO,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@DATETO,'') + ''', '''') = '''')))  
AND (((C.VENDOR_CD LIKE ''%' + ISNULL(@VENDOR_CD,'') + '%''  
 AND isnull(''' + ISNULL(@VENDOR_CD,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@VENDOR_CD,'') + ''', '''') = '''')))  
 OR ((G.VENDOR_NAME LIKE ''%' + ISNULL(@VENDOR_CD,'') + '%''  
 AND isnull(''' + ISNULL(@VENDOR_CD,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@VENDOR_CD,'') + ''', '''') = ''''))))  
AND ((A.PR_DESC LIKE ''%' + ISNULL(@PR_DESC,'')  + '%''  
 AND isnull(''' + ISNULL(@PR_DESC,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@PR_DESC,'') + ''', '''') = '''')))  
AND ((A.PR_COORDINATOR = ''' + ISNULL(@PR_COORDINATOR,'') + '''  
 AND isnull(''' + ISNULL(@PR_COORDINATOR,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@PR_COORDINATOR,'') + ''', '''') = '''')))  
AND ((C.WBS_NO LIKE ''%' + ISNULL(@WBS_NO,'') + '%''  
 AND isnull(''' + ISNULL(@WBS_NO,'') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@WBS_NO,'') + ''', '''') = '''')))  
AND ((C.PR_STATUS = ''' + ISNULL(@DETAIL_STS, '') + '''  
 AND isnull(''' + ISNULL(@DETAIL_STS, '') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@DETAIL_STS, '') + ''', '''') = '''')))  
AND ((A.CREATED_BY LIKE ''%' + ISNULL(@CREATED_BY, '') + '%''  
 AND isnull(''' + ISNULL(@CREATED_BY, '') + ''', '''') <> ''''  
 OR (isnull(''' + ISNULL(@CREATED_BY, '') + ''', '''') = '''')))  
AND ((C.PO_NO LIKE ''%' + ISNULL(@PO_NO,'') + '%'' 
	AND isnull(''' + ISNULL(@PO_NO,'') + ''', '''') <> ''''
	OR (isnull(''' + ISNULL(@PO_NO,'') + ''', '''') = '''')))
ORDER BY A.DOC_DT DESC, A.CREATED_DT DESC, A.CHANGED_DT DESC  
 )TBL1  ORDER BY TBL1.number ASC'  


IF OBJECT_ID('tempdb..#TempPR') IS NOT NULL drop Table  tempdb.#TempPR;

create table #TempPR
(
	NUMBER int,
	PR_NO VARCHAR(50),
	CREATED_DT DATETIME,
	CHANGED_DT DATETIME,
	DOC_DT DATETIME,
	DIVISION_NAME VARCHAR(50),
	SLOC_CD VARCHAR(20),
	PLANT_CD VARCHAR(20),
	PR_DESC VARCHAR(MAX),
	PR_STATUS VARCHAR(20), 
	STATUS_DESC VARCHAR(MAX),
	PR_ITEM_NO VARCHAR(20),
	ITEM_CLASS VARCHAR(1), 
	MAT_NO VARCHAR(20),   
	MAT_DESC VARCHAR(MAX),
	PR_QTY  decimal(7,2), 
	UNIT_OF_MEASURE_CD VARCHAR(20),
	PRICE_PER_UOM decimal(18,4),
	LOCAL_CURR_CD VARCHAR(20),
	EXCHANGE_RATE decimal(9,2),
	ORI_AMOUNT decimal(18,4),
	LOCAL_AMOUNT decimal(18,4),
	WBS_NO VARCHAR(50),
	GL_ACCOUNT VARCHAR(20),
	COST_CENTER_CD VARCHAR(20),
	ASSET_NO VARCHAR(7),
	VENDOR_CD VARCHAR(20),
	VENDOR_NAME VARCHAR(50),
	PO_NO VARCHAR(50),
	PO_ITEM_NO VARCHAR(50),
	PROCUREMENT_DESC VARCHAR(MAX),
	COORDINATOR_DESC VARCHAR(MAX),
	CREATED_BY VARCHAR(50),
	STATUS_APPROVAL VARCHAR(5),
	CURRENT_REG_APPROVER VARCHAR(10),
	CURRENT_APPROVER VARCHAR(50)
)


INSERT INTO #TempPR
EXEC (@SQL_QUERY) 

IF OBJECT_ID('tempdb..#TempPRItem') IS NOT NULL drop Table  tempdb.#TempPRItem;

;WITH cte AS
(
   SELECT *,
         ROW_NUMBER() OVER (PARTITION BY PR_NO,PR_ITEM_NO ORDER BY PR_NO,PR_ITEM_NO ASC) AS rn
   FROM (
	SELECT PR_NO, PR_ITEM_NO, WBS_NO, GL_ACCOUNT, COST_CENTER_CD FROM TB_R_PR_SUBITEM WHERE PR_NO IN(SELECT DISTINCT PR_NO FROM #TempPR)
	) a
)
SELECT * INTO #TempPRItem
FROM cte
WHERE rn = 1

Update temp
	SET temp.WBS_NO = subItem.WBS_NO, temp.GL_ACCOUNT = subItem.GL_ACCOUNT, temp.COST_CENTER_CD = subItem.COST_CENTER_CD
FROM #TempPR temp
INNER JOIN #TempPRItem subItem ON subItem.PR_NO = temp.PR_NO AND subItem.PR_ITEM_NO = temp.PR_ITEM_NO
WHERE temp.ITEM_CLASS = 'S'

update temp 
	SET temp.CURRENT_REG_APPROVER = wf.NOREG,
		temp.CURRENT_APPROVER = wf.APPROVER_NAME
FROM #TempPR temp
INNER JOIN TB_R_WORKFLOW wf ON wf.APPROVAL_CD = temp.STATUS_APPROVAL AND wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO
WHERE temp.PR_STATUS <> '14'

update temp 
	SET temp.CREATED_BY = wf_cr.APPROVER_NAME 
FROM #TempPR temp
INNER JOIN TB_R_WORKFLOW wf_cr ON wf_cr.APPROVAL_CD = '10' AND wf_cr.DOCUMENT_NO = temp.PR_NO AND wf_cr.ITEM_NO = temp.PR_ITEM_NO


select * from #TempPR 
END