USE [PAS_DB_QA]
GO
/****** Object:  StoredProcedure [dbo].[sp_PRStatusMonitoring_CountList]    Script Date: 12/21/2017 2:06:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_PRStatusMonitoring_CountList]
    @DIVISION_ID int,
	@PR_NO VARCHAR(15) ,
	@PR_DESC VARCHAR(100),
	@CREATED_BY VARCHAR(30),
	@PO_NO VARCHAR(15),
	@VENDOR VARCHAR(50),
	@GR_NO VARCHAR(15)
AS 
BEGIN
	DECLARE @tempTable AS TABLE(
		NO int,
		PR_NO VARCHAR(15),
		PR_ITEM_NO VARCHAR(5),
		PR_DATA_TYPE VARCHAR(10),
		MAT_DESC VARCHAR(100),
		PR_STATUS VARCHAR(10),
		PR_STATUS_DESC VARCHAR(50),
		WBS_NO VARCHAR(30),
		WBS_NAME VARCHAR(100),
		PR_QTY_REMAIN DECIMAL(18,6),
		PR_CREATED_BY VARCHAR(30),
		PR_CREATED_DATE DATETIME,
		i_SH_DATE DATETIME,
		i_SH_PLANNING_DATE DATETIME,
		i_SH_PLANNING VARCHAR(10),
		i_SH_INTERVAL INT DEFAULT 1,
		i_SH_DELAY INT DEFAULT 0,
		i_DPH_DATE DATETIME,
		i_DPH_PLANNING_DATE DATETIME,
		i_DPH_PLANNING VARCHAR(10),
		i_DPH_INTERVAL INT DEFAULT 1,
		i_DPH_DELAY INT DEFAULT 0,
		i_DH_DATE DATETIME,
		i_DH_PLANNING_DATE DATETIME,
		i_DH_PLANNING VARCHAR(10),
		i_DH_INTERVAL INT DEFAULT 1,
		i_DH_DELAY INT DEFAULT 0,
		STAFF_DATE DATETIME,
		STAFF_PLANNING_DATE DATETIME,
		STAFF_PLANNING VARCHAR(10),
		STAFF_INTERVAL INT DEFAULT 1,
		STAFF_DELAY INT DEFAULT 0,
		c_SH_DATE DATETIME,
		c_SH_PLANNING_DATE DATETIME,
		c_SH_PLANNING VARCHAR(10),
		c_SH_INTERVAL INT DEFAULT 1,
		c_SH_DELAY INT DEFAULT 0,
		c_DPH_DATE DATETIME,
		c_DPH_PLANNING_DATE DATETIME,
		c_DPH_PLANNING VARCHAR(10),
		c_DPH_INTERVAL INT DEFAULT 1,
		c_DPH_DELAY INT DEFAULT 0,
		FINANCE_DATE DATETIME,
		FINANCE_PLANNING_DATE DATETIME,
		FINANCE_PLANNING VARCHAR(10),
		FINANCE_INTERVAL INT DEFAULT 1,
		FINANCE_DELAY INT DEFAULT 0,
		VENDOR_CD VARCHAR(10),
		VENDOR_NAME VARCHAR(50),
		PO_NO VARCHAR(10),
		PO_STATUS VARCHAR(10),
		PO_STATUS_DESC VARCHAR(50),
		PO_QTY_REMAIN DECIMAL(18,6),
		PO_CREATED_BY VARCHAR(30),
		PO_CREATED_DATE DATETIME,
		PO_SH_DATE DATETIME,
		PO_SH_PLANNING_DATE DATETIME,
		PO_SH_PLANNING VARCHAR(10),
		PO_SH_INTERVAL INT DEFAULT 1,
		PO_SH_DELAY INT DEFAULT 0,
		PO_DPH_DATE DATETIME,
		PO_DPH_PLANNING_DATE DATETIME,
		PO_DPH_PLANNING VARCHAR(10),
		PO_DPH_INTERVAL INT DEFAULT 1,
		PO_DPH_DELAY INT DEFAULT 0,
		PO_DH_DATE DATETIME,
		PO_DH_PLANNING_DATE DATETIME,
		PO_DH_PLANNING VARCHAR(10),
		PO_DH_INTERVAL INT DEFAULT 1,
		PO_DH_DELAY INT DEFAULT 0,
		TOTAL_DELAY INT,
		GR_NO VARCHAR(15),
		GR_STATUS VARCHAR(10),
		GR_STATUS_DESC VARCHAR(50),
		GR_CREATED_BY VARCHAR(30),
		GR_CREATED_DATE DATETIME,
		ORDER_BY int
	)

	DECLARE @list_PR AS TABLE(
		NO int Identity(1,1),
		PR_NO VARCHAR(15)
	)

	INSERT INTO @list_PR
	SELECT PR_NO 
		FROM TB_R_PR_H 
	WHERE (ISNULL(@PR_NO,'')=PR_NO OR ISNULL(@PR_NO,'') = '') AND DIVISION_ID = @DIVISION_ID
		  AND (ISNULL(@CREATED_BY,'')=CREATED_BY OR ISNULL(@CREATED_BY,'') = '')
 
	
	INSERT INTO @tempTable (NO, PR_NO, PR_ITEM_NO, PR_DATA_TYPE, MAT_DESC, PR_STATUS, PR_CREATED_DATE, PR_CREATED_BY, WBS_NO, WBS_NAME, PR_QTY_REMAIN,
			VENDOR_CD, VENDOR_NAME, 
			PO_NO, PO_STATUS, PO_CREATED_BY, PO_CREATED_DATE, PO_QTY_REMAIN,
			GR_NO, GR_STATUS, GR_CREATED_BY, GR_CREATED_DATE)
	SELECT ROW_NUMBER() OVER (ORDER BY pri.PR_NO ASC, pri.PR_ITEM_NO ASC) Number, pri.PR_NO, pri.PR_ITEM_NO, 'ITEM', pri.MAT_DESC, pri.PR_STATUS, pri.CREATED_DT, pri.CREATED_BY, pri.WBS_NO, pri.WBS_NAME, pri.OPEN_QTY, 
			(CASE WHEN ISNULL(poh.VENDOR_CD,'') ='' THEN pri.VENDOR_CD ELSE poh.VENDOR_CD END), (CASE WHEN ISNULL(poh.VENDOR_CD,'') ='' THEN pri.VENDOR_NAME ELSE poh.VENDOR_NAME END),
			poi.PO_NO, poh.PO_STATUS, poi.CREATED_BY, poi.CREATED_DT, poi.PO_QTY_REMAIN,
			gr.MAT_DOC_NO, gr.STATUS_CD, gr.CREATED_BY, gr.CREATED_DT
	FROM TB_R_PR_ITEM pri
	INNER JOIN TB_R_PR_H prh ON prh.PR_NO = pri.PR_NO AND prh.DIVISION_ID = @DIVISION_ID AND exists (SELECT 1 FROM @list_PR l_pr WHERE l_pr.PR_NO = prh.PR_NO)
	LEFT JOIN TB_R_PO_ITEM poi ON poi.PR_NO = pri.PR_NO AND poi.PR_ITEM_NO = pri.PR_ITEM_NO 
	LEFT JOIN TB_R_PO_H poh ON poh.PO_NO = poi.PO_NO 
	LEFT JOIN TB_R_GR_IR gr ON gr.PO_NO = poi.PO_NO AND gr.PO_ITEM = poi.PO_ITEM_NO AND gr.STATUS_CD = '62' AND gr.COMPONENT_PRICE_CD='PB00'
	WHERE 1 = 1 AND pri.WBS_NO <> 'X' AND pri.ITEM_CLASS = 'M' 
				 AND 1 = 
						CASE WHEN ISNULL(@PR_DESC,'') = '' 
						THEN 1
						ELSE 
							CASE WHEN pri.MAT_DESC LIKE ('%'+@PR_DESC+'%')
							THEN 1
							ELSE 0
							END
						END

	INSERT INTO @tempTable (NO, PR_NO, PR_ITEM_NO,PR_DATA_TYPE, MAT_DESC, PR_STATUS, PR_CREATED_DATE, PR_CREATED_BY, WBS_NO, WBS_NAME, PR_QTY_REMAIN,
			VENDOR_CD, VENDOR_NAME, 
			PO_NO, PO_STATUS, PO_CREATED_BY, PO_CREATED_DATE, PO_QTY_REMAIN,
			GR_NO, GR_STATUS, GR_CREATED_BY, GR_CREATED_DATE)
	SELECT ROW_NUMBER() OVER (ORDER BY pri.PR_NO ASC, pri.PR_ITEM_NO ASC) Number, pri.PR_NO, pri.PR_ITEM_NO, 'SUBITEM', pri.MAT_DESC, pri.PR_STATUS, pri.CREATED_DT, pri.CREATED_BY, (SELECT TOP 1 prs.WBS_NO FROM TB_R_PR_SUBITEM prs WHERE prs.PR_NO = pri.PR_NO AND prs.PR_ITEM_NO = pri.PR_ITEM_NO GROUP BY prs.WBS_NO), '', pri.OPEN_QTY, 
			(CASE WHEN ISNULL(poh.VENDOR_CD,'') ='' THEN pri.VENDOR_CD ELSE poh.VENDOR_CD END), (CASE WHEN ISNULL(poh.VENDOR_CD,'') ='' THEN pri.VENDOR_NAME ELSE poh.VENDOR_NAME END),
			poi.PO_NO, poh.PO_STATUS, poi.CREATED_BY, poi.CREATED_DT, poi.PO_QTY_REMAIN,
			gr.MAT_DOC_NO, gr.STATUS_CD, gr.CREATED_BY, gr.CREATED_DT
	FROM TB_R_PR_ITEM pri
	INNER JOIN TB_R_PR_H prh ON prh.PR_NO = pri.PR_NO AND prh.DIVISION_ID = @DIVISION_ID AND exists (SELECT 1 FROM @list_PR l_pr WHERE l_pr.PR_NO = prh.PR_NO)
	LEFT JOIN TB_R_PO_ITEM poi ON poi.PR_NO = pri.PR_NO AND poi.PR_ITEM_NO = pri.PR_ITEM_NO 
	LEFT JOIN TB_R_PO_H poh ON poh.PO_NO = poi.PO_NO 
	LEFT JOIN TB_R_GR_IR gr ON gr.PO_NO = poi.PO_NO AND gr.PO_ITEM = poi.PO_ITEM_NO AND gr.STATUS_CD = '62' AND gr.COMPONENT_PRICE_CD='PB00'
	WHERE 1 = 1 AND pri.WBS_NO = 'X' AND pri.ITEM_CLASS = 'S' 
				 AND 1 = 
						CASE WHEN ISNULL(@PR_DESC,'') = '' 
						THEN 1
						ELSE 
							CASE WHEN pri.MAT_DESC LIKE ('%'+@PR_DESC+'%')
							THEN 1
							ELSE 0
							END
						END

	UPDATE temp
		SET WBS_NAME = (select TOP 1 WBS_NAME from TB_R_WBS wbs WHERE wbs.WBS_NO = temp.WBS_NO) --AND wbs.WBS_YEAR = YEAR(temp.PR_CREATED_DATE))
	FROM @tempTable temp
	WHERE temp.PR_DATA_TYPE = 'SUBITEM'

	DELETE temp
	FROM @tempTable temp 
	WHERE 1  = CASE WHEN ISNULL(@PO_NO,'') <> '' THEN
					CASE WHEN (ISNULL(PO_NO,'') <> @PO_NO) THEN 1 ELSE 0 END
			   ELSE 0
			   END

	DELETE temp
	FROM @tempTable temp 
	WHERE 1  = CASE WHEN ISNULL(@VENDOR,'') <> '' THEN
					CASE WHEN (ISNULL(VENDOR_CD,'') <> @VENDOR) AND VENDOR_NAME NOT LIKE ('%'+@VENDOR+'%') THEN 1 
					ELSE 
						CASE WHEN ISNULL(VENDOR_CD,'') = '' THEN 1
						ELSE 0 END 
					END
			   ELSE 0
			   END

	DELETE temp
	FROM @tempTable temp 
	WHERE 1  = CASE WHEN ISNULL(@GR_NO,'') <> '' THEN
					CASE WHEN (ISNULL(GR_NO,'') <> @GR_NO) THEN 1 ELSE 0 END
			   ELSE 0
			   END

	UPDATE temp
		SET PR_STATUS_DESC = ms.STATUS_DESC
	FROM @tempTable temp
	INNER JOIN TB_M_STATUS ms ON ms.STATUS_CD = temp.PR_STATUS

	UPDATE temp
		SET i_SH_DATE = APPROVED_DT,
			i_SH_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '11' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET i_SH_PLANNING_DATE = CASE WHEN PR_CREATED_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(i_SH_INTERVAL,PR_CREATED_DATE) END
	FROM @tempTable temp 
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '11' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET i_DPH_DATE = APPROVED_DT,
		i_DPH_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '12' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET  i_DPH_PLANNING_DATE = CASE WHEN i_SH_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(i_DPH_INTERVAL,i_SH_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '12' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET i_DH_DATE = APPROVED_DT,
		i_DH_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '13' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET i_DH_PLANNING_DATE = CASE WHEN i_DPH_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(i_DH_INTERVAL,i_DPH_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '13' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET STAFF_DATE = APPROVED_DT,
		STAFF_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '20' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET STAFF_PLANNING_DATE = CASE WHEN i_DH_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(STAFF_INTERVAL,i_DH_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '20' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET c_SH_DATE = APPROVED_DT,
		c_SH_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '21' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET c_SH_PLANNING_DATE = CASE WHEN STAFF_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(c_SH_INTERVAL, STAFF_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '21' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET c_DPH_DATE = APPROVED_DT,
		c_DPH_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '22' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET c_DPH_PLANNING_DATE = CASE WHEN c_SH_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(c_DPH_INTERVAL, c_SH_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '22' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET FINANCE_DATE = APPROVED_DT,
		FINANCE_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '30' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET FINANCE_PLANNING_DATE = CASE WHEN c_DPH_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(FINANCE_INTERVAL, c_DPH_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PR_NO AND wf.ITEM_NO = temp.PR_ITEM_NO AND wf.APPROVAL_CD = '30' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET PO_SH_DATE = APPROVED_DT,
		PO_SH_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PO_NO AND wf.ITEM_NO = '00000' AND wf.APPROVAL_CD = '41' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET PO_SH_PLANNING_DATE = CASE WHEN PO_CREATED_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(PO_SH_INTERVAL, PO_CREATED_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PO_NO AND wf.ITEM_NO = '00000' AND wf.APPROVAL_CD = '41' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET PO_DPH_DATE = APPROVED_DT,
		PO_DPH_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PO_NO AND wf.ITEM_NO = '00000' AND wf.APPROVAL_CD = '42' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET PO_DPH_PLANNING_DATE = CASE WHEN PO_SH_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(PO_DPH_INTERVAL, PO_SH_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PO_NO AND wf.ITEM_NO = '00000' AND wf.APPROVAL_CD = '42' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET PO_DH_DATE = APPROVED_DT,
		PO_DH_INTERVAL = APPROVAL_INTERVAL
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PO_NO AND wf.ITEM_NO = '00000' AND wf.APPROVAL_CD = '43' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET PO_DH_PLANNING_DATE =  CASE WHEN PO_DPH_DATE IS NULL THEN wf.INTERVAL_DATE ELSE dbo.fn_dateadd_workday_calendar(PO_DH_INTERVAL, PO_DPH_DATE) END
	FROM @tempTable temp
	INNER JOIN TB_R_WORKFLOW wf ON wf.DOCUMENT_NO = temp.PO_NO AND wf.ITEM_NO = '00000' AND wf.APPROVAL_CD = '43' AND IS_DISPLAY = 'Y'

	UPDATE temp
		SET i_SH_DELAY = CASE WHEN PR_CREATED_DATE IS NOT NULL AND i_SH_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, i_SH_PLANNING_DATE, (CASE WHEN i_SH_DATE IS NULL THEN GETDATE() ELSE i_SH_DATE END)) - (datediff(wk, i_SH_PLANNING_DATE, (CASE WHEN i_SH_DATE IS NULL THEN GETDATE() ELSE i_SH_DATE END)) * 2) -
							  case when datepart(dw, i_SH_PLANNING_DATE) = 1 then 1 else 0 end +
							  case when datepart(dw, (CASE WHEN i_SH_DATE IS NULL THEN GETDATE() ELSE i_SH_DATE END)) = 1 then 1 else 0 end
						  ELSE 0 END,
			i_DPH_DELAY = CASE WHEN i_SH_DATE IS NOT NULL AND i_DPH_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, i_DPH_PLANNING_DATE, (CASE WHEN i_DPH_DATE IS NULL THEN GETDATE() ELSE i_DPH_DATE END)) - (datediff(wk, i_DPH_PLANNING_DATE, (CASE WHEN i_DPH_DATE IS NULL THEN GETDATE() ELSE i_DPH_DATE END)) * 2) -
								case when datepart(dw, i_DPH_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN i_DPH_DATE IS NULL THEN GETDATE() ELSE i_DPH_DATE END)) = 1 then 1 else 0 end
						  ELSE 0 END,
			i_DH_DELAY = CASE WHEN i_DPH_DATE IS NOT NULL AND i_DH_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, i_DH_PLANNING_DATE, (CASE WHEN i_DH_DATE IS NULL THEN GETDATE() ELSE i_DH_DATE END)) - (datediff(wk, i_DH_PLANNING_DATE, (CASE WHEN i_DH_DATE IS NULL THEN GETDATE() ELSE i_DH_DATE END)) * 2) -
								case when datepart(dw, i_DH_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN i_DH_DATE IS NULL THEN GETDATE() ELSE i_DH_DATE END)) = 1 then 1 else 0 end
						 ELSE 0 END,
			STAFF_DELAY = CASE WHEN i_DH_DATE IS NOT NULL AND STAFF_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, STAFF_PLANNING_DATE, (CASE WHEN STAFF_DATE IS NULL THEN GETDATE() ELSE STAFF_DATE END)) - (datediff(wk, STAFF_PLANNING_DATE, (CASE WHEN STAFF_DATE IS NULL THEN GETDATE() ELSE STAFF_DATE END)) * 2) -
								case when datepart(dw, STAFF_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN STAFF_DATE IS NULL THEN GETDATE() ELSE STAFF_DATE END)) = 1 then 1 else 0 end
						  ELSE 0 END,
			c_SH_DELAY = CASE WHEN STAFF_DATE IS NOT NULL AND c_SH_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, c_SH_PLANNING_DATE, (CASE WHEN c_SH_DATE IS NULL THEN GETDATE() ELSE c_SH_DATE END)) - (datediff(wk, c_SH_PLANNING_DATE, (CASE WHEN c_SH_DATE IS NULL THEN GETDATE() ELSE c_SH_DATE END)) * 2) -
								case when datepart(dw, c_SH_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN c_SH_DATE IS NULL THEN GETDATE() ELSE c_SH_DATE END)) = 1 then 1 else 0 end
						 ELSE 0 END,
			c_DPH_DELAY = CASE WHEN c_SH_DATE IS NOT NULL AND c_DPH_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, c_DPH_PLANNING_DATE, (CASE WHEN c_DPH_DATE IS NULL THEN GETDATE() ELSE c_DPH_DATE END)) - (datediff(wk, c_DPH_PLANNING_DATE, (CASE WHEN c_DPH_DATE IS NULL THEN GETDATE() ELSE c_DPH_DATE END)) * 2) -
								case when datepart(dw, c_DPH_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN c_DPH_DATE IS NULL THEN GETDATE() ELSE c_DPH_DATE END)) = 1 then 1 else 0 end
						  ELSE 0 END,
			FINANCE_DELAY =	CASE WHEN c_DPH_DATE IS NOT NULL AND FINANCE_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, FINANCE_PLANNING_DATE, (CASE WHEN FINANCE_DATE IS NULL THEN GETDATE() ELSE FINANCE_DATE END)) - (datediff(wk, FINANCE_PLANNING_DATE, (CASE WHEN FINANCE_DATE IS NULL THEN GETDATE() ELSE FINANCE_DATE END)) * 2) -
								case when datepart(dw, FINANCE_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN FINANCE_DATE IS NULL THEN GETDATE() ELSE FINANCE_DATE END)) = 1 then 1 else 0 end
							ELSE 0 END,
			PO_SH_DELAY = CASE WHEN PO_CREATED_DATE IS NOT NULL AND PO_SH_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, PO_SH_PLANNING_DATE, (CASE WHEN PO_SH_DATE IS NULL THEN GETDATE() ELSE PO_SH_DATE END)) - (datediff(wk, PO_SH_PLANNING_DATE, (CASE WHEN PO_SH_DATE IS NULL THEN GETDATE() ELSE PO_SH_DATE END)) * 2) -
								case when datepart(dw, PO_SH_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN PO_SH_DATE IS NULL THEN GETDATE() ELSE PO_SH_DATE END)) = 1 then 1 else 0 end
						   ELSE 0 END,
			PO_DPH_DELAY = CASE WHEN PO_SH_DATE IS NOT NULL AND PO_DPH_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, PO_DPH_PLANNING_DATE, (CASE WHEN PO_DPH_DATE IS NULL THEN GETDATE() ELSE PO_DPH_DATE END)) - (datediff(wk, PO_DPH_PLANNING_DATE, (CASE WHEN PO_DPH_DATE IS NULL THEN GETDATE() ELSE PO_DPH_DATE END)) * 2) -
								case when datepart(dw, PO_DPH_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN PO_DPH_DATE IS NULL THEN GETDATE() ELSE PO_DPH_DATE END)) = 1 then 1 else 0 end
						   ELSE 0 END,
			PO_DH_DELAY =	CASE WHEN PO_DPH_DATE IS NOT NULL AND PO_DH_PLANNING_DATE IS NOT NULL THEN
							datediff(dd, PO_DH_PLANNING_DATE, (CASE WHEN PO_DH_DATE IS NULL THEN GETDATE() ELSE PO_DH_DATE END)) - (datediff(wk, PO_DH_PLANNING_DATE, (CASE WHEN PO_DH_DATE IS NULL THEN GETDATE() ELSE PO_DH_DATE END)) * 2) -
								case when datepart(dw, PO_DH_PLANNING_DATE) = 1 then 1 else 0 end +
								case when datepart(dw, (CASE WHEN PO_DH_DATE IS NULL THEN GETDATE() ELSE PO_DH_DATE END)) = 1 then 1 else 0 end
							ELSE 0 END
	FROM @tempTable temp

	UPDATE temp
		SET i_SH_PLANNING = CASE WHEN i_SH_DATE IS NULL THEN (CASE WHEN  ISNULL(i_SH_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN i_SH_DATE <=  i_SH_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			i_DPH_PLANNING = CASE WHEN i_DPH_DATE IS NULL THEN (CASE WHEN  ISNULL(i_DPH_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN i_DPH_DATE <=  i_DPH_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			i_DH_PLANNING = CASE WHEN i_DH_DATE IS NULL THEN (CASE WHEN  ISNULL(i_DH_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN i_DH_DATE <=  i_DH_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			STAFF_PLANNING = CASE WHEN STAFF_DATE IS NULL THEN (CASE WHEN  ISNULL(STAFF_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN STAFF_DATE <=  STAFF_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			c_SH_PLANNING = CASE WHEN c_SH_DATE IS NULL THEN (CASE WHEN  ISNULL(c_SH_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN c_SH_DATE <=  c_SH_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			c_DPH_PLANNING = CASE WHEN c_DPH_DATE IS NULL THEN (CASE WHEN  ISNULL(c_DPH_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN c_DPH_DATE <=  c_DPH_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			FINANCE_PLANNING = CASE WHEN FINANCE_DATE IS NULL THEN (CASE WHEN  ISNULL(FINANCE_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN FINANCE_DATE <=  FINANCE_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			PO_SH_PLANNING = CASE WHEN PO_SH_DATE IS NULL THEN (CASE WHEN  ISNULL(PO_SH_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN PO_SH_DATE <=  PO_SH_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			PO_DPH_PLANNING = CASE WHEN PO_DPH_DATE IS NULL THEN (CASE WHEN  ISNULL(PO_DPH_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN PO_DPH_DATE <=  PO_DPH_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END,
			PO_DH_PLANNING = CASE WHEN PO_DH_DATE IS NULL THEN (CASE WHEN  ISNULL(PO_DH_DELAY,0)<=0 THEN '' ELSE 'RED' END) WHEN PO_DH_DATE <=  PO_DH_PLANNING_DATE THEN 'GREEN' ELSE 'RED' END
	FROM @tempTable temp

	UPDATE temp
		SET PO_STATUS_DESC = ms.STATUS_DESC
	FROM @tempTable temp
	INNER JOIN TB_M_STATUS ms ON ms.STATUS_CD = temp.PO_STATUS

	UPDATE temp
		SET GR_STATUS_DESC = ms.STATUS_DESC
	FROM @tempTable temp
	INNER JOIN TB_M_STATUS ms ON ms.STATUS_CD = temp.GR_STATUS

	UPDATE temp
		SET ORDER_BY = CASE WHEN (temp.PO_NO IS NULL) THEN  
							CASE WHEN (temp.FINANCE_DATE IS NULL) THEN  6 
							ELSE
								5
							END
					   ELSE
							CASE WHEN (temp.PR_QTY_REMAIN > 0) THEN  4
							ELSE
								CASE WHEN (temp.GR_NO IS NULL) THEN  3 
								ELSE
									CASE WHEN (temp.PO_QTY_REMAIN > 0) THEN  2 
									ELSE
										0
									END
								END
							END
					   END,
		TOTAL_DELAY =  (CASE WHEN ISNULL(i_SH_DELAY,0)<0 THEN 0 ELSE ISNULL(i_SH_DELAY,0) END)+ 
							(CASE WHEN ISNULL(i_DPH_DELAY,0)<0 THEN 0 ELSE ISNULL(i_DPH_DELAY,0) END)+ 
							(CASE WHEN ISNULL(i_DH_DELAY,0)<0 THEN 0 ELSE ISNULL(i_DH_DELAY,0) END)+
							(CASE WHEN ISNULL(STAFF_DELAY,0)<0 THEN 0 ELSE ISNULL(STAFF_DELAY,0) END)+
							(CASE WHEN ISNULL(c_SH_DELAY,0)<0 THEN 0 ELSE ISNULL(c_SH_DELAY,0) END)+
							(CASE WHEN ISNULL(c_DPH_DELAY,0)<0 THEN 0 ELSE ISNULL(c_DPH_DELAY,0) END)+
							(CASE WHEN ISNULL(FINANCE_DELAY,0)<0 THEN 0 ELSE ISNULL(FINANCE_DELAY,0) END)+
							(CASE WHEN ISNULL(PO_SH_DELAY,0)<0 THEN 0 ELSE ISNULL(PO_SH_DELAY,0) END)+
							(CASE WHEN ISNULL(PO_DPH_DELAY,0)<0 THEN 0 ELSE ISNULL(PO_DPH_DELAY,0) END)+
							(CASE WHEN ISNULL(PO_DH_DELAY,0)<0 THEN 0 ELSE ISNULL(PO_DH_DELAY,0) END)
	FROM @tempTable temp

	-- SET ORDER BY FOR PR DRAFF/ PR REJECTED / PR CANCELED
	UPDATE temp
		SET ORDER_BY = 1
	FROM @tempTable temp WHERE PR_STATUS IN ('00', '99', '98')

	UPDATE temp
		SET ORDER_BY = 1
	FROM @tempTable temp WHERE PO_STATUS IN ('47', '45', '48','49')

	SELECT ISNULL(MAX([NO]),0) FROM
		(
		SELECT ROW_NUMBER() OVER (ORDER BY ORDER_BY DESC, PR_STATUS ASC, PO_STATUS ASC, PR_CREATED_DATE) [NO],
			PR_NO,
			PR_ITEM_NO,
			CASE WHEN PR_NO+'-'+PR_ITEM_NO+'-' = LAG(PR_NO+'-'+PR_ITEM_NO+'-') OVER (ORDER BY PR_NO, PR_ITEM_NO) THEN 0 ELSE 0 END SIMILAR_PR_ROW,
			MAT_DESC,
			PR_STATUS,
			PR_STATUS_DESC,
			WBS_NO,
			WBS_NAME,
			PR_QTY_REMAIN,
			PR_CREATED_BY,
			PR_CREATED_DATE,
			i_SH_DATE,
			i_SH_PLANNING_DATE,
			i_SH_PLANNING,
			i_SH_DELAY,
			i_DPH_DATE,
			i_DPH_PLANNING_DATE,
			i_DPH_PLANNING,
			i_DPH_DELAY,
			i_DH_DATE,
			i_DH_PLANNING_DATE,
			i_DH_PLANNING,
			i_DH_DELAY,
			STAFF_DATE,
			STAFF_PLANNING_DATE,
			STAFF_PLANNING,
			STAFF_DELAY,
			c_SH_DATE,
			c_SH_PLANNING_DATE,
			c_SH_PLANNING,
			c_SH_DELAY,
			c_DPH_DATE,
			c_DPH_PLANNING_DATE,
			c_DPH_PLANNING,
			c_DPH_DELAY,
			FINANCE_DATE,
			FINANCE_PLANNING_DATE,
			FINANCE_PLANNING,
			FINANCE_DELAY,
			VENDOR_CD,
			VENDOR_NAME,
			PO_NO,
			PO_STATUS,
			PO_STATUS_DESC,
			PO_QTY_REMAIN,
			PO_CREATED_BY,
			PO_CREATED_DATE,
			PO_SH_DATE,
			PO_SH_PLANNING_DATE,
			PO_SH_PLANNING,
			PO_SH_DELAY,
			PO_DPH_DATE,
			PO_DPH_PLANNING_DATE,
			PO_DPH_PLANNING,
			PO_DPH_DELAY,
			PO_DH_DATE,
			PO_DH_PLANNING_DATE,
			PO_DH_PLANNING,
			PO_DH_DELAY,
			TOTAL_DELAY,
			GR_NO,
			GR_STATUS,
			GR_STATUS_DESC,
			GR_CREATED_BY,
			GR_CREATED_DATE,
			ORDER_BY
		FROm @tempTable
		) T 
END
