USE [PAS_DB_QA]
GO
/****** Object:  StoredProcedure [dbo].[sp_prcreation_budgetProcessing]    Script Date: 7/4/2017 4:14:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		FID.Intan Puspitasari
-- Create date: 2/22/2016
-- Description:	Budget calculation to BMS
-- =============================================
ALTER PROCEDURE [dbo].[sp_prcreation_budgetProcessing] 
	@PROCESS_ID BIGINT,
	@DIVISION INT,
	@PR_NO VARCHAR(20),
	@PR_DESC VARCHAR(MAX),
	@USER_ID VARCHAR(20),
	@PROCESS_TYPE VARCHAR(20), --COMMIT/ROLLBACK
	@ROW_ROLLBACK INT --TOTAL ROW THAT ALREADY INSERT TO BMS BUT NEED TO ROLLBACK
					  --FILL IT WITH 0 TO ROLLBACK ALL ITEM IN RELATED PR
AS
BEGIN
DECLARE @OLD_PR_NO VARCHAR(20),
		@PARAM_PR_NO VARCHAR(20),
		@PARAM_PR_SEQ_NO VARCHAR(3),
		@TEMP_LOG LOG_TEMP,
		@WBS_NO VARCHAR(30),
		@ORI_AMOUNT DECIMAL(18, 4),
		@NEW_AMOUNT DECIMAL(18, 4),
		@PROCEED_AMOUNT DECIMAL(18, 4),
		@TYPE VARCHAR(100),
		@CURR_CD VARCHAR(6),
		@SUCCESS INT = 0,
		@PROCESS_STATUS VARCHAR(20) = 'SUCCESS',
		@IS_DRAFT CHAR(1),
		@IS_CANCELLED CHAR(1),
		@MSG VARCHAR(1000),
		@MSG_ID VARCHAR(12),
		@MODULE VARCHAR(10) = '2',
		@FUNCTION VARCHAR(20) = '201002',
		@LOCATION VARCHAR(50) = CASE WHEN (@PROCESS_TYPE = 'ROLLBACK') THEN @PROCESS_TYPE + ' 'ELSE '' END + 'Budget Calculation',
		@FLAG VARCHAR (1) = 'N'

	SET NOCOUNT ON;
	
	SELECT @IS_DRAFT = CASE WHEN (COUNT(1) > 0) THEN 'Y' ELSE 'N' END FROM TB_R_PR_H WHERE PR_NO = @PR_NO AND PR_STATUS = '94'
	SELECT @IS_CANCELLED = CASE WHEN (COUNT(1) > 0) THEN 'Y' ELSE 'N' END FROM TB_R_PR_H WHERE PR_NO = @PR_NO AND PR_STATUS = '95'

	IF(@IS_DRAFT = 'N')
	BEGIN
		SELECT @IS_DRAFT = CASE WHEN (COUNT(1) = 0) THEN 'Y' ELSE 'N' END from [BMS_DEV].[NEW_BMS_DB].[dbo].[TB_R_BUDGET_CONTROL_D] WHERE REFERENCE_DOC_NO = @PR_NO + '_001'
	END

	IF(@IS_DRAFT = 'Y' OR @IS_CANCELLED = 'Y')
	BEGIN
		UPDATE TB_T_PR_ITEM SET ORI_AMOUNT = 0, ORI_LOCAL_AMOUNT = 0 WHERE PROCESS_ID = @PROCESS_ID
		UPDATE TB_T_PR_SUBITEM SET ORI_AMOUNT = 0, ORI_LOCAL_AMOUNT = 0 WHERE PROCESS_ID = @PROCESS_ID
	END

	SET @MSG = CASE WHEN (@PROCESS_TYPE = 'ROLLBACK') THEN @PROCESS_TYPE + ' 'ELSE '' END + 'Budget Calculation Function For Process ID ' + CONVERT(VARCHAR,@PROCESS_ID) + ' Started'
	SET @MSG_ID = 'MSG0000100'
	INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
	EXEC dbo.sp_PutLog @MSG, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

	declare @wbs_list as table
	(
		WBS_NO VARCHAR(30),
		PR_NO VARCHAR(20),
		ORI_CURR_CD VARCHAR(6),
		OLD_AMOUNT DECIMAL(18, 4),
		NEW_AMOUNT DECIMAL(18, 4),
		PROCESED_TYPE VARCHAR(100)
	)

	declare @@BUDGET VARCHAR(5)= (SELECT TOP 1 A.BUDGET_REF FROM TB_R_PR_ITEM A 
					INNER JOIN TB_T_PR_ITEM B ON A.PR_ITEM_NO = B.ITEM_NO 
					INNER JOIN TB_R_PR_H C ON
						A.PR_NO = C.PR_NO AND 
						C.PROCESS_ID = B.PROCESS_ID AND
						B.PROCESS_ID = @PROCESS_ID ORDER BY A.BUDGET_REF DESC)

	insert into @wbs_list (WBS_NO, PR_NO, ORI_CURR_CD, OLD_AMOUNT, NEW_AMOUNT)
	SELECT 
		 A.WBS_NO, A.PR_NO, A.ORI_CURR_CD, SUM(A.TOTAL_ORI_AMOUNT), SUM(A.TOTAL_NEW_AMOUNT)
	FROM
	(SELECT 
			ISNULL(@PR_NO, '') + '_' + [dbo].[GetFixedBudgetReff](@PROCESS_ID, @PR_NO, T_PRI.ITEM_NO, T_PRI.ORI_CURR_CD, BUDGET_REF) AS PR_NO,
			WBS_NO,
			ORI_CURR_CD,
			CASE WHEN WBS_NO <> OLD_WBS_NO THEN 0 ELSE 
				CASE WHEN ISNULL((SELECT TOP 1 PRI.ORI_CURR_CD FROM TB_R_PR_ITEM PRI WHERE PRI.PR_NO = @PR_NO AND PRI.PR_ITEM_NO = T_PRI.ITEM_NO),ORI_CURR_CD) <> ORI_CURR_CD 
				THEN 0
				ELSE ORI_AMOUNT END 
			END AS TOTAL_ORI_AMOUNT, 
			NEW_AMOUNT AS TOTAL_NEW_AMOUNT
	FROM TB_T_PR_ITEM T_PRI
	WHERE PROCESS_ID = @PROCESS_ID AND ITEM_CLASS = 'M' AND ((ISNULL(WBS_NO, '') <> '' AND coalesce(ltrim(rtrim(WBS_NO)) ,'') <> '')
			AND (ISNULL(WBS_NO, 'X') <> 'X'))
	UNION ALL
	SELECT 
			ISNULL(@PR_NO, '') + '_' +  [dbo].[GetFixedBudgetReff](@PROCESS_ID, @PR_NO, B.ITEM_NO, B.ORI_CURR_CD, B.BUDGET_REF) AS PR_NO,
			A.WBS_NO,
			B.ORI_CURR_CD,
			CASE WHEN  A.WBS_NO <> A.OLD_WBS_NO THEN 0 ELSE 
				CASE WHEN ISNULL((SELECT TOP 1 PRI.ORI_CURR_CD FROM TB_R_PR_ITEM PRI WHERE PRI.PR_NO = @PR_NO AND PRI.PR_ITEM_NO = A.ITEM_NO),ORI_CURR_CD) <> ORI_CURR_CD 
				THEN 0
				ELSE A.ORI_AMOUNT END 
			END AS TOTAL_ORI_AMOUNT, 
			A.NEW_AMOUNT AS TOTAL_NEW_AMOUNT
	FROM TB_T_PR_SUBITEM A
	INNER JOIN TB_T_PR_ITEM B
	ON A.ITEM_NO = B.ITEM_NO AND B.ITEM_CLASS = 'S' AND A.PROCESS_ID = B.PROCESS_ID 
	WHERE A.PROCESS_ID = @PROCESS_ID 
			AND ((ISNULL(A.WBS_NO, '') <> '' AND coalesce(ltrim(rtrim(A.WBS_NO)) ,'') <> '')
			AND (ISNULL(A.WBS_NO, 'X') <> 'X'))
	UNION ALL
	SELECT 
			ISNULL(@PR_NO, '') + '_' + A.BUDGET_REF AS PR_NO,
			OLD_WBS_NO,
			A.ORI_CURR_CD,
			CASE WHEN ISNULL(A.ORI_CURR_CD,T_PRI.ORI_CURR_CD) <> T_PRI.ORI_CURR_CD 
							THEN A.ORI_AMOUNT
							ELSE T_PRI.ORI_AMOUNT END AS TOTAL_ORI_AMOUNT, 
			0 AS TOTAL_NEW_AMOUNT
	FROM  TB_R_PR_ITEM A 
	INNER JOIN TB_T_PR_ITEM T_PRI ON A.PR_ITEM_NO = T_PRI.ITEM_NO 
	INNER JOIN TB_R_PR_H C ON A.PR_NO = C.PR_NO AND C.PROCESS_ID = T_PRI.PROCESS_ID  
	WHERE T_PRI.PROCESS_ID = @PROCESS_ID AND T_PRI.ITEM_CLASS = 'M' AND ((ISNULL(T_PRI.WBS_NO, '') <> '' AND coalesce(ltrim(rtrim(T_PRI.WBS_NO)) ,'') <> '')
			AND (ISNULL(T_PRI.WBS_NO, 'X') <> 'X')) AND (ISNULL(OLD_WBS_NO, '') <> '' AND coalesce(ltrim(rtrim(OLD_WBS_NO)) ,'') <> '')  AND (T_PRI.ORI_CURR_CD <> A.ORI_CURR_CD OR T_PRI.OLD_WBS_NO <> T_PRI.WBS_NO)
	UNION ALL
	SELECT 
			ISNULL(@PR_NO, '') + '_' + A.BUDGET_REF AS PR_NO,
			T_PRSI.OLD_WBS_NO,
			A.ORI_CURR_CD,
			T_PRSI.ORI_AMOUNT AS TOTAL_ORI_AMOUNT, 
			0 AS TOTAL_NEW_AMOUNT
	FROM TB_R_PR_ITEM A 
	INNER JOIN TB_T_PR_SUBITEM T_PRSI ON A.PR_ITEM_NO = T_PRSI.ITEM_NO 
	INNER JOIN TB_T_PR_ITEM T_PRI ON T_PRSI.ITEM_NO = T_PRI.ITEM_NO AND T_PRI.ITEM_CLASS = A.ITEM_CLASS AND T_PRSI.PROCESS_ID = T_PRI.PROCESS_ID 
	INNER JOIN TB_R_PR_H PRH ON A.PR_NO = PRH.PR_NO AND PRH.PROCESS_ID = T_PRSI.PROCESS_ID  
	WHERE T_PRSI.PROCESS_ID = @PROCESS_ID AND A.ITEM_CLASS = 'S' AND ((ISNULL(T_PRSI.WBS_NO, '') <> '' AND coalesce(ltrim(rtrim(T_PRSI.WBS_NO)) ,'') <> '')
			AND (ISNULL(T_PRSI.WBS_NO, 'X') <> 'X')) AND (ISNULL(T_PRSI.OLD_WBS_NO, '') <> '' AND coalesce(ltrim(rtrim(T_PRSI.OLD_WBS_NO)) ,'') <> '')  AND (T_PRI.ORI_CURR_CD <> A.ORI_CURR_CD OR T_PRI.OLD_WBS_NO <> T_PRI.WBS_NO)
	) A 
	GROUP BY A.PR_NO, A.WBS_NO, A.ORI_CURR_CD 

	UPDATE @wbs_list SET PROCESED_TYPE = CASE WHEN ((NEW_AMOUNT = 0) AND (OLD_AMOUNT > 0)) THEN 'CANCEL_COMMIT'
						WHEN ((NEW_AMOUNT > 0) AND (OLD_AMOUNT > 0) AND (OLD_AMOUNT <> NEW_AMOUNT)) THEN 'REV_COMMIT'
						WHEN ((NEW_AMOUNT > 0) AND (OLD_AMOUNT = 0)) THEN 'NEW_COMMIT'
						WHEN (NEW_AMOUNT = OLD_AMOUNT) THEN 'REV_COMMIT'
					END 

	DECLARE db_cursor_budget CURSOR FOR
		SELECT A.PR_NO, A.WBS_NO, A.ORI_CURR_CD, A.OLD_AMOUNT, A.NEW_AMOUNT, A.PROCESED_TYPE FROM @wbs_list A ORDER BY NEW_AMOUNT ASC
		
	OPEN db_cursor_budget
	FETCH NEXT FROM db_cursor_budget
			INTO 
				@PARAM_PR_NO,
				@WBS_NO,
				@CURR_CD,
				@ORI_AMOUNT, 
				@NEW_AMOUNT,
				@TYPE
	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		BEGIN TRY	

			IF(@PROCESS_TYPE = 'ROLLBACK' AND @TYPE <> 'UNPROCESS')
			BEGIN
				SELECT @TYPE = 
					CASE WHEN @TYPE = 'NEW_COMMIT' THEN 'CANCEL_COMMIT'
							WHEN @TYPE = 'CANCEL_COMMIT' THEN 'NEW_COMMIT'
							ELSE 'REV_COMMIT'
					END
			END

			IF(@TYPE = 'NEW_COMMIT')
			BEGIN
				SET @OLD_PR_NO = NULL
				SELECT @PROCEED_AMOUNT = 
					CASE WHEN @PROCESS_TYPE = 'ROLLBACK' THEN @ORI_AMOUNT
							ELSE @NEW_AMOUNT
					END
				set @FLAG = 'N'
			END
			IF(@TYPE = 'REV_COMMIT')
			BEGIN
				SET @OLD_PR_NO = @PARAM_PR_NO
				SELECT @PROCEED_AMOUNT =
					CASE WHEN @PROCESS_TYPE = 'ROLLBACK' THEN @ORI_AMOUNT
							ELSE @NEW_AMOUNT
					END
			END
			IF(@TYPE = 'CANCEL_COMMIT')
			BEGIN
				SET @OLD_PR_NO = @PARAM_PR_NO
				SELECT @PROCEED_AMOUNT = 
					CASE WHEN @PROCESS_TYPE = 'ROLLBACK' THEN @NEW_AMOUNT
							ELSE @ORI_AMOUNT
					END
			END
			
		    IF(@TYPE <> 'UNPROCESS')
			BEGIN
				SELECT @MSG =  CASE WHEN (@PROCESS_TYPE = 'ROLLBACK') THEN @PROCESS_TYPE + ' 'ELSE '' END + 'Budget Calculation ' + @TYPE + ' Function For WBS No ' + @WBS_NO + ' and Doc. No ' + @PR_NO + ' Started'

				SET @MSG_ID = 'MSG0000100'
				INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'INF', @MSG, @MODULE, @LOCATION, @FUNCTION, 1, @USER_ID
				EXEC dbo.sp_PutLog @MSG, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'INF', @MODULE, @FUNCTION, 1;

				SET @MSG = ''
				PRINT 'sp_BudgetControl Try 1'
				EXEC @PROCESS_STATUS = [BMS_DEV].[NEW_BMS_DB].dbo.[sp_BudgetControl]
									@MSG OUTPUT,
									@USER_ID,
									@TYPE,
									@WBS_NO,
									@OLD_PR_NO,
									@PARAM_PR_NO,
									@CURR_CD,
									@PROCEED_AMOUNT,
									NULL,
									'',
									@PR_DESC,
									'GPS'
				
				IF(@PROCESS_STATUS <> '0')
				BEGIN
					WAITFOR DELAY '00:00:01'
					PRINT 'sp_BudgetControl Try 2'
					EXEC @PROCESS_STATUS = [BMS_DEV].[NEW_BMS_DB].dbo.[sp_BudgetControl]
									@MSG OUTPUT,
									@USER_ID,
									@TYPE,
									@WBS_NO,
									@OLD_PR_NO,
									@PARAM_PR_NO,
									@CURR_CD,
									@PROCEED_AMOUNT,
									NULL,
									'',
									@PR_DESC,
									'GPS'
					IF(@PROCESS_STATUS <> '0')
					BEGIN
						WAITFOR DELAY '00:00:01'
						PRINT 'sp_BudgetControl Try 3'
						EXEC @PROCESS_STATUS = [BMS_DEV].[NEW_BMS_DB].dbo.[sp_BudgetControl]
										@MSG OUTPUT,
										@USER_ID,
										@TYPE,
										@WBS_NO,
										@OLD_PR_NO,
										@PARAM_PR_NO,
										@CURR_CD,
										@PROCEED_AMOUNT,
										NULL,
										'',
										@PR_DESC,
										'GPS'
					END
				END

				IF(@PROCESS_STATUS = '0')
				BEGIN
					SET @PROCESS_STATUS = 'SUCCESS'
					SET @MSG =  CASE WHEN (@PROCESS_TYPE = 'ROLLBACK') THEN @PROCESS_TYPE + ' 'ELSE '' END + 'Budget Calculation Function For WBS No ' + @WBS_NO + ' and Doc. No ' + @PR_NO + ' Success'

					SET @MSG_ID = 'MSG0000105'
					INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MSG, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
					EXEC dbo.sp_PutLog @MSG, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
					IF(@FLAG = 'Y')
					BEGIN
							--SET @TYPE = 'NEW_COMMIT'
							SET @OLD_PR_NO = @PARAM_PR_NO
							SET @PROCEED_AMOUNT =  @NEW_AMOUNT
					END
					SET @FLAG = 'Y'
				END
				ELSE
				BEGIN
					SET @PROCESS_STATUS = 'FAILED'
					RAISERROR(@MSG, 16, 1)
				END
			END
			SET @SUCCESS = @SUCCESS + 1

			IF(@PROCESS_TYPE = 'ROLLBACK' AND @ROW_ROLLBACK > 0)
			BEGIN
				IF(@SUCCESS >= @ROW_ROLLBACK)
					BREAK;
			END
		END TRY
		BEGIN CATCH
			SET @MSG = ERROR_MESSAGE();
			SET @MSG_ID = 'EXCEPTION'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MSG, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MSG, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			RAISERROR(@MSG, 16, 1)

			SET @MSG =  CASE WHEN (@PROCESS_TYPE = 'ROLLBACK') THEN @PROCESS_TYPE + ' 'ELSE '' END + 'Budget Calculation for WBS No ' + @WBS_NO + ' and Process ID ' + CONVERT(VARCHAR,@PROCESS_ID) + ' Failed'
			SET @MSG_ID = 'MSG0000103'
			INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'ERR', @MSG, @MODULE, @LOCATION, @FUNCTION, 3, @USER_ID
			EXEC dbo.sp_PutLog @MSG, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'ERR', @MODULE, @FUNCTION, 3;
			BREAK;
		END CATCH

		FETCH NEXT FROM db_cursor_budget 
				INTO 
					@PARAM_PR_NO,
					@WBS_NO,
					@CURR_CD,
					@ORI_AMOUNT, 
					@NEW_AMOUNT,
					@TYPE
	END
	CLOSE db_cursor_budget
	DEALLOCATE	db_cursor_budget

	IF(@PROCESS_STATUS = 'SUCCESS')
	BEGIN
		SET @MSG = CASE WHEN (@PROCESS_TYPE = 'ROLLBACK') THEN @PROCESS_TYPE + ' ' ELSE '' END + 'Budget Calculation Function For Process ID ' + CONVERT(VARCHAR,@PROCESS_ID) + ' Success'
		SET @MSG_ID = 'MSG0000105'
		INSERT INTO @TEMP_LOG SELECT @PROCESS_ID, GETDATE(), @MSG_ID, 'SUC', @MSG, @MODULE, @LOCATION, @FUNCTION, 2, @USER_ID
		EXEC dbo.sp_PutLog @MSG, @USER_ID, @LOCATION, @PROCESS_ID , @MSG_ID, 'SUC', @MODULE, @FUNCTION, 2;
	END
	ELSE
	BEGIN
		IF CURSOR_STATUS('global','db_cursor_budget') >= -1
		BEGIN
			DEALLOCATE db_cursor_budget
		END
		EXEC sp_PutLog_Temp @TEMP_LOG
	END

	SELECT @MSG AS [MESSAGE], @PROCESS_STATUS AS PROCESS_STATUS, @SUCCESS AS NUMBER_OF_SUCCESS
END 
