USE [NCP_QA]
GO
/****** Object:  StoredProcedure [dbo].[sp_worklist_bypassChecking]    Script Date: 12/18/2015 9:16:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		FID)Reggy Budiana
-- Create date: 03/08/2015
-- Description:	Save PR
-- =============================================
ALTER PROCEDURE [dbo].[sp_worklist_bypassChecking]
		@DOCUMENT_NO VARCHAR(15),
		@DOC_TYPE VARCHAR(5),
		@PROCESS_ID BIGINT,
		@REG_NO VARCHAR(20),
		@STRUCTURE_ID INT,
		@POSITION_LEVEL INT,
		@STATUS VARCHAR(MAX) OUTPUT
AS
BEGIN
DECLARE @COUNT INT,
		@MSG VARCHAR(MAX) = '',
		@MAX_SEQ_NO INT,
		@MIN_SEQ_NO INT,
		@ITEM_NO VARCHAR(5),
		@APPROVAL_CD VARCHAR(5),
		@NEXT_STATUS VARCHAR(5),
		@CURRENT_STATUS VARCHAR(5),
		@PARAM_STATUS VARCHAR(5)

SET NOCOUNT ON;
	
	DECLARE bypass_cursor CURSOR FOR 
		SELECT DISTINCT ITEM_NO 
		FROM TB_R_WORKFLOW 
			WHERE STRUCTURE_ID = @STRUCTURE_ID 
				  AND APPROVER_POSITION = @POSITION_LEVEL 
				  AND DOCUMENT_NO = @DOCUMENT_NO
	OPEN bypass_cursor
	FETCH NEXT FROM bypass_cursor INTO @ITEM_NO
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF(@DOC_TYPE = 'PR')
		BEGIN
			SET @PARAM_STATUS = '10'
			SELECT @CURRENT_STATUS = PR_STATUS FROM TB_R_PR_ITEM WHERE PR_NO = @DOCUMENT_NO AND PR_ITEM_NO = @ITEM_NO
		END
		ELSE-- IF (@DOC_TYPE = 'PO')
		BEGIN
			SET @PARAM_STATUS = '40'
			SELECT DISTINCT @CURRENT_STATUS = PO_STATUS FROM TB_R_PO_ITEM WHERE PO_NO = @DOCUMENT_NO --AND PO_ITEM_NO = @ITEM_NO
		END

		SELECT @COUNT = COUNT(*) FROM TB_R_WORKFLOW 
						WHERE STRUCTURE_ID = @STRUCTURE_ID AND 
							  APPROVER_POSITION = @POSITION_LEVEL AND 
							  DOCUMENT_SEQ = 1 AND 
							  APPROVAL_CD = @PARAM_STATUS AND
							  DOCUMENT_NO = @DOCUMENT_NO AND
							  ITEM_NO = @ITEM_NO

		SELECT TOP 1 @MAX_SEQ_NO = ISNULL(MAX(DOCUMENT_SEQ),0), @APPROVAL_CD = APPROVAL_CD FROM TB_R_WORKFLOW 
				WHERE STRUCTURE_ID = @STRUCTURE_ID AND 
					  APPROVER_POSITION = @POSITION_LEVEL AND 
					  DOCUMENT_NO = @DOCUMENT_NO AND 
					  ITEM_NO = @ITEM_NO AND 
					  DOCUMENT_SEQ > 1 AND 
					  (SUBSTRING(APPROVAL_CD, 1, 1) = '1' OR SUBSTRING(APPROVAL_CD, 1, 1) = '4') AND
					  IS_DISPLAY = 'Y'
				GROUP BY APPROVAL_CD, DOCUMENT_SEQ
				ORDER BY DOCUMENT_SEQ ASC

		SELECT TOP 1 @MIN_SEQ_NO = MIN(DOCUMENT_SEQ), @NEXT_STATUS = APPROVAL_CD FROM TB_R_WORKFLOW 
				WHERE DOCUMENT_NO = @DOCUMENT_NO AND 
					  ITEM_NO = @ITEM_NO AND 
					  DOCUMENT_SEQ > @MAX_SEQ_NO AND
					  IS_DISPLAY = 'Y'
				GROUP BY APPROVAL_CD, DOCUMENT_SEQ
				ORDER BY DOCUMENT_SEQ ASC

		IF((@MAX_SEQ_NO > 0) AND (@CURRENT_STATUS = @PARAM_STATUS) AND (@COUNT > 0))
		BEGIN
			BEGIN TRY
				UPDATE TB_R_WORKFLOW SET APPROVED_DT = GETDATE(), IS_APPROVED = 'Y' 
						WHERE DOCUMENT_NO = @DOCUMENT_NO AND 
							  ITEM_NO = @ITEM_NO AND 
							  DOCUMENT_SEQ <= @MAX_SEQ_NO AND 
							  (SUBSTRING(APPROVAL_CD, 1, 1) = '1' OR SUBSTRING(APPROVAL_CD, 1, 1) = '4') AND
							  IS_DISPLAY = 'Y'

				UPDATE TB_R_WORKFLOW SET APPROVED_BYPASS = @REG_NO
						WHERE DOCUMENT_NO = @DOCUMENT_NO AND 
							  ITEM_NO = @ITEM_NO AND 
							  DOCUMENT_SEQ < @MAX_SEQ_NO AND 
							  (SUBSTRING(APPROVAL_CD, 1, 1) = '1' OR SUBSTRING(APPROVAL_CD, 1, 1) = '4') AND
							  IS_DISPLAY = 'Y'
				IF(@DOC_TYPE = 'PR')
				BEGIN
					UPDATE TB_R_PR_ITEM SET PR_STATUS = @APPROVAL_CD, PR_NEXT_STATUS = ISNULL(@NEXT_STATUS, PR_NEXT_STATUS)
							WHERE PR_NO = @DOCUMENT_NO AND
							  PR_ITEM_NO = @ITEM_NO
				END
				ELSE-- IF(@DOC_TYPE = 'PO')
				BEGIN
					UPDATE TB_R_PO_ITEM SET PO_STATUS = @APPROVAL_CD, PO_NEXT_STATUS = ISNULL(@NEXT_STATUS, PO_NEXT_STATUS)
						WHERE PO_NO = @DOCUMENT_NO 
				END

			
				SET @STATUS = 'SUCCESS'
			END TRY
			BEGIN CATCH
				SET @STATUS = 'FAILED'
				SET @MSG = ERROR_MESSAGE()
				BREAK
			END CATCH
		END

		FETCH NEXT FROM bypass_cursor INTO @ITEM_NO	
	END
	CLOSE bypass_cursor
	DEALLOCATE bypass_cursor

IF(@STATUS = 'SUCCESS')
BEGIN
	BEGIN TRY
		IF(@DOC_TYPE = 'PR')
		BEGIN
			SELECT @COUNT = COUNT(*) FROM TB_R_PR_ITEM WHERE PR_NO = @DOCUMENT_NO AND CONVERT(INT, PR_STATUS) > 10 
			IF(@COUNT > 0)
			BEGIN
				UPDATE TB_R_PR_H SET PR_STATUS = '91' WHERE PR_NO = @DOCUMENT_NO
			END
		END
		ELSE-- IF (@DOC_TYPE = 'PO')
		BEGIN
			SELECT @COUNT = COUNT(*) FROM TB_R_PO_ITEM WHERE PO_NO = @DOCUMENT_NO AND CONVERT(INT, PO_STATUS) > 40
			IF(@COUNT > 0)
			BEGIN
				UPDATE TB_R_PO_H SET PO_STATUS = '91' WHERE PO_NO = @DOCUMENT_NO
			END 
		END
	END TRY
	BEGIN CATCH
		SET @STATUS = 'FAILED'
		SET @MSG = ERROR_MESSAGE()
	END CATCH
END

IF(@STATUS = 'FAILED')
	RAISERROR(@MSG, 16, 1)

END