@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form role="form" class="form-horizontal">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group form-group-sm">
                <label class="col-xs-6 col-sm-5 control-label required-left text-muted">New password</label>
                <div class="col-xs-6 col-sm-7">
                    <input id="txtNewPassword" type="text" class="form-control" required />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-6 col-sm-5 control-label required-left text-muted">Confirm password</label>
                <div class="col-xs-6 col-sm-7">
                    <input id="txtConfirmPassword" type="text" class="form-control" required />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-xs-12 text-right">
                    <button type="button" class="btn btn-warning">Change Password</button>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 visible-xs">
            <div style="width: 100%; border-bottom: 1px solid #ccc; margin-bottom: 10px;">&nbsp;</div>
        </div>
        
        <div class="col-xs-12 col-md-6">
            <ul>
                <li>
                    All passwords must contain a minimum of six (6) characters and must consist of a mixed combination of alphabets, characters and symbols.
                </li>
                <li>
                    Every password must be different from its user ID.
                </li>
                <li>
                    All passwords must be changed every ninety (90) days except the application interface users.
                </li>
                <li>
                    All passwords are not permitted to be changed more than 1 time within 1 day.
                </li>
                <li>
                    After the first logon, all users will be forced to change to another password.
                </li>
                <li>
                    A reuse of the same password must be prohibited for a minimum of the next three (3) consecutive password changes.
                </li>
                <li>
                    A user IDs associated with a password must be disabled after a maximum of five (5) consecutive failed login attempts.
                </li>
                <li>
                    All passwords must never be displayed or echoed in clear texts on the screen.
                </li>
            </ul>
        </div>
    </div>
</form>