<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FC" connectionString="data source=LAPTOP-MEACJHM4\SA;initial catalog=PAS_DB_SAPHANA;user id=sa;password=fid123!!;MultipleActiveResultSets=True;"/>
    <add name="PAS" connectionString="data source=LAPTOP-MEACJHM4\SA;initial catalog=PAS_DB_SAPHANA;user id=sa;password=fid123!!;MultipleActiveResultSets=True;"/>
    <add name="ELVIS" connectionString="data source=LAPTOP-MEACJHM4\SA;initial catalog=ELVIS_DB;user id=sa;password=fid123!!;MultipleActiveResultSets=True;"/>
    <add name="TRAVEL" connectionString="data source=LAPTOP-MEACJHM4\SA;initial catalog=TRAVEL_DB;user id=sa;password=fid123!!;MultipleActiveResultSets=True;"/>

  </connectionStrings>
  <appSettings>
    <add key="LogDir" value="E:\Fujitsu\ICS SAP HANA\Fund Commitment Tools Migration\Log\"/>
    <add key="LogDirDoc" value="E:\Fujitsu\ICS SAP HANA\Fund Commitment Tools Migration\Log\DOC\"/>
    <add key="WSUriDummy" value="http://localhost:8099/api/FCPASPO"/>
    <add key="WSUriProd" value="http://localhost:1234/api/FCPASPO"/>
    <add key="WSPrefix" value="ns0"/>
    <add key="WSNamespace" value="http://toyota.com/th/projectsystem/fund"/>
    <add key="IsDummy" value="1"/>
    <add key="AuthUser" value="Admin"/>
    <add key="AuthPassword" value="Admin@123"/>
    
    <add key="item" value="item"/>
    <add key="doc_type" value="doc_type"/>
    <add key="action" value="action"/>
    <add key="system" value="system"/>
    <add key="test_run" value="test_run"/>
    <add key="doc_no" value="doc_no"/>
    <add key="closed" value="closed"/>
    <add key="doc_date" value="doc_date"/>
    <add key="submit_date" value="submit_date"/>
    <add key="requestor" value="requestor"/>
    <add key="company_code" value="company_code"/>
    <add key="currency" value="currency"/>
    <add key="currency_rate" value="currency_rate"/>
    <add key="line_no" value="line_no"/>
    <add key="closed2" value="closed2"/>
    <add key="ref_doc_no" value="ref_doc_no"/>
    <add key="ref_doc_line_item_no" value="ref_doc_line_item_no"/>
    <add key="item_code" value="item_code"/>
    <add key="item_description" value="item_description"/>
    <add key="part_category" value="part_category"/>
    <add key="inventory_type" value="inventory_type"/>
    <add key="material_type" value="material_type"/>
    <add key="supplier_code" value="supplier_code"/>
    <add key="asset" value="asset"/>
    <add key="wbs_element" value="wbs_element"/>
    <add key="cost_center_charger" value="cost_center_charger"/>
    <add key="total_amount" value="total_amount"/>
    <add key="quantity" value="quantity"/>
    <add key="uom" value="uom"/>
    <add key="journal_source" value="journal_source"/>
    <add key="gl_account" value="gl_account"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
