USE [PAS_DB_QA]
GO
/****** Object:  Table [dbo].[TB_M_SOURCE_LIST]    Script Date: 12/13/2017 5:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP TABLE TB_M_SOURCE_LIST
GO
CREATE TABLE [dbo].[TB_M_SOURCE_LIST](
	[SOURCE_LIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEQ_NO] [int] NULL,
	[MAT_NO] [varchar](23) NOT NULL,
	[DELIVERY_ADDR] [varchar](10) NOT NULL,
	[VENDOR_CD] [varchar](6) NOT NULL,
	[VALID_DT_FROM] [date] NOT NULL,
	[VALID_DT_TO] [date] NOT NULL,
	[DELETE_FLAG] [char](1) NULL,
	[DELETE_BY] [varchar](20) NULL,
	[DELETE_DT] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](20) NULL,
	[CHANGED_DT] [datetime] NULL,
	[PROC_CHANNEL_CD] [varchar](4) NULL,
	[PLANT_CD] [varchar](4) NULL,
	SAP_NO VARCHAR(15) NULL, 
	SAP_REMARKS VARCHAR(5000) NULL
CONSTRAINT [PK_TB_M_SOURCE_LIST] PRIMARY KEY CLUSTERED 
(
	[SOURCE_LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_M_SOURCE_LIST] ([SEQ_NO], [MAT_NO], [DELIVERY_ADDR], [VENDOR_CD], [VALID_DT_FROM], [VALID_DT_TO], [DELETE_FLAG], [DELETE_BY], [DELETE_DT], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [PROC_CHANNEL_CD], [PLANT_CD]) VALUES (1, N'100128', N'HO', N'250043', CAST(N'2017-12-12' AS Date), CAST(N'2017-12-31' AS Date), N'N', NULL, NULL, N'yanes.sui', CAST(N'2017-12-12T17:49:19.590' AS DateTime), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TB_M_SOURCE_LIST] ([SEQ_NO], [MAT_NO], [DELIVERY_ADDR], [VENDOR_CD], [VALID_DT_FROM], [VALID_DT_TO], [DELETE_FLAG], [DELETE_BY], [DELETE_DT], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [PROC_CHANNEL_CD], [PLANT_CD]) VALUES (1, N'100127', N'HO', N'250043', CAST(N'2017-12-12' AS Date), CAST(N'2017-12-31' AS Date), N'N', NULL, NULL, N'yanes.sui', CAST(N'2017-12-12T17:50:08.397' AS DateTime), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[TB_M_SOURCE_LIST] ([SEQ_NO], [MAT_NO], [DELIVERY_ADDR], [VENDOR_CD], [VALID_DT_FROM], [VALID_DT_TO], [DELETE_FLAG], [DELETE_BY], [DELETE_DT], [CREATED_BY], [CREATED_DT], [CHANGED_BY], [CHANGED_DT], [PROC_CHANNEL_CD], [PLANT_CD]) VALUES (1, N'100126', N'HO', N'100012', CAST(N'2017-12-12' AS Date), CAST(N'2018-04-30' AS Date), N'N', NULL, NULL, N'muliya.fathullah', CAST(N'2017-12-13T15:36:29.407' AS DateTime), NULL, NULL, NULL, NULL)
GO
