@using GPS.Constants.Master
<style>
    .table {
        table-layout: fixed;
    }

    .table > tr > td {
        vertical-align : middle;    
    }

    .table > thead > tr > th {
        vertical-align : middle;    
    }
</style>
<div class="modal-dialog modal-xs" style="width:500px">
    <div class="modal-content">
        <div class="modal-header">
            <div>GL Account Lookup</div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group form-group-xs">
                        <div class="input-group input-group-xs">
                            <input id="glsearchbox" class="form-control custom-text" type="text">
                            <span class="input-group-btn">
                                <button id="btnsearch-gl" class="addinput custom-button-grid btn btn-primary btn-xs" type="button" onclick="javascript:getGLAccountGrid(1)">
                                    &nbsp<i class="fa fa-search"></i>&nbsp</button>
                                <button id="btnclearlookup" class="addinput custom-button-grid btn btn-default btn-xs" type="button" onclick="javascript:ClearLookupCriteria('glaccount')">
                                    &nbsp<i class="fa fa-eraser"></i>&nbsp</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="full-border">
                    <div class="col-xs-12 col-md-12 form-main-group-box-search" id="gl-grid-container">
                        @Html.Partial(RoutinePage._LookupGLAccountGrid)
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal" onclick="javascript:ClearLookupValue('glaccount')">Cancel</button>
            </div>
        </div>
    </div>
</div>