@using GPS.Models.Master
@{
    List<Routine> lpr = ViewData["PIC"] != "" ? (List<Routine>)ViewData["PIC"] : new List<Routine>();
}
<div class="table-responsive">
    <table id="LookUpTable-glclass" class="table table-striped table-bordered table-condensed gl-lookup-table" width="100%">
        <thead>
            <tr>
                <th class="text-center control-label text-muted" style="width:100%">PIC</th>
            </tr>
        </thead>
        <tbody id="bodylookup-glclass">
            @if (lpr.Count > 0)
            {
                foreach (Routine pr in lpr)
                { 
                    <tr ondblclick="javascript:MovePICKey('@pr.NO_REG')" style="cursor:pointer">
                        <td>@pr.PERSONNEL_NAME</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No PIC Data</td>
                </tr> 
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    @Html.Partial("_UIPaging")
                </td>
            </tr>
        </tfoot>
    </table>
</div>